<div class="desc--bottom btn--wrapper">
    <a class="btn btn--primary" href="/reservation-equipement">Reserver la machine</a>
    <a class="btn btn--bordered" href="/inscription-atelier">Se former</a>
</div>