 <header class="header main--header header--margin">
            <nav class="nav container section--padding">
              <div class="nav__data">
                      <div class="logo--wrapper">
                            <a href="/"><img src="images/logo.png" alt="" srcset=""></a>
                        </div> 
    
                    <div class="nav__toggle" id="nav-toggle">
                        <div class="bar--wrapper">
                            <span class="nav__toggle-bar"></span>
                        <span class="nav__toggle-bar"></span>
                        </div>
                    </div>
                 </div>
                       <div class="menu--content__group" id="sm-menu--content">
                         <ul class="main--nav__links">
                            <li class="up--link"><a href="#">Le FabLab</a>
                            <!-- First Tier Drop Down -->
                                <ul class="submenu">
                                    <li  class="dropdown--link"><a href="/a-propos">A Propos</a></li>
                                    <li  class="dropdown--link"><a href="/faire-un-don">Nous soutenir</a></li>
                                    <li  class="dropdown--link"><a href="/">Membres</a>
                                     <ul>
                                            <li class="dropdown--link"><a href="/inscription">S'inscrire</a></li>
                                            <li class="dropdown--link"><a href="/connexion">Se connecter</a></li>
                                     </ul>
                                    </li>
                                </ul>        
                            </li>

                             <li class="up--link"><a href="#">Activités</a>
                            <!-- First Tier Drop Down -->
                                <ul class="submenu">
                                    <li class="dropdown--link"><a href="/nos-projets"> Nos projets</a></li>
                                    <li class="dropdown--link"><a href="/domaines-d-expertise"> Expertise</a></li>
                                    <li class="dropdown--link"><a href="/agenda">Événement</a></li>
                                    <li class="dropdown--link"><a href="/agritech-et-bio">Agri Bio</a></li>
                                </ul>        
                            </li>

                            <li class="up--link"><a href="/liste-equipement"> Equipements</a></li>
                            <li class="up--link"><a href="/ateliers">Formations</a></li>
                            
                             <li class="up--link"><a href="#">Ressources</a>
                            <!-- First Tier Drop Down -->
                                <ul class="submenu">
                                    <li class="dropdown--link"><a href="/blog">Actualités</a></li>
                                    <li class="dropdown--link"><a href="#"> Documentation</a></li>
                                </ul>        
                            </li>

                      </ul>

                       <div class="nav--button__group">
                            <div class="language--box">

                                <div class="switch">
                                        <input id="language-toggle" class="check-toggle check-toggle-round-flat" type="checkbox">
                                        <label for="language-toggle"></label>
                                        <span class="on">FR</span>
                                        <span class="off">EN</span>
  	                            </div>
                               
                            </div>
                    <a class="btn btn--primary" href="/contact">Nous contacter</a>
                </div> 

            </nav>
        </header> 