 <header class="header main--header header--margin">
            <nav class="nav container section--padding">
              <div class="nav__data">
                      <div class="logo--wrapper">
                            <a href="/"><img src="images/logo.png" alt="" srcset=""></a>
                        </div> 
    
                    <div class="nav__toggle" id="nav-toggle">
                        <i class="nav__toggle-bar"></i>
                        <i class="nav__toggle-bar"></i>
                    </div>
                </div>
                       <div class="menu--content__group">
                         <ul class="main--nav__links">
                            <li class="up--link"><a href="#">Le FabLab</a>
                            <!-- First Tier Drop Down -->
                                <ul class="submenu">
                                    <li  class="dropdown--link"><a href="/a-propos">A Propos</a></li>
                                    <li  class="dropdown--link"><a href="/faire-un-don">Nous soutenir</a></li>
                                    <li  class="dropdown--link"><a href="/">Membres</a>
                                     <ul>
                                            <li class="dropdown--link"><a href="/inscription">S'inscrire</a></li>
                                            <li class="dropdown--link"><a href="/connexion">Se connecter</a></li>
                                     </ul>
                                    </li>
                                </ul>        
                            </li>

                             <li class="up--link"><a href="#">Projets et activités</a>
                            <!-- First Tier Drop Down -->
                                <ul class="submenu">
                                    <li class="dropdown--link"><a href="/domaines-d-expertise">Domaine d’expertise</a></li>
                                    <li class="dropdown--link"><a href="/nos-projets"> Nos projets</a></li>
                                    <li class="dropdown--link"><a href="/agenda">Événement</a></li>
                                </ul>        
                            </li>

                            <li class="up--link"><a href="#"> Equipements et Formation</a>
                            <!-- First Tier Drop Down -->
                            <ul class="submenu">
                                <li class="dropdown--link"><a href="/liste-equipement">Equipements</a></li>
                                <li class="dropdown--link"><a href="/ateliers">Formations</a></li>
                                <li class="dropdown--link"><a href="#">Lorem ipsum dolor</a>
                                <!-- Second Tier Drop Down -->
                                <ul>
                                    <li class="dropdown--link"><a href="#">HTML/CSS</a></li>
                                    <li class="dropdown--link"><a href="#">jQuery</a></li>
                                    <li class="dropdown--link"><a href="#">Other</a>
                                        <!-- Third Tier Drop Down -->
                                        <ul>
                                            <li class="dropdown--link"><a href="#">Stuff</a></li>
                                            <li class="dropdown--link"><a href="#">Things</a></li>
                                            <li class="dropdown--link"><a href="#">Other Stuff</a></li>
                                        </ul>
                                    </li>
                                </ul>
                                </li>
                            </ul>
                            </li>
                              <li class="up--link"><a href="#">Actualité et Documentation</a>
                            <!-- First Tier Drop Down -->
                                <ul class="submenu">
                                    <li class="dropdown--link"><a href="/blog">Actualités/Blogs</a></li>
                                    <li class="dropdown--link"><a href="#"> Documentation/Blog</a></li>
                                </ul>        
                            </li>

                      </ul>

                       <div class="nav--button__group">
                            <div class="language--box">
                                <a class="lang--link current" href="http://">
                                    <img class="lang--icon" src="images/icons/eng-flag.svg" alt="" srcset="">FR 
                                    <span class="drop--down__icon">
                                            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.00056 7.68144L9.88806 4.79395L10.7129 5.61878L7.00056 9.33111L3.28823 5.61878L4.11306 4.79395L7.00056 7.68144Z" fill="#505050" fill-opacity="0.55"/>
                                            </svg>
                                    </span> 
                                </a>

                                 <a class="lang--link " href="http://">
                                    <img class="lang--icon" src="images/icons/eng-flag.svg" alt="" srcset="">ENG</a>
                            </div>
                    <a class="btn btn--primary" href="/contact">Nous contacter</a>
                </div> 

            </nav>
        </header> 