 <header class="header header--margin">
            <nav class="nav container section--padding">
                <div class="nav__data">
                      <div class="logo--wrapper">
                            <a href="/"><img src="images/logo.png" alt="" srcset=""></a>
                        </div> 
    
                    <div class="nav__toggle" id="nav-toggle">
                        <i class="ri-menu-line nav__toggle-menu"></i>
                        <i class="ri-close-line nav__toggle-close"></i>
                    </div>
                </div>

                <!--=============== NAV MENU ===============-->
                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <!--=============== DROPDOWN 1 ===============-->
                        <li class="dropdown__item">                      
                            <div class="nav__link dropdown__button">
                                Le Fablab <i class="ri-arrow-down-s-line dropdown__arrow"><svg width="8" height="13" viewBox="0 0 8 13" fill="current" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M5.17168 6.50023L0.22168 1.55023L1.63568 0.13623L7.99968 6.50023L1.63568 12.8642L0.22168 11.4502L5.17168 6.50023Z" fill="current"/>
                                            </svg>
                                        </i>
                            </div>

                            <div class="dropdown__container">
                                <div class="dropdown__content">
                                    <div class="dropdown__group">
                                        <div class="dropdown__icon">
                                            <i class="ri-flashlight-line"></i>
                                        </div>
    
                                        <span class="dropdown__title">Most viewed courses</span>
    
                                        <ul class="dropdown__list">
                                            <li>
                                                <a href="#" class="dropdown__link">HTML for beginners</a>
                                            </li>
                                            <li>
                                                <a href="#" class="dropdown__link">Advanced CSS</a>
                                            </li>
                                            <li>
                                                <a href="#" class="dropdown__link">JavaScript OOP</a>
                                            </li>
                                        </ul>
                                    </div>
    
                                    <div class="dropdown__group">
                                        <div class="dropdown__icon">
                                            <i class="ri-heart-3-line"></i>
                                        </div>
    
                                        <span class="dropdown__title">Popular courses</span>
    
                                        <ul class="dropdown__list">
                                            <li>
                                                <a href="#" class="dropdown__link">Development with Flutter</a>
                                            </li>
                                            <li>
                                                <a href="#" class="dropdown__link">Web development with React</a>
                                            </li>
                                            <li>
                                                <a href="#" class="dropdown__link">Backend development expert</a>
                                            </li>
                                        </ul>
                                    </div>
    
                                    <div class="dropdown__group">
                                        <div class="dropdown__icon">
                                            <i class="ri-book-mark-line"></i>
                                        </div>
    
                                        <span class="dropdown__title">Careers</span>
    
                                        <ul class="dropdown__list">
                                            <li>
                                                <a href="#" class="dropdown__link">Web development</a>
                                            </li>
                                            <li>
                                                <a href="#" class="dropdown__link">Applications development</a>
                                            </li>
                                            <li>
                                                <a href="#" class="dropdown__link">UI/UX design</a>
                                            </li>
                                            <li>
                                                <a href="#" class="dropdown__link">Informatic security</a>
                                            </li>
                                        </ul>
                                    </div>
    
                                    <div class="dropdown__group">
                                        <div class="dropdown__icon">
                                            <i class="ri-file-paper-2-line"></i>
                                        </div>
    
                                        <span class="dropdown__title">Certifications</span>
    
                                        <ul class="dropdown__list">
                                            <li>
                                                <a href="#" class="dropdown__link">Course certificates</a>
                                            </li>
                                            <li>
                                                <a href="#" class="dropdown__link">Free certifications</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <!--=============== DROPDOWN 2 ===============-->
                        <li class="dropdown__item">
                            <div class="nav__link dropdown__button">
                                Ateliers et formations <i class="ri-arrow-down-s-line dropdown__arrow"><svg width="8" height="13" viewBox="0 0 8 13" fill="current" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M5.17168 6.50023L0.22168 1.55023L1.63568 0.13623L7.99968 6.50023L1.63568 12.8642L0.22168 11.4502L5.17168 6.50023Z" fill="current"/>
                                            </svg>
                                        </i>
                            </div>

                            <div class="dropdown__container">
                                <div class="dropdown__content">
                                    <div class="dropdown__group">
                                        <div class="dropdown__icon">
                                            <i class="ri-code-line"></i>
                                        </div>
    
                                        <span class="dropdown__title">Web templates</span>
    
                                        <ul class="dropdown__list">
                                            <li>
                                                <a href="#" class="dropdown__link">Free templates</a>
                                            </li>
                                            <li>
                                                <a href="#" class="dropdown__link">Premium templates</a>
                                            </li>
                                        </ul>
                                    </div>
    
                                    <div class="dropdown__group">
                                        <div class="dropdown__icon">
                                            <i class="ri-pen-nib-line"></i>
                                        </div>
    
                                        <span class="dropdown__title">Designs</span>
    
                                        <ul class="dropdown__list">
                                            <li>
                                                <a href="#" class="dropdown__link">Web designs</a>
                                            </li>
                                            <li>
                                                <a href="#" class="dropdown__link">App designs</a>
                                            </li>
                                            <li>
                                                <a href="#" class="dropdown__link">Component design</a>
                                            </li>
                                        </ul>
                                    </div>
    
                                    <div class="dropdown__group">
                                        <div class="dropdown__icon">
                                            <i class="ri-apps-2-line"></i>
                                        </div>
    
                                        <span class="dropdown__title">Others</span>
    
                                        <ul class="dropdown__list">
                                            <li>
                                                <a href="#" class="dropdown__link">Recent blogs</a>
                                            </li>
                                            <li>
                                                <a href="#" class="dropdown__link">Tutorial videos</a>
                                            </li>
                                            <li>
                                                <a href="#" class="dropdown__link">Webinar</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!--=============== DROPDOWN 3 ===============-->
                        <li class="dropdown__item">                        
                            <div class="nav__link dropdown__button">
                                Actualités et Documentation <i class="ri-arrow-down-s-line dropdown__arrow"><svg width="8" height="13" viewBox="0 0 8 13" fill="current" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M5.17168 6.50023L0.22168 1.55023L1.63568 0.13623L7.99968 6.50023L1.63568 12.8642L0.22168 11.4502L5.17168 6.50023Z" fill="current"/>
                                            </svg>
                                        </i>
                            </div>

                            <div class="dropdown__container">
                                <div class="dropdown__content">
                                    <div class="dropdown__group">
                                        <div class="dropdown__icon">
                                            <i class="ri-community-line"></i>
                                        </div>
    
                                        <span class="dropdown__title">About us</span>
    
                                        <ul class="dropdown__list">
                                            <li>
                                                <a href="#" class="dropdown__link">About us</a>
                                            </li>
                                            <li>
                                                <a href="#" class="dropdown__link">Support</a>
                                            </li>
                                            <li>
                                                <a href="#" class="dropdown__link">Contact us</a>
                                            </li>
                                        </ul>
                                    </div>
    
                                    <div class="dropdown__group">
                                        <div class="dropdown__icon">
                                            <i class="ri-shield-line"></i>
                                        </div>
    
                                        <span class="dropdown__title">Safety and quality</span>
    
                                        <ul class="dropdown__list">
                                            <li>
                                                <a href="#" class="dropdown__link">Cookie settings</a>
                                            </li>
                                            <li>
                                                <a href="#" class="dropdown__link">Privacy Policy</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="nav--button__group">
                    <div class="language--box">
                        <img class="lang--icon" src="images/icons/eng-flag.svg" alt="" srcset="">ENG 
                        <span class="drop--down__icon">
                                <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M7.00056 7.68144L9.88806 4.79395L10.7129 5.61878L7.00056 9.33111L3.28823 5.61878L4.11306 4.79395L7.00056 7.68144Z" fill="#505050" fill-opacity="0.55"/>
                                </svg>
                        </span> 
                    </div>
                    <a class="btn btn--primary" href="">Nous contacter</a>
                </div>
            </nav>
        </header> 