<!DOCTYPE html>
<html lang="en">
<head>

    
        <% if (currentPage.includes('blog/post?title') || currentPage.includes('nos-projets/q?=')) { %>
         <base href="../">
        <% } %>
       
     <meta property="og:url"           content="www.dev.h-fablab.org/" />
      <meta property="og:type"          content="website" />
      <meta property="og:title"         content="H-Fablab" />
      <meta property="og:image"         content="www.dev.h-fablab.org/images/logo.png" />
    <meta charset="UTF-8">
     <link rel="icon" type="image/x-icon" href="images/hfablab_logo_dark.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/main.css">
    <script src="https://cdn.fedapay.com/checkout.js?v=1.1.7"></script>
    <% if (locals.page__title) { %>
      <title> <%= locals.page__title %></title>
      <% } else { %>
        <title>H-Fablab</title>
      <% } %>
      
    
</head>
<body>