<section class="inner--hero inner--hero__bloc section--margin mt-2">
         <div class="hero--banner">
                <img src="images/{{{banner__image}}}" alt="" srcset="">
                 <div class="header--text__container">
                        <h1><%= hero__title %></h1>
                        <p><%= hero__subtitle %></p>
                    </div>
                 <div class="dark--separator"></div>
        </div>  
</section>