<section class="section--wrapper latest--blog">
    <div class="container">
         <div class="container--title__group">
           <div class="title--content">
                 <span class="pastille--label pastille--label__black">Blog</span>
                 <h2>Nos dernières actualités</h2>
           </div>
            <a class="btn btn--outlined__icon btn--icon" href="http://">Voir plus <span class="icon"> <svg width="20" height="18" viewBox="0 0 20 18" fill="current" xmlns="http://www.w3.org/2000/svg">
                <path d="M16.172 8.00014L10.101 1.92914L11.515 0.515137L20 9.00014L19.293 9.70714L11.515 17.4851L10.101 16.0711L16.172 10.0001L0 10.0001L0 8.00014L16.172 8.00014Z" fill="current"/>
                </svg></span>
           </a>
        </div>

         <div id="formList">
            <div id="list">
                <div class="item post--item">
                    <div class="img--box ">
                        <img src="images/H-Fablab_image-2.jpg" alt="" srcset="">
                        <div class="date--card__wrapper">
                        <div class="date--card">
                                <span class="day">12</span>
                            <span class="month ">MAi</span>
                        </div>
                        </div>
                    </div>

                    <div class="post--body">
                        <div class="cat--labels">
                            <span class="category--label">Business</span>
                            <span class="category--label">IoT</span>
                        </div>

                        <h4 class="post--title">
                            La couveuse open so pour lutter contre la mortalité  urce et...
                        </h4>

                        <a class="underlined--btn" href="http://">Découvrir</a>
                    </div>
                </div>
                <div class="item post--item">
                    <div class="img--box ">
                        <img src="images/H-Fablab_image-2.jpg" alt="" srcset="">
                        <div class="date--card__wrapper">
                        <div class="date--card">
                                <span class="day">12</span>
                            <span class="month ">MAi</span>
                        </div>
                        </div>
                    </div>

                    <div class="post--body">
                        <div class="cat--labels">
                            <span class="category--label">Business</span>
                            <span class="category--label">IoT</span>
                        </div>

                        <h4 class="post--title">
                            La couveuse open so pour lutter contre la mortalité  urce et...
                        </h4>

                        <a class="underlined--btn" href="/post--xx--xx">Découvrir</a>
                    </div>
                </div>

                <div class="item post--item">
                    <div class="img--box ">
                        <img src="images/H-Fablab_image-2.jpg" alt="" srcset="">
                        <div class="date--card__wrapper">
                        <div class="date--card">
                                <span class="day">12</span>
                            <span class="month ">MAi</span>
                        </div>
                        </div>
                    </div>

                    <div class="post--body">
                        <div class="cat--labels">
                            <span class="category--label">Business</span>
                            <span class="category--label">IoT</span>
                        </div>

                        <h4 class="post--title">
                            La couveuse open so pour lutter contre la mortalité  urce et...
                        </h4>

                        <a class="underlined--btn" href="/post--xx--xx">Découvrir</a>
                    </div>
                </div>

                <div class="item post--item">
                    <div class="img--box ">
                        <img src="images/H-Fablab_image-2.jpg" alt="" srcset="">
                        <div class="date--card__wrapper">
                        <div class="date--card">
                                <span class="day">12</span>
                            <span class="month ">MAi</span>
                        </div>
                        </div>
                    </div>

                    <div class="post--body">
                        <div class="cat--labels">
                            <span class="category--label">Business</span>
                            <span class="category--label">IoT</span>
                        </div>

                        <h4 class="post--title">
                            La couveuse open so pour lutter contre la mortalité  urce et...
                        </h4>

                        <a class="underlined--btn" href="/post--xx--xx">Découvrir</a>
                    </div>
                </div>

                <div class="item post--item">
                    <div class="img--box ">
                        <img src="images/H-Fablab_image-2.jpg" alt="" srcset="">
                        <div class="date--card__wrapper">
                        <div class="date--card">
                                <span class="day">12</span>
                            <span class="month ">MAi</span>
                        </div>
                        </div>
                    </div>

                    <div class="post--body">
                        <div class="cat--labels">
                            <span class="category--label">Business</span>
                            <span class="category--label">IoT</span>
                        </div>

                        <h4 class="post--title">
                            La couveuse open so pour lutter contre la mortalité  urce et...
                        </h4>

                        <a class="underlined--btn" href="/post--xx--xx">Découvrir</a>
                    </div>
                </div>
            </div>
        </div>

    
    <div class="direction">
        <button id="prev"> < </button>
        <button id="next"> > </button>
    </div>
    </div>
</section>
