<footer class=" main--footer">
    <div class="container">
        <div class="footer--header">
              <div class="container--title__group">
           <div class="title--content">
                 <h2>Découvrez nos prochains évènements</h2>
           </div>
            <a class="btn btn--white btn--icon" href="http://">Découvrir<span class="icon"> <svg width="20" height="18" viewBox="0 0 20 18" fill="current" xmlns="http://www.w3.org/2000/svg">
                <path d="M16.172 8.00014L10.101 1.92914L11.515 0.515137L20 9.00014L19.293 9.70714L11.515 17.4851L10.101 16.0711L16.172 10.0001L0 10.0001L0 8.00014L16.172 8.00014Z" fill="current"/>
                </svg></span>
           </a>
        </div>
         <div class="light--separator"></div>

        <div class="main--content flex--container">
            <div class="col--unit__4 company">
                <div class="logo-wrapper">
                    <h3>H-Fabalab</h3>
                </div>

                <div class="contact--info">
                    <div class="address">Angré 7eme tranche, Abidjan, <br> Côte d’ivoire</div>
                    <div class="tel"><a href="tel:+">Tel: +221 7865443333</a></div>
                    <div class="email"><a href="mailto:">hello@hventuregroup.com</a></div>
                    <div class="socials--links__wrapper">
                        <a class="social--link"  href="http://"> <svg width="12" height="19" viewBox="0 0 12 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.3328 0.886253C11.3328 0.754165 11.2804 0.627487 11.187 0.534086C11.0936 0.440686 10.9669 0.388214 10.8348 0.388214H8.34461C7.09067 0.325751 5.86298 0.762133 4.92977 1.60202C3.99657 2.4419 3.43372 3.617 3.36421 4.87057V7.55998H0.874016C0.741928 7.55998 0.61525 7.61245 0.521849 7.70585C0.428449 7.79926 0.375977 7.92593 0.375977 8.05802V10.6478C0.375977 10.7799 0.428449 10.9066 0.521849 11C0.61525 11.0934 0.741928 11.1459 0.874016 11.1459H3.36421V17.8196C3.36421 17.9517 3.41669 18.0784 3.51009 18.1718C3.60349 18.2652 3.73016 18.3176 3.86225 18.3176H6.85049C6.98258 18.3176 7.10926 18.2652 7.20266 18.1718C7.29606 18.0784 7.34853 17.9517 7.34853 17.8196V11.1459H9.95826C10.069 11.1475 10.1771 11.1121 10.2655 11.0453C10.3539 10.9786 10.4175 10.8843 10.4463 10.7773L11.1635 8.18751C11.1833 8.11392 11.186 8.03677 11.1713 7.96199C11.1566 7.88721 11.1249 7.8168 11.0788 7.75618C11.0326 7.69556 10.9731 7.64635 10.9049 7.61233C10.8367 7.57832 10.7616 7.56041 10.6854 7.55998H7.34853V4.87057C7.37331 4.62402 7.48909 4.39555 7.67328 4.22978C7.85746 4.06402 8.09682 3.97286 8.34461 3.9741H10.8348C10.9669 3.9741 11.0936 3.92163 11.187 3.82823C11.2804 3.73482 11.3328 3.60815 11.3328 3.47606V0.886253Z" fill="white"/>
                        </svg> </a>

                         <a class="social--link"  href="http://"> <svg width="12" height="19" viewBox="0 0 12 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.3328 0.886253C11.3328 0.754165 11.2804 0.627487 11.187 0.534086C11.0936 0.440686 10.9669 0.388214 10.8348 0.388214H8.34461C7.09067 0.325751 5.86298 0.762133 4.92977 1.60202C3.99657 2.4419 3.43372 3.617 3.36421 4.87057V7.55998H0.874016C0.741928 7.55998 0.61525 7.61245 0.521849 7.70585C0.428449 7.79926 0.375977 7.92593 0.375977 8.05802V10.6478C0.375977 10.7799 0.428449 10.9066 0.521849 11C0.61525 11.0934 0.741928 11.1459 0.874016 11.1459H3.36421V17.8196C3.36421 17.9517 3.41669 18.0784 3.51009 18.1718C3.60349 18.2652 3.73016 18.3176 3.86225 18.3176H6.85049C6.98258 18.3176 7.10926 18.2652 7.20266 18.1718C7.29606 18.0784 7.34853 17.9517 7.34853 17.8196V11.1459H9.95826C10.069 11.1475 10.1771 11.1121 10.2655 11.0453C10.3539 10.9786 10.4175 10.8843 10.4463 10.7773L11.1635 8.18751C11.1833 8.11392 11.186 8.03677 11.1713 7.96199C11.1566 7.88721 11.1249 7.8168 11.0788 7.75618C11.0326 7.69556 10.9731 7.64635 10.9049 7.61233C10.8367 7.57832 10.7616 7.56041 10.6854 7.55998H7.34853V4.87057C7.37331 4.62402 7.48909 4.39555 7.67328 4.22978C7.85746 4.06402 8.09682 3.97286 8.34461 3.9741H10.8348C10.9669 3.9741 11.0936 3.92163 11.187 3.82823C11.2804 3.73482 11.3328 3.60815 11.3328 3.47606V0.886253Z" fill="white"/>
                        </svg> </a>

                         <a class="social--link"  href="http://"> <svg width="12" height="19" viewBox="0 0 12 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.3328 0.886253C11.3328 0.754165 11.2804 0.627487 11.187 0.534086C11.0936 0.440686 10.9669 0.388214 10.8348 0.388214H8.34461C7.09067 0.325751 5.86298 0.762133 4.92977 1.60202C3.99657 2.4419 3.43372 3.617 3.36421 4.87057V7.55998H0.874016C0.741928 7.55998 0.61525 7.61245 0.521849 7.70585C0.428449 7.79926 0.375977 7.92593 0.375977 8.05802V10.6478C0.375977 10.7799 0.428449 10.9066 0.521849 11C0.61525 11.0934 0.741928 11.1459 0.874016 11.1459H3.36421V17.8196C3.36421 17.9517 3.41669 18.0784 3.51009 18.1718C3.60349 18.2652 3.73016 18.3176 3.86225 18.3176H6.85049C6.98258 18.3176 7.10926 18.2652 7.20266 18.1718C7.29606 18.0784 7.34853 17.9517 7.34853 17.8196V11.1459H9.95826C10.069 11.1475 10.1771 11.1121 10.2655 11.0453C10.3539 10.9786 10.4175 10.8843 10.4463 10.7773L11.1635 8.18751C11.1833 8.11392 11.186 8.03677 11.1713 7.96199C11.1566 7.88721 11.1249 7.8168 11.0788 7.75618C11.0326 7.69556 10.9731 7.64635 10.9049 7.61233C10.8367 7.57832 10.7616 7.56041 10.6854 7.55998H7.34853V4.87057C7.37331 4.62402 7.48909 4.39555 7.67328 4.22978C7.85746 4.06402 8.09682 3.97286 8.34461 3.9741H10.8348C10.9669 3.9741 11.0936 3.92163 11.187 3.82823C11.2804 3.73482 11.3328 3.60815 11.3328 3.47606V0.886253Z" fill="white"/>
                        </svg> </a>

                         <a class="social--link"  href="http://"> <svg width="12" height="19" viewBox="0 0 12 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.3328 0.886253C11.3328 0.754165 11.2804 0.627487 11.187 0.534086C11.0936 0.440686 10.9669 0.388214 10.8348 0.388214H8.34461C7.09067 0.325751 5.86298 0.762133 4.92977 1.60202C3.99657 2.4419 3.43372 3.617 3.36421 4.87057V7.55998H0.874016C0.741928 7.55998 0.61525 7.61245 0.521849 7.70585C0.428449 7.79926 0.375977 7.92593 0.375977 8.05802V10.6478C0.375977 10.7799 0.428449 10.9066 0.521849 11C0.61525 11.0934 0.741928 11.1459 0.874016 11.1459H3.36421V17.8196C3.36421 17.9517 3.41669 18.0784 3.51009 18.1718C3.60349 18.2652 3.73016 18.3176 3.86225 18.3176H6.85049C6.98258 18.3176 7.10926 18.2652 7.20266 18.1718C7.29606 18.0784 7.34853 17.9517 7.34853 17.8196V11.1459H9.95826C10.069 11.1475 10.1771 11.1121 10.2655 11.0453C10.3539 10.9786 10.4175 10.8843 10.4463 10.7773L11.1635 8.18751C11.1833 8.11392 11.186 8.03677 11.1713 7.96199C11.1566 7.88721 11.1249 7.8168 11.0788 7.75618C11.0326 7.69556 10.9731 7.64635 10.9049 7.61233C10.8367 7.57832 10.7616 7.56041 10.6854 7.55998H7.34853V4.87057C7.37331 4.62402 7.48909 4.39555 7.67328 4.22978C7.85746 4.06402 8.09682 3.97286 8.34461 3.9741H10.8348C10.9669 3.9741 11.0936 3.92163 11.187 3.82823C11.2804 3.73482 11.3328 3.60815 11.3328 3.47606V0.886253Z" fill="white"/>
                        </svg> </a>
                    </div>
                </div>
            </div>
            <div class="col--unit__4 nav--links">
                <h3 class="underlined--title">Navigation</h3>
                <div class="nav--link__wrapper">
                    <a href="http://">Acceuil</a>
                    <a href="http://">Nos projets</a>
                    <a href="http://">A Propos</a>
                    <a href="http://">Agenda</a>
                    <a href="http://">Expertise</a>
                    <a href="http://">Documentation</a>
                    <a href="http://">Blog</a>
                    <a href="http://">Contribuer</a>
                </div>
            </div>
            <div class="col--unit__4 newsletters--box">
                <h3 class="underlined--title">actualités</h3>
                <p>Abonnez-vous à la newsletter</p>
                <form action="" method="post">
                    <div class="mail--input__wrapper">
                        <input  class="mail--input" type="text" placeholder="Mail">
                        <button class="submit" type="submit">S'abonner</button>
                    </div>
                    <div class="consent--checkbox">
                        <input class="checkbox" type="checkbox" name="" id=""><span>En cliquant sur “S’abonner”, vous accepter de reçevoir nos Emails périodique</span>
                    </div>
                </form>
            </div>
        </div>
        <div class="light--separator"></div>
        <div class="footer--bottom flex--container">
            <p class="copy-wright__box">2023 © HV-Fablab Tous droits réservés</p>
             
             <div class="legal--links">
                <span><a href="http://">Mentions légales</a></span>
                <span><a href="http://">Confidentialité</a></span>
            </div>
        </div>
        </div>
    </div>
</footer>