<footer class=" main--footer">
    <div class="container">
        <div class="footer--header">
              <div class="container--title__group">
           <div class="title--content">
                 <h2>Découvrez nos prochains évènements</h2>
           </div>
            <a class="btn btn--white btn--icon" href="/nos-evenements">Découvrir<span class="icon"> <svg width="20" height="18" viewBox="0 0 20 18" fill="current" xmlns="http://www.w3.org/2000/svg">
                <path d="M16.172 8.00014L10.101 1.92914L11.515 0.515137L20 9.00014L19.293 9.70714L11.515 17.4851L10.101 16.0711L16.172 10.0001L0 10.0001L0 8.00014L16.172 8.00014Z" fill="current"/>
                </svg></span>
           </a>
        </div>
         <div class="light--separator"></div>

        <div class="main--content flex--container">
            <div class="col--unit__4 company">
                <div class="logo-wrapper">
                    <img src="images/hfablab_logo_dark.png" alt="logo">
                </div>

                <div class="contact--info">
                    <div class="address">Bingerville, Akouai Santai, derrière jardin botanique, Abidjan Côte d’ivoire</div>
                    <div class="tel">
                        <div>
                            <a href="tel:+">Tel: +225 27 22 23 98 97 </a>
                            <span>|</span>
                        <a href="tel:+">+225 01 51 52 64 49</a>
                        </div>
                        <a href="tel:+">+225 05 95 53 74 46 </a>
                    </div>
                    <div class="email"><a href="mailto:">contact@h-fablab.org</a></div>
                    <div class="socials--links__wrapper">
                        <a class="social--link" target="_blank" href="https://www.facebook.com/hfablab/"> <svg width="12" height="19" viewBox="0 0 12 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.3328 0.886253C11.3328 0.754165 11.2804 0.627487 11.187 0.534086C11.0936 0.440686 10.9669 0.388214 10.8348 0.388214H8.34461C7.09067 0.325751 5.86298 0.762133 4.92977 1.60202C3.99657 2.4419 3.43372 3.617 3.36421 4.87057V7.55998H0.874016C0.741928 7.55998 0.61525 7.61245 0.521849 7.70585C0.428449 7.79926 0.375977 7.92593 0.375977 8.05802V10.6478C0.375977 10.7799 0.428449 10.9066 0.521849 11C0.61525 11.0934 0.741928 11.1459 0.874016 11.1459H3.36421V17.8196C3.36421 17.9517 3.41669 18.0784 3.51009 18.1718C3.60349 18.2652 3.73016 18.3176 3.86225 18.3176H6.85049C6.98258 18.3176 7.10926 18.2652 7.20266 18.1718C7.29606 18.0784 7.34853 17.9517 7.34853 17.8196V11.1459H9.95826C10.069 11.1475 10.1771 11.1121 10.2655 11.0453C10.3539 10.9786 10.4175 10.8843 10.4463 10.7773L11.1635 8.18751C11.1833 8.11392 11.186 8.03677 11.1713 7.96199C11.1566 7.88721 11.1249 7.8168 11.0788 7.75618C11.0326 7.69556 10.9731 7.64635 10.9049 7.61233C10.8367 7.57832 10.7616 7.56041 10.6854 7.55998H7.34853V4.87057C7.37331 4.62402 7.48909 4.39555 7.67328 4.22978C7.85746 4.06402 8.09682 3.97286 8.34461 3.9741H10.8348C10.9669 3.9741 11.0936 3.92163 11.187 3.82823C11.2804 3.73482 11.3328 3.60815 11.3328 3.47606V0.886253Z" fill="white"/>
                        </svg> </a>

                         <a class="social--link" target="_blank"  href="https://www.linkedin.com/company/hfablab"> <svg width="19" height="20" viewBox="0 0 19 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4.38936 19.0282H0.556667V6.68569H4.38936V19.0282ZM2.4707 5.00208C1.2453 5.00208 0.250977 3.98663 0.250977 2.76123C0.250977 2.17252 0.48484 1.60793 0.901119 1.19165C1.3174 0.775367 1.88199 0.541504 2.4707 0.541504C3.05941 0.541504 3.624 0.775367 4.04028 1.19165C4.45656 1.60793 4.69042 2.17252 4.69042 2.76123C4.69042 3.98663 3.6961 5.00208 2.4707 5.00208ZM18.7337 19.0282H14.9096V13.02C14.9096 11.588 14.8806 9.75184 12.917 9.75184C10.9244 9.75184 10.6187 11.3074 10.6187 12.917V19.0282H6.78999V6.68569H10.4655V8.3693H10.519C11.0307 7.39941 12.2805 6.37604 14.1451 6.37604C18.024 6.37604 18.737 8.9305 18.737 12.2482V19.0282H18.7337Z" fill="white"/>
                            </svg> </a>

                         <a class="social--link"  target="_blank" href="https://www.instagram.com/h_fablab/"> 
                            <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M13.7721 10.3529C13.7721 8.55994 12.3377 7.12559 10.5448 7.12559C8.75184 7.12559 7.31748 8.55994 7.31748 10.3529C7.31748 12.1458 8.75184 13.5802 10.5448 13.5802C12.3377 13.5802 13.7721 12.1458 13.7721 10.3529ZM15.4455 10.3529C15.4455 13.1021 13.294 15.2536 10.5448 15.2536C7.7956 15.2536 5.64407 13.1021 5.64407 10.3529C5.64407 7.60371 7.7956 5.45218 10.5448 5.45218C13.294 5.45218 15.4455 7.60371 15.4455 10.3529ZM16.7603 5.21312C16.7603 5.93029 16.2822 6.40841 15.565 6.40841C14.8478 6.40841 14.3697 5.93029 14.3697 5.21312C14.3697 4.49594 14.8478 4.01782 15.565 4.01782C16.2822 4.01782 16.7603 4.61547 16.7603 5.21312ZM10.5448 2.46394C9.11043 2.46394 6.12219 2.34441 4.92689 2.82253C4.09019 3.18112 3.37301 3.89829 3.13395 4.735C2.65583 5.93029 2.77536 8.91853 2.77536 10.3529C2.77536 11.7872 2.65583 14.7755 3.13395 15.9708C3.37301 16.8075 4.09019 17.5247 4.92689 17.7637C6.12219 18.2418 9.22996 18.1223 10.5448 18.1223C11.8596 18.1223 14.9674 18.2418 16.1627 17.7637C16.9994 17.4051 17.597 16.8075 17.9556 15.9708C18.4337 14.6559 18.3142 11.6677 18.3142 10.3529C18.3142 9.03806 18.4337 5.93029 17.9556 4.735C17.7165 3.89829 16.9994 3.18112 16.1627 2.94206C14.9674 2.34441 11.9791 2.46394 10.5448 2.46394ZM20.1071 10.3529V14.2974C20.1071 15.7317 19.629 17.1661 18.5533 18.3614C17.4775 19.4371 16.0431 19.9152 14.4893 19.9152H6.60031C5.16595 19.9152 3.7316 19.4371 2.5363 18.3614C1.58007 17.2856 0.982422 15.8512 0.982422 14.2974V6.40841C0.982422 4.85453 1.58007 3.42018 2.5363 2.34441C3.7316 1.38817 5.16595 0.790527 6.60031 0.790527H14.4893C15.9236 0.790527 17.358 1.26865 18.5533 2.34441C19.5095 3.42018 20.1071 4.85453 20.1071 6.40841V10.3529Z" fill="white"/>
                            </svg>
                        </a>

                         <a class="social--link"  target="_blank" href="https://www.youtube.com/channel/UCnJbxmy2khcbgQWHCEaLfrA"> <svg width="17" height="20" viewBox="0 0 17 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10.8233 13.8343V16.1129C10.8233 16.5953 10.6836 16.8365 10.4042 16.8365C10.2394 16.8365 10.0782 16.7573 9.9206 16.5989V13.3483C10.0782 13.1899 10.2394 13.1107 10.4042 13.1107C10.6836 13.1107 10.8233 13.3519 10.8233 13.8343ZM14.4556 13.8451V14.3418H13.4884V13.8451C13.4884 13.3555 13.6496 13.1107 13.972 13.1107C14.2944 13.1107 14.4556 13.3555 14.4556 13.8451ZM4.07457 11.4908H5.22443V10.4757H1.87156V11.4908H2.99993V17.6356H4.07457V11.4908ZM7.16953 17.6356H8.12596V12.3008H7.16953V16.3829C6.9546 16.6853 6.75042 16.8365 6.55698 16.8365C6.42803 16.8365 6.3528 16.7609 6.33131 16.6097C6.32415 16.5881 6.32056 16.4621 6.32056 16.2317V12.3008H5.36414V16.5233C5.36414 16.8761 5.39279 17.1389 5.45011 17.3116C5.53608 17.578 5.74384 17.7112 6.0734 17.7112C6.41728 17.7112 6.78266 17.4916 7.16953 17.0525V17.6356ZM11.7797 16.0373V13.9099C11.7797 13.3843 11.7475 13.0279 11.683 12.8407C11.5612 12.4375 11.3069 12.236 10.92 12.236C10.5618 12.236 10.2287 12.4304 9.9206 12.8191V10.4757H8.96418V17.6356H9.9206V17.1173C10.243 17.5132 10.5761 17.7112 10.92 17.7112C11.3069 17.7112 11.5612 17.5132 11.683 17.1173C11.7475 16.9229 11.7797 16.5629 11.7797 16.0373ZM15.412 15.9293V15.7889H14.4341C14.4341 16.1561 14.4269 16.3757 14.4126 16.4477C14.3624 16.7069 14.2192 16.8365 13.9827 16.8365C13.6532 16.8365 13.4884 16.5881 13.4884 16.0913V15.1518H15.412V14.0394C15.412 13.4707 15.3153 13.0531 15.1219 12.7867C14.8424 12.4196 14.4627 12.236 13.9827 12.236C13.4956 12.236 13.1123 12.4196 12.8329 12.7867C12.6323 13.0531 12.532 13.4707 12.532 14.0394V15.9077C12.532 16.4765 12.6359 16.8941 12.8436 17.1605C13.123 17.5276 13.5099 17.7112 14.0042 17.7112C14.5201 17.7112 14.9069 17.5204 15.1648 17.1389C15.2938 16.9445 15.369 16.7501 15.3905 16.5557C15.4048 16.4909 15.412 16.2821 15.412 15.9293ZM8.8782 6.06955V3.80169C8.8782 3.30492 8.72417 3.05654 8.41611 3.05654C8.10805 3.05654 7.95401 3.30492 7.95401 3.80169V6.06955C7.95401 6.57352 8.10805 6.8255 8.41611 6.8255C8.72417 6.8255 8.8782 6.57352 8.8782 6.06955ZM16.6049 14.1798C16.6049 15.8645 16.5117 17.1245 16.3254 17.9596C16.2252 18.3844 16.0174 18.7408 15.7022 19.0287C15.3869 19.3167 15.0216 19.4823 14.606 19.5255C13.2878 19.6767 11.2997 19.7523 8.64178 19.7523C5.98384 19.7523 3.99576 19.6767 2.67754 19.5255C2.26201 19.4823 1.89484 19.3167 1.57603 19.0287C1.25722 18.7408 1.05125 18.3844 0.958117 17.9596C0.771846 17.1533 0.678711 15.8933 0.678711 14.1798C0.678711 12.4951 0.771846 11.2352 0.958117 10.4001C1.05842 9.9753 1.26618 9.61893 1.58141 9.33094C1.89663 9.04296 2.26559 8.87377 2.68829 8.82338C3.99934 8.67939 5.98384 8.60739 8.64178 8.60739C11.2997 8.60739 13.2878 8.67939 14.606 8.82338C15.0216 8.87377 15.3887 9.04296 15.7075 9.33094C16.0263 9.61893 16.2323 9.9753 16.3254 10.4001C16.5117 11.2064 16.6049 12.4663 16.6049 14.1798ZM5.87996 0.399902H6.97609L5.67578 4.70883V7.63545H4.60114V4.70883C4.50084 4.17607 4.28233 3.41291 3.94561 2.41938C3.68054 1.67782 3.4477 1.00466 3.2471 0.399902H4.38621L5.14921 3.24012L5.87996 0.399902ZM9.85612 3.99608V5.88596C9.85612 6.46912 9.75583 6.8939 9.55523 7.16028C9.28298 7.52746 8.90328 7.71105 8.41611 7.71105C7.9361 7.71105 7.55998 7.52746 7.28774 7.16028C7.08714 6.8867 6.98684 6.46192 6.98684 5.88596V3.99608C6.98684 3.42011 7.08714 2.99894 7.28774 2.73256C7.55998 2.36538 7.9361 2.18179 8.41611 2.18179C8.90328 2.18179 9.28298 2.36538 9.55523 2.73256C9.75583 2.99894 9.85612 3.42011 9.85612 3.99608ZM13.4562 2.24659V7.63545H12.4782V7.04149C12.0985 7.48786 11.7296 7.71105 11.3714 7.71105C11.0418 7.71105 10.8305 7.57785 10.7373 7.31147C10.68 7.13868 10.6514 6.8687 10.6514 6.50152V2.24659H11.6293V6.20994C11.6293 6.44752 11.6329 6.57352 11.64 6.58792C11.6615 6.74631 11.7367 6.8255 11.8657 6.8255C12.0591 6.8255 12.2633 6.67071 12.4782 6.36113V2.24659H13.4562Z" fill="white"/>
                            </svg>
                        </a>
                         <a class="social--link"  target="_blank" href="https://twitter.com/h_fablab"> <svg width="22" height="17" viewBox="0 0 22 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M21.46 2C20.69 2.35 19.86 2.58 19 2.69C19.88 2.16 20.56 1.32 20.88 0.31C20.05 0.81 19.13 1.16 18.16 1.36C17.37 0.5 16.26 0 15 0C12.65 0 10.73 1.92 10.73 4.29C10.73 4.63 10.77 4.96 10.84 5.27C7.28004 5.09 4.11004 3.38 2.00004 0.79C1.63004 1.42 1.42004 2.16 1.42004 2.94C1.42004 4.43 2.17004 5.75 3.33004 6.5C2.62004 6.5 1.96004 6.3 1.38004 6V6.03C1.38004 8.11 2.86004 9.85 4.82004 10.24C4.19077 10.4122 3.53013 10.4362 2.89004 10.31C3.16165 11.1625 3.69358 11.9084 4.41106 12.4429C5.12854 12.9775 5.99549 13.2737 6.89004 13.29C5.37367 14.4904 3.49404 15.1393 1.56004 15.13C1.22004 15.13 0.880039 15.11 0.540039 15.07C2.44004 16.29 4.70004 17 7.12004 17C15 17 19.33 10.46 19.33 4.79C19.33 4.6 19.33 4.42 19.32 4.23C20.16 3.63 20.88 2.87 21.46 2Z" fill="#FFFEFE"/>
                                </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col--unit__4 nav--links">
                <h3 class="underlined--title">Navigation</h3>
                <div class="nav--link__wrapper">
                    <a href="/">Acceuil</a>
                    <a href="/nos-projets">Nos projets</a>
                    <a href="/a-propos">A Propos</a>
                    <a href="/agenda">Agenda</a>
                    <a href="domaines-d-expertise">Expertise</a>
                    <a href="">Documentation</a>
                    <a href="/blog">Blog</a>
                    <a href="/faire-un-don">Contribuer</a>
                </div>
            </div>
            <div class="col--unit__4 newsletters--box">
                <h3 class="underlined--title">actualités</h3>
                <p>Abonnez-vous à la newsletter</p>
                <form action="" method="post">
                    <div class="mail--input__wrapper">
                        <input  class="mail--input" type="text" placeholder="Mail">
                        <button class="submit" type="submit">S'abonner</button>
                    </div>
                    <div class="consent--checkbox">
                        <input class="checkbox" type="checkbox" name="" id=""><span>En cliquant sur “S’abonner”, vous accepter de reçevoir nos Emails périodique</span>
                    </div>
                </form>
            </div>
        </div>
        <div class="light--separator"></div>
        <div class="footer--bottom flex--container">
            <p class="copy-wright__box">2023 © HV-Fablab Tous droits réservés</p>
             
             <div class="legal--links">
                <span><a href=" ">Mentions légales</a></span>
                <span><a href=" ">Confidentialité</a></span>
            </div>
        </div>
        </div>
    </div>
</footer>
<% if (currentPage.includes('blog/post?title')) { %>
    <script>
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=1514519048826987&version=v2.0";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <script type="module" src="js/blog_post.js"></script>
<% } else if (currentPage.includes('nos-evenements')) { %>
    <script type="module" src="js/events.js"></script>
<% } else if (currentPage.includes('nos-equipements')) { %>
    <script type="module" src="js/equipments.js"></script>
<% } else if (currentPage.includes('ateliers')) { %>
    <script type="module" src="js/atelier.js"></script>
    <% } else if (currentPage.includes('faire-un-don')) { %>
 <script type="module" src="js/givepage.js"></script>
 <script type="text/javascript">
 FedaPay.init('.pay-btn', { public_key: 'pk_live_nMZMOq1pgMXaTIEyijtAVl4d' });</script>

<% } %>

 <script type="module" src="js/main.js"></script>

</body>
</html>