<section class="inner--hero about section--margin">
    {{> header}}
    <div class="header--title__container">
        <span class="pastille--label pastille--label__black">{{{hero__label}}}</span>
      <h2>{{{hero__title}}}</h2>
     </div>

     <div class="hero--banner">
                <img src="images/{{{banner__image}}}" alt="" srcset="">
                <div class="dark--separator"></div>
     </div>

</section>

<section class="section--wrapper about--us bg--light mt-8">
    <div class="container">
        <div class="upper__content">
           <div class="col--unit__6 side--content">
               <img src="images/Rectangle 34624141.png" alt="" srcset="">
           </div>

           <div class="col--unit__6 accordion--wrapper">
                 <div class="text__wrapper ">
                    <h3>Qui sommes-nous</h3>
                </div>
                <p class="about__description">Lorem ipsum dLorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsanolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan</p>
                <p class="about__description">Lorem ipsum dLorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsanolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan</p>
           </div>
        </div>
         <div class="upper__content mt-5">
           <div class="col--unit__6 accordion--wrapper">
                 <div class="text__wrapper ">
                    <h3>Mission</h3>
                </div>
                <p class="about__description">Lorem ipsum dLorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsanolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan</p>
                <div class="text__wrapper ">
                    <h3>Vision</h3>
                </div>
                <p class="about__description">Lorem ipsum dLorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsanolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan</p>
           </div>
           <div class="col--unit__6 side--content">
               <img src="images/Rectangle 34624141.png" alt="" srcset="">
           </div>

        </div>
    </div>

     <div class="our__nombers">
        <div class="item--box">
            <h3>150</h3>
            <p>d’expérience pratique cumulée</p>
        </div>
        <div class="item--box">
            <h3>150</h3>
            <p>d’expérience pratique cumulée</p>
        </div>
        <div class="item--box">
            <h3>150</h3>
            <p>d’expérience pratique cumulée</p>
        </div>
        <div class="item--box">
            <h3>150</h3>
            <p>d’expérience pratique cumulée</p>
        </div>
    </div>
</section>

<section class="section--wrapper our--team">
    <div class="container">
         <div class="container--title__group">
           <div class="title--content">
                 <span class="pastille--label pastille--label__black">L’équipe</span>
                 <h2>Notre équipe</h2>
           </div>
        </div>

        <div class="team--members flex--container">
            <div class="col--unit__3 member--box">
                <img src="images/Rectangle 23 (3).png" alt="" srcset="">
                <div class="text--content">
                    <h4>Marc Doe</h4>
                    <p><span class="member--role">Founder </span>Spécialiste FabLab et Maker Space</p>
                </div>
            </div>
             <div class="col--unit__3 member--box">
                <img src="images/Rectangle 23 (2).png" alt="" srcset="">
                <div class="text--content">
                    <h4>Marc Doe</h4>
                    <p><span class="member--role">Founder </span>Spécialiste FabLab et Maker Space</p>
                </div>
            </div>
             <div class="col--unit__3 member--box">
                <img src="images/Rectangle 23 (1).png" alt="" srcset="">
                <div class="text--content">
                    <h4>Marc Doe</h4>
                    <p><span class="member--role">Founder </span>Spécialiste FabLab et Maker Space</p>
                </div>
            </div>
             <div class="col--unit__3 member--box">
                <img src="images/Rectangle 23.png" alt="" srcset="">
                <div class="text--content">
                    <h4>Marc Doe</h4>
                    <p><span class="member--role">Founder </span>Spécialiste FabLab et Maker Space</p>
                </div>
            </div>
        </div>
    </div>

</section>

<section class="section--wrapper our--partners mb-3">
     <div class="partners--overlay__box">
       <div class="title">
         <h3>Plus de 17 ans d’expériences cumulées, nous vous accompagnons dans votre projet de prototypage </h3>
       </div>
        <div class="bottom--box">
            <div class="icon"><img src="images/icons/hexagons.svg" alt="" srcset=""></div>
            <h4>20 years</h4>
            <p>Lorem ipsum dolor sit</p>
        </div>
   
    </div>
 <div class="container--title__group mt-3">
           <div class="title--content">
                 <span class="pastille--label pastille--label__black">Partenaires</span>
                 <h2>Des partenaires <br class="xxl--bacspacer">engagés pour soutenir nos projets...</h2>
           </div>
            <div class="partners--content ">
                <p>Afin de donner toutes les chances de réussite aux projets écologiques, solidaires et culturels qu'elle accompagne, Zeste s'entoure de partenaires engagés qui partagent ses valeurs</p>
                <div class="partners--logo flex--container">
                    <img src="images/partners/ReFFAO_logo_Jepeg.jpg" alt="" srcset="">
                    <img src="images/partners/gig_logo.png" alt="" srcset="">
                    <img src="images/partners/ucs.png" alt="" srcset=""> 
                    <img src="images/partners/orange-dc.png" alt="" srcset="">
                    <img src="images/partners/Logo-BloLab.png" alt="" srcset="">
                    <img src="images/partners/Logo-MboaLab.png" alt="" srcset="">
                    <img src="images/partners/LOGO-Jokkolabs.jpg" alt="" srcset="">
                    <img src="images/partners/kujalink-logo.svg" alt="" srcset="">
                    <img src="images/partners/tic4ed.jpg" alt="" srcset="">
                </div>
            </div>
        </div>

   
</section>

{{> main__footer}}