{{> main__nav}}
<section class="inner--hero inner--hero__bloc mt-7  about section--margin mt-2">
         <div class="hero--banner">
                <img src="images/{{{locals.banner__image}}}" alt="" srcset="">
                 <div class="header--text__container">
                        <h1>{{{locals.hero__title}}}</h1>
                        <p>{{{locals.hero__subtitle}}}</p>
                    </div>
                 <div class="dark--separator"></div>
        </div>  
</section>


<section class="section--wrapper about--us bg--light mt-8">
    <div class="container">
        <div class="upper__content col--reversed mb-5">
           <div class="col--unit__6 side--content">
               <img src="images/Rectangle 34624141.png" alt="" srcset="">
           </div>

           <div class="col--unit__6 accordion--wrapper">
                 <div class="text__wrapper ">
                    <h3>Qui sommes-nous</h3>
                </div>
                <p class="about__description">Implanté au cœur d'Abidjan, dans le quartier d’Angré, H-FABLAB ( HIGH VENTURE FABLAB) se définit comme un laboratoire de fabrication numérique ( FAB LAB). Son principal objectif est de promouvoir l'apprentissage par la pratique auprès des jeunes, qu'ils soient scolarisés ou non, alphabétisés en français ou non.</p>
                <p class="about__description">À travers l'exploration des sciences ouvertes, H-FABLAB offre un espace pour la recherche appliquée, le prototypage et la création de solutions locales. Nos activités comprennent des formations qualifiantes et inclusives pour divers publics, notamment les jeunes, les personnes en réorientation professionnelle, les porteurs de projets, et les passionnés de la recherche appliquée dans l'éducation, l'agriculture et d'autres secteurs en Afrique. Nos activités abordent les objectifs de développement durable (ODD) liés à la recherche appliquée, à l'éducation, à l'agriculture numérique, aux énergies renouvelables et à la santé ouverte, couvrant ainsi les ODD 2, 3, 4 et 9</p>
                <p class="about__description">Nos thématiques englobent divers domaines tels que l'agriculture, la production agricole numérique, la création de solutions digitales pour l'agriculture, la formation à la fabrication numérique, la robotique, l'électronique, ainsi que la recherche appliquée à travers un espace de biohacking, de santé ouverte, de fabrication de dispositifs électriques et solaires, tout en favorisant l'énergie renouvelable.</p>
           </div>
        </div>
         <div class="upper__content mt-5">
           <div class="col--unit__6 accordion--wrapper">
                 <div class="text__wrapper ">
                    <h3>Mission</h3>
                </div>
                <p class="about__description">Nous nous donnons la mission de fournir un environnement d'apprentissage inclusif et innovant au sein duquel les jeunes et les individus en quête de nouvelles opportunités professionnelles peuvent développer des compétences en fabrication numérique, en recherche appliquée et en développement solutions technologiques. En travaillant main dans la main avec les communautés locales, nous visons à créer des prototypes concrets répondant aux problèmes de l'éducation, de l'agriculture et des énergies renouvelables, tout en promouvant l'accès équitable aux innovations médicales Opensource. Notre engagement envers les objectifs de développement durable guide notre effort continu pour éduquer, inspirer et catalyser le changement positif en Afrique.</p>
                <div class="text__wrapper ">
                    <h3>Vision</h3>
                </div>
                <p class="about__description">Notre vision est de devenir un catalyseur de l'innovation éducative et technologique en Afrique, en créant un écosystème dynamique où les jeunes, quel que soit leur niveau d'éducation ou leurs antécédents, peuvent s'immerger dans la recherche appliquée, la fabrication numérique et les sciences ouvertes. Nous aspirons à être reconnus comme un centre d'excellence favorisant la créativité, l'apprentissage pratique et la collaboration interdisciplinaire pour relever les défis locaux tout en contribuant aux objectifs de développement durable.
</p>
           </div>
           <div class="col--unit__6 side--content">
               <img src="images/Formation-InkScape.jpg" alt="" srcset="">
           </div>

        </div>
    </div>

     <div class="our__nombers">
        <div class="item--box">
            <h3>150</h3>
            <p>Ateliers organisés</p>
        </div>
        <div class="item--box">
            <h3>80</h3>
            <p>Personnes formées</p>
        </div>
        <div class="item--box">
            <h3>+250</h3>
            <p>Nombre de femmes</p>
        </div>
        <div class="item--box">
            <h3>+950</h3>
            <p>Nombre d’hommes</p>
        </div>
    </div>
</section>

<section class="section--wrapper our--team">
    <div class="container">
         <div class="container--title__group">
           <div class="title--content">
                 <span class="pastille--label pastille--label__black">L’équipe</span>
                 <h2>Notre équipe</h2>
           </div>
        </div>

        <div class="team--members flex--container">
            <div class=" member--box">
                <img src="images/team/Honou_Koffi Dodji_Photo2.jpg" alt="" srcset="">
                <div class="text--content">
                    <h4>Dodji HONOU</h4>
                    <p>Président, FabLab et MakerSpace specialiste</p>
                    <span class="icon--wrap">
                        <a class="social--link" target="_blank"  href="https://www.linkedin.com/in/dodjihonou/"> <svg width="19" height="20" viewBox="0 0 19 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4.38936 19.0282H0.556667V6.68569H4.38936V19.0282ZM2.4707 5.00208C1.2453 5.00208 0.250977 3.98663 0.250977 2.76123C0.250977 2.17252 0.48484 1.60793 0.901119 1.19165C1.3174 0.775367 1.88199 0.541504 2.4707 0.541504C3.05941 0.541504 3.624 0.775367 4.04028 1.19165C4.45656 1.60793 4.69042 2.17252 4.69042 2.76123C4.69042 3.98663 3.6961 5.00208 2.4707 5.00208ZM18.7337 19.0282H14.9096V13.02C14.9096 11.588 14.8806 9.75184 12.917 9.75184C10.9244 9.75184 10.6187 11.3074 10.6187 12.917V19.0282H6.78999V6.68569H10.4655V8.3693H10.519C11.0307 7.39941 12.2805 6.37604 14.1451 6.37604C18.024 6.37604 18.737 8.9305 18.737 12.2482V19.0282H18.7337Z" fill="white"/>
                     </svg> </a>
                    </span>
                </div>
            </div>
             <div class="member--box">
                <img src="images/team/Essoh_Cyrille_ H-Fablab.jpeg" alt="" srcset="">
                <div class="text--content">
                    <h4>Cyrille ESSOH</h4>
                    <p>Vice président, Electro Developpeur</p>
                    <span class="icon--wrap">
                        <a class="social--link" target="_blank"  href="https://www.linkedin.com/in/essoh-cyrille-36413bb4/"> <svg width="19" height="20" viewBox="0 0 19 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4.38936 19.0282H0.556667V6.68569H4.38936V19.0282ZM2.4707 5.00208C1.2453 5.00208 0.250977 3.98663 0.250977 2.76123C0.250977 2.17252 0.48484 1.60793 0.901119 1.19165C1.3174 0.775367 1.88199 0.541504 2.4707 0.541504C3.05941 0.541504 3.624 0.775367 4.04028 1.19165C4.45656 1.60793 4.69042 2.17252 4.69042 2.76123C4.69042 3.98663 3.6961 5.00208 2.4707 5.00208ZM18.7337 19.0282H14.9096V13.02C14.9096 11.588 14.8806 9.75184 12.917 9.75184C10.9244 9.75184 10.6187 11.3074 10.6187 12.917V19.0282H6.78999V6.68569H10.4655V8.3693H10.519C11.0307 7.39941 12.2805 6.37604 14.1451 6.37604C18.024 6.37604 18.737 8.9305 18.737 12.2482V19.0282H18.7337Z" fill="white"/>
                     </svg> </a>
                    </span>
                </div>
            </div>
             <div class="member--box">
                <img src="images/team/Koffi_Nguessan.png" alt="" srcset="">
                <div class="text--content">
                    <h4>Koffi NGUESSAN</h4>
                    <p>Technicien Agricol</p> 
                </div>
            </div>
            
        </div>
    </div>

</section>

<section class="section--wrapper our--partners mb-3">
     <div class="partners--overlay__box">
       <div class="title">
         <h3>Plus de 17 ans d’expériences cumulées, nous vous accompagnons dans votre projet de prototypage </h3>
       </div>
        <div class="bottom--box">
            <div class="icon"><img src="images/icons/hexagons.svg" alt="" srcset=""></div>
            <h4>17 ans</h4>
            <p> d’expériences cumulées</p>
        </div>
   
    </div>
 <div class="container--title__group mt-3">
           <div class="title--content">
                 <span class="pastille--label pastille--label__black">Partenaires</span>
                 <h2>Des partenaires engagés pour une collaboration fructueuse à fort impacts</h2>
           </div>
            <div class="partners--content ">
                <p> “Seul on va plus vite, ensemble on va plus loin”  Nous sommes heureux de collaborer avec des partenaires engagés pour des projets à fort impact social.</p>
                <div class="partners--logo flex--container">
                    <img src="images/partners/ReFFAO_logo_Jepeg.jpg" alt="" srcset="">
                    <img src="images/partners/gig_logo.png" alt="" srcset="">
                    <img src="images/partners/ucs.png" alt="" srcset=""> 
                    <img src="images/partners/orange-dc.png" alt="" srcset="">
                    <img src="images/partners/Logo-BloLab.png" alt="" srcset="">
                    <img src="images/partners/Logo-MboaLab.png" alt="" srcset="">
                    <img src="images/partners/LOGO-Jokkolabs.jpg" alt="" srcset="">
                    <img src="images/partners/kujalink-logo.svg" alt="" srcset="">
                    <img src="images/partners/tic4ed.jpg" alt="" srcset="">
                </div>
            </div>
        </div>

   
</section>

{{> main__footer}}