{{> main__nav}}
<section class="inner--hero inner--hero__bloc mt-7  about section--margin mt-2">
         <div class="hero--banner">
                <img src="images/{{{locals.banner__image}}}" alt="" srcset="">
                 <div class="header--text__container">
                        <h1>{{{locals.hero__title}}}</h1>
                        <p>{{{locals.hero__subtitle}}}</p>
                    </div>
                 <div class="dark--separator"></div>
        </div>  
</section>


<section class="section--wrapper about--us bg--light mt-8">
    <div class="container">
        <div class="upper__content col--reversed mb-5">
           <div class="col--unit__6 side--content">
               <img src="images/Rectangle 34624141.png" alt="" srcset="">
           </div>

           <div class="col--unit__6 accordion--wrapper">
                 <div class="text__wrapper ">
                    <h3>Qui sommes-nous</h3>
                </div>
                <p class="about__description">Implanté au cœur d'Abidjan, dans le quartier d’Angré, H-FABLAB ( HIGH VENTURE FABLAB) se définit comme un laboratoire de fabrication numérique ( FAB LAB). Son principal objectif est de promouvoir l'apprentissage par la pratique auprès des jeunes, qu'ils soient scolarisés ou non, alphabétisés en français ou non.</p>
                <p class="about__description">À travers l'exploration des sciences ouvertes, H-FABLAB offre un espace pour la recherche appliquée, le prototypage et la création de solutions locales. Nos activités comprennent des formations qualifiantes et inclusives pour divers publics, notamment les jeunes, les personnes en réorientation professionnelle, les porteurs de projets, et les passionnés de la recherche appliquée dans l'éducation, l'agriculture et d'autres secteurs en Afrique. Nos activités abordent les objectifs de développement durable (ODD) liés à la recherche appliquée, à l'éducation, à l'agriculture numérique, aux énergies renouvelables et à la santé ouverte, couvrant ainsi les ODD 2, 3, 4 et 9</p>
                <p class="about__description">Nos thématiques englobent divers domaines tels que l'agriculture, la production agricole numérique, la création de solutions digitales pour l'agriculture, la formation à la fabrication numérique, la robotique, l'électronique, ainsi que la recherche appliquée à travers un espace de biohacking, de santé ouverte, de fabrication de dispositifs électriques et solaires, tout en favorisant l'énergie renouvelable.</p>
           </div>
        </div>
         <div class="upper__content mt-5">
           <div class="col--unit__6 accordion--wrapper">
                 <div class="text__wrapper ">
                    <h3>Mission</h3>
                </div>
                <p class="about__description">Nous nous donnons la mission de fournir un environnement d'apprentissage inclusif et innovant au sein duquel les jeunes et les individus en quête de nouvelles opportunités professionnelles peuvent développer des compétences en fabrication numérique, en recherche appliquée et en développement solutions technologiques. En travaillant main dans la main avec les communautés locales, nous visons à créer des prototypes concrets répondant aux problèmes de l'éducation, de l'agriculture et des énergies renouvelables, tout en promouvant l'accès équitable aux innovations médicales Opensource. Notre engagement envers les objectifs de développement durable guide notre effort continu pour éduquer, inspirer et catalyser le changement positif en Afrique.</p>
                <div class="text__wrapper ">
                    <h3>Vision</h3>
                </div>
                <p class="about__description">Notre vision est de devenir un catalyseur de l'innovation éducative et technologique en Afrique, en créant un écosystème dynamique où les jeunes, quel que soit leur niveau d'éducation ou leurs antécédents, peuvent s'immerger dans la recherche appliquée, la fabrication numérique et les sciences ouvertes. Nous aspirons à être reconnus comme un centre d'excellence favorisant la créativité, l'apprentissage pratique et la collaboration interdisciplinaire pour relever les défis locaux tout en contribuant aux objectifs de développement durable.
</p>
           </div>
           <div class="col--unit__6 side--content">
               <img src="images/Formation-InkScape.jpg" alt="" srcset="">
           </div>

        </div>
    </div>

     <div class="our__nombers">
        <div class="item--box">
            <h3>150</h3>
            <p>Ateliers organisés</p>
        </div>
        <div class="item--box">
            <h3>80</h3>
            <p>Personnes formées</p>
        </div>
        <div class="item--box">
            <h3>+250</h3>
            <p>Nombre de femmes</p>
        </div>
        <div class="item--box">
            <h3>+950</h3>
            <p>Nombre d’hommes</p>
        </div>
    </div>
</section>

<section class="section--wrapper our--team">
    <div class="container">
         <div class="container--title__group">
           <div class="title--content">
                 <span class="pastille--label pastille--label__black">L’équipe</span>
                 <h2>Notre équipe</h2>
           </div>
        </div>

        <div class="team--members flex--container">
            <div class=" member--box">
                <img src="images/team/Honou_Koffi Dodji_Photo2.jpg" alt="" srcset="">
                <div class="text--content">
                    <h4>Dodji HONOU</h4>
                    <p>Président, FabLab et MakerSpace specialiste</p>
                    <span class="icon--wrap">
                        <a class="social--link" target="_blank"  href=""> <svg width="12" height="19" viewBox="0 0 12 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path  class="social--svg" d="M11.3328 0.886253C11.3328 0.754165 11.2804 0.627487 11.187 0.534086C11.0936 0.440686 10.9669 0.388214 10.8348 0.388214H8.34461C7.09067 0.325751 5.86298 0.762133 4.92977 1.60202C3.99657 2.4419 3.43372 3.617 3.36421 4.87057V7.55998H0.874016C0.741928 7.55998 0.61525 7.61245 0.521849 7.70585C0.428449 7.79926 0.375977 7.92593 0.375977 8.05802V10.6478C0.375977 10.7799 0.428449 10.9066 0.521849 11C0.61525 11.0934 0.741928 11.1459 0.874016 11.1459H3.36421V17.8196C3.36421 17.9517 3.41669 18.0784 3.51009 18.1718C3.60349 18.2652 3.73016 18.3176 3.86225 18.3176H6.85049C6.98258 18.3176 7.10926 18.2652 7.20266 18.1718C7.29606 18.0784 7.34853 17.9517 7.34853 17.8196V11.1459H9.95826C10.069 11.1475 10.1771 11.1121 10.2655 11.0453C10.3539 10.9786 10.4175 10.8843 10.4463 10.7773L11.1635 8.18751C11.1833 8.11392 11.186 8.03677 11.1713 7.96199C11.1566 7.88721 11.1249 7.8168 11.0788 7.75618C11.0326 7.69556 10.9731 7.64635 10.9049 7.61233C10.8367 7.57832 10.7616 7.56041 10.6854 7.55998H7.34853V4.87057C7.37331 4.62402 7.48909 4.39555 7.67328 4.22978C7.85746 4.06402 8.09682 3.97286 8.34461 3.9741H10.8348C10.9669 3.9741 11.0936 3.92163 11.187 3.82823C11.2804 3.73482 11.3328 3.60815 11.3328 3.47606V0.886253Z" fill="white"/>
                            </svg>
                     </a>

                      <a class="social--link" target="_blank"  href="https://www.linkedin.com/in/dodjihonou/"> <svg width="19" height="20" viewBox="0 0 19 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4.38936 19.0282H0.556667V6.68569H4.38936V19.0282ZM2.4707 5.00208C1.2453 5.00208 0.250977 3.98663 0.250977 2.76123C0.250977 2.17252 0.48484 1.60793 0.901119 1.19165C1.3174 0.775367 1.88199 0.541504 2.4707 0.541504C3.05941 0.541504 3.624 0.775367 4.04028 1.19165C4.45656 1.60793 4.69042 2.17252 4.69042 2.76123C4.69042 3.98663 3.6961 5.00208 2.4707 5.00208ZM18.7337 19.0282H14.9096V13.02C14.9096 11.588 14.8806 9.75184 12.917 9.75184C10.9244 9.75184 10.6187 11.3074 10.6187 12.917V19.0282H6.78999V6.68569H10.4655V8.3693H10.519C11.0307 7.39941 12.2805 6.37604 14.1451 6.37604C18.024 6.37604 18.737 8.9305 18.737 12.2482V19.0282H18.7337Z" fill="white"/>
                        </svg> 
                     </a>

                      <a class="social--link" target="_blank"  href="">   <svg width="20" height="17" viewBox="0 0 20 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M21.46 2C20.69 2.35 19.86 2.58 19 2.69C19.88 2.16 20.56 1.32 20.88 0.31C20.05 0.81 19.13 1.16 18.16 1.36C17.37 0.5 16.26 0 15 0C12.65 0 10.73 1.92 10.73 4.29C10.73 4.63 10.77 4.96 10.84 5.27C7.28004 5.09 4.11004 3.38 2.00004 0.79C1.63004 1.42 1.42004 2.16 1.42004 2.94C1.42004 4.43 2.17004 5.75 3.33004 6.5C2.62004 6.5 1.96004 6.3 1.38004 6V6.03C1.38004 8.11 2.86004 9.85 4.82004 10.24C4.19077 10.4122 3.53013 10.4362 2.89004 10.31C3.16165 11.1625 3.69358 11.9084 4.41106 12.4429C5.12854 12.9775 5.99549 13.2737 6.89004 13.29C5.37367 14.4904 3.49404 15.1393 1.56004 15.13C1.22004 15.13 0.880039 15.11 0.540039 15.07C2.44004 16.29 4.70004 17 7.12004 17C15 17 19.33 10.46 19.33 4.79C19.33 4.6 19.33 4.42 19.32 4.23C20.16 3.63 20.88 2.87 21.46 2Z" fill="white"/>
                        </svg> 
                     </a>
                    </span>
                </div>
            </div>
             <div class="member--box">
                <img src="images/team/Essoh_Cyrille_ H-Fablab.jpeg" alt="" srcset="">
                <div class="text--content">
                    <h4>Cyrille ESSOH</h4>
                    <p>Vice président, Electro Developpeur</p>
                    <span class="icon--wrap">
                         <a class="social--link" target="_blank"  href=""> <svg width="12" height="19" viewBox="0 0 12 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path  class="social--svg" d="M11.3328 0.886253C11.3328 0.754165 11.2804 0.627487 11.187 0.534086C11.0936 0.440686 10.9669 0.388214 10.8348 0.388214H8.34461C7.09067 0.325751 5.86298 0.762133 4.92977 1.60202C3.99657 2.4419 3.43372 3.617 3.36421 4.87057V7.55998H0.874016C0.741928 7.55998 0.61525 7.61245 0.521849 7.70585C0.428449 7.79926 0.375977 7.92593 0.375977 8.05802V10.6478C0.375977 10.7799 0.428449 10.9066 0.521849 11C0.61525 11.0934 0.741928 11.1459 0.874016 11.1459H3.36421V17.8196C3.36421 17.9517 3.41669 18.0784 3.51009 18.1718C3.60349 18.2652 3.73016 18.3176 3.86225 18.3176H6.85049C6.98258 18.3176 7.10926 18.2652 7.20266 18.1718C7.29606 18.0784 7.34853 17.9517 7.34853 17.8196V11.1459H9.95826C10.069 11.1475 10.1771 11.1121 10.2655 11.0453C10.3539 10.9786 10.4175 10.8843 10.4463 10.7773L11.1635 8.18751C11.1833 8.11392 11.186 8.03677 11.1713 7.96199C11.1566 7.88721 11.1249 7.8168 11.0788 7.75618C11.0326 7.69556 10.9731 7.64635 10.9049 7.61233C10.8367 7.57832 10.7616 7.56041 10.6854 7.55998H7.34853V4.87057C7.37331 4.62402 7.48909 4.39555 7.67328 4.22978C7.85746 4.06402 8.09682 3.97286 8.34461 3.9741H10.8348C10.9669 3.9741 11.0936 3.92163 11.187 3.82823C11.2804 3.73482 11.3328 3.60815 11.3328 3.47606V0.886253Z" fill="white"/>
                            </svg>
                     </a>
                        <a class="social--link" target="_blank"  href="https://www.linkedin.com/in/essoh-cyrille-36413bb4/"> <svg width="19" height="20" viewBox="0 0 19 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4.38936 19.0282H0.556667V6.68569H4.38936V19.0282ZM2.4707 5.00208C1.2453 5.00208 0.250977 3.98663 0.250977 2.76123C0.250977 2.17252 0.48484 1.60793 0.901119 1.19165C1.3174 0.775367 1.88199 0.541504 2.4707 0.541504C3.05941 0.541504 3.624 0.775367 4.04028 1.19165C4.45656 1.60793 4.69042 2.17252 4.69042 2.76123C4.69042 3.98663 3.6961 5.00208 2.4707 5.00208ZM18.7337 19.0282H14.9096V13.02C14.9096 11.588 14.8806 9.75184 12.917 9.75184C10.9244 9.75184 10.6187 11.3074 10.6187 12.917V19.0282H6.78999V6.68569H10.4655V8.3693H10.519C11.0307 7.39941 12.2805 6.37604 14.1451 6.37604C18.024 6.37604 18.737 8.9305 18.737 12.2482V19.0282H18.7337Z" fill="white"/>
                     </svg> </a>

                       <a class="social--link" target="_blank"  href="">   <svg width="20" height="17" viewBox="0 0 20 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M21.46 2C20.69 2.35 19.86 2.58 19 2.69C19.88 2.16 20.56 1.32 20.88 0.31C20.05 0.81 19.13 1.16 18.16 1.36C17.37 0.5 16.26 0 15 0C12.65 0 10.73 1.92 10.73 4.29C10.73 4.63 10.77 4.96 10.84 5.27C7.28004 5.09 4.11004 3.38 2.00004 0.79C1.63004 1.42 1.42004 2.16 1.42004 2.94C1.42004 4.43 2.17004 5.75 3.33004 6.5C2.62004 6.5 1.96004 6.3 1.38004 6V6.03C1.38004 8.11 2.86004 9.85 4.82004 10.24C4.19077 10.4122 3.53013 10.4362 2.89004 10.31C3.16165 11.1625 3.69358 11.9084 4.41106 12.4429C5.12854 12.9775 5.99549 13.2737 6.89004 13.29C5.37367 14.4904 3.49404 15.1393 1.56004 15.13C1.22004 15.13 0.880039 15.11 0.540039 15.07C2.44004 16.29 4.70004 17 7.12004 17C15 17 19.33 10.46 19.33 4.79C19.33 4.6 19.33 4.42 19.32 4.23C20.16 3.63 20.88 2.87 21.46 2Z" fill="white"/>
                        </svg> 
                     </a>
                    </span>
                </div>
            </div>
             <div class="member--box">
                <img src="images/team/Koffi_Nguessan.png" alt="" srcset="">
                <div class="text--content">
                    <h4>Koffi NGUESSAN</h4>
                    <p>Technicien Agricol</p> 
                </div>
            </div>
            
        </div>
    </div>

</section>

<section class="section--wrapper our--partners mb-3">
     <div class="partners--overlay__box">
       <div class="title">
         <h3>Plus de 17 ans d’expériences cumulées, nous vous accompagnons dans votre projet de prototypage </h3>
       </div>
        <div class="bottom--box">
            <div class="icon"><img src="images/icons/hexagons.svg" alt="" srcset=""></div>
            <h4>17 ans</h4>
            <p> d’expériences cumulées</p>
        </div>
   
    </div>
 <div class="container--title__group mt-3">
           <div class="title--content">
                 <span class="pastille--label pastille--label__black">Partenaires</span>
                 <h2>Des partenaires engagés pour une collaboration fructueuse à fort impacts</h2>
           </div>
            <div class="partners--content ">
                <p> “Seul on va plus vite, ensemble on va plus loin”  Nous sommes heureux de collaborer avec des partenaires engagés pour des projets à fort impact social.</p>
                <div class="partners--logo flex--container">
                    <img src="images/partners/ReFFAO_logo_Jepeg.jpg" alt="" srcset="">
                    <img src="images/partners/gig_logo.png" alt="" srcset="">
                    <img src="images/partners/ucs.png" alt="" srcset=""> 
                    <img src="images/partners/orange-dc.png" alt="" srcset="">
                    <img src="images/partners/Logo-BloLab.png" alt="" srcset="">
                    <img src="images/partners/Logo-MboaLab.png" alt="" srcset="">
                    <img src="images/partners/LOGO-Jokkolabs.jpg" alt="" srcset="">
                    <img src="images/partners/kujalink-logo.svg" alt="" srcset="">
                    <img src="images/partners/tic4ed.jpg" alt="" srcset="">
                </div>
            </div>
        </div>

   
</section>

{{> main__footer}}