<section class="inner--hero about section--margin">
    {{> header}}
    <div class="header--title__container">
        <span class="pastille--label pastille--label__black">{{{hero__label}}}</span>
      <h2>{{{hero__title}}}</h2>
      <p>{{{hero__subtitle}}}</p>
     </div>

     <div class="hero--banner">
                <img src="images/{{{banner__image}}}" alt="" srcset="">
                <div class="dark--separator"></div>
     </div>

</section>

<section class="section--wrapper about--us bg--light mt-8">
    <div class="container">
        <div class="upper__content">
           <div class="col--unit__8 side--content">
                <div class="text__wrapper ">
                    <span class="pastille--label pastille--label__black">Blog</span>
                    <h2>Créer un environnement dédié à l'exploration et à de nouveaux défis</h2>
                </div>
                <p class="about__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec fringilla</p>
           </div>

           <div class="col--unit__4 accordion--wrapper">
                
                <div class="acc_panel acc__active">
                    <button class="accordion">Qui sommes-nous</button>
                     <p class="accordion--paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan</p>
                </div>

                
                <div class="acc_panel">
                    <button class="accordion">Vision</button>
                    <p class="accordion--paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan</p>
                </div>
                
                <div class="acc_panel">
                    <button class="accordion">Mission</button>
                     <p class="accordion--paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan</p>
                </div>
           </div>
        </div>

        <div class="image__wrapper flex--container">
            <div class="col--unit__8"><img src="images/Rectangle 6004 (2).png" alt="" srcset=""></div>
            <div class="col--unit__4"><img src="images/Rectangle 6004 (2).png" alt="" srcset=""></div>
        </div>
    </div>

     <div class="our__nombers">
        <div class="item--box">
            <h3>150</h3>
            <p>d’expérience pratique cumulée</p>
        </div>
        <div class="item--box">
            <h3>150</h3>
            <p>d’expérience pratique cumulée</p>
        </div>
        <div class="item--box">
            <h3>150</h3>
            <p>d’expérience pratique cumulée</p>
        </div>
        <div class="item--box">
            <h3>150</h3>
            <p>d’expérience pratique cumulée</p>
        </div>
    </div>
</section>

<section class="section--wrapper our--team mb-5">
    <div class="container">
         <div class="container--title__group">
           <div class="title--content">
                 <span class="pastille--label pastille--label__black">L’équipe</span>
                 <h2>Notre équipe</h2>
           </div>
        </div>

        <div class="team--members flex--container">
            <div class="col--unit__3 member--box">
                <img src="images/Rectangle 23 (3).png" alt="" srcset="">
                <div class="text--content">
                    <h4>Marc Doe</h4>
                    <p><span class="member--role">Founder </span>Spécialiste FabLab et Maker Space</p>
                </div>
            </div>
             <div class="col--unit__3 member--box">
                <img src="images/Rectangle 23 (2).png" alt="" srcset="">
                <div class="text--content">
                    <h4>Marc Doe</h4>
                    <p><span class="member--role">Founder </span>Spécialiste FabLab et Maker Space</p>
                </div>
            </div>
             <div class="col--unit__3 member--box">
                <img src="images/Rectangle 23 (1).png" alt="" srcset="">
                <div class="text--content">
                    <h4>Marc Doe</h4>
                    <p><span class="member--role">Founder </span>Spécialiste FabLab et Maker Space</p>
                </div>
            </div>
             <div class="col--unit__3 member--box">
                <img src="images/Rectangle 23.png" alt="" srcset="">
                <div class="text--content">
                    <h4>Marc Doe</h4>
                    <p><span class="member--role">Founder </span>Spécialiste FabLab et Maker Space</p>
                </div>
            </div>
        </div>
    </div>

</section>


{{> main__footer}}