{{> inner--hero}}


<section class="section--wrapper our--workshop mt-5 ">
    <div class="container">
        <div class="title--group">
            <h2>Des atliers pour appréhender le numérique de façon ludique et pédagogique.</h2>
        </div>

        <div class="upper--content">
            <div class="col--unit__6 flex--container some__numbers">
                <div class="col--unit__6">
                    <h2>20+</h2>
                    <p>Lorem ipsum dolor </p>
                </div>
                  <div class="col--unit__6">
                    <h2>5+</h2>
                    <p>Lorem ipsum dolor </p>
                </div>
            </div>
            <div class="col--unit__6 pargraph">
                <p>Nous proposons des ateliers d’apprentissage de nouvelles technologies et nous veillons à ce que les activités soient accessibles au plus grand nombre.</p>
            </div>
        </div>

        <div class="workshop--list mb-5">
            <nav class="inner--nav">
                <a class="tab--link" href="http://">Modélisation et impression 3D</a>
                <a class="tab--link" href="http://">Scanner 3D</a>
                <a class="tab--link" href="http://">Découpe laser</a>
                <a class="tab--link active" href="http://">Fraiseuse CNC</a>
                <a class="tab--link" href="http://">Découpe vynil</a>
                <a class="tab--link" href="http://">Broderie numérique</a>
                <a class="tab--link" href="http://">Electroniqude et IoT</a>
                <a class="tab--link" href="http://">Robotique</a>
            </nav>

            <div class="description">
                <img src="images/H-FabLab-Abidjan-Slide-2.jpg" alt="">
                <p>Lorem ipsum dolor sit amet, cLorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan  onsectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan  </p>
            </div>
        </div>
    </div>
<div class="dark--separator"></div>    
</section>



{{> latest__news}}
{{> main__footer}}