{{> inner--hero}}


<section class="section--wrapper our--workshop mt-5 ">
    <div class="container">
        <div class="upper--content">
            <div class="col--unit__6 flex--container some__numbers">
                <div class="col--unit__6">
                    <h2>20+</h2>
                    <p>Lorem ipsum dolor </p>
                </div>
                  <div class="col--unit__6">
                    <h2>5+</h2>
                    <p>Lorem ipsum dolor </p>
                </div>
            </div>
            <div class="col--unit__6 pargraph">
                <p>Nous proposons des ateliers d’apprentissage de nouvelles technologies et nous veillons à ce que les activités soient accessibles au plus grand nombre.</p>
            </div>
        </div>

        <div class="workshop--list mb-5">
            <nav class="inner--nav">
                <ul class="">
                    <li>
                        <a class="tab--link" href="http://">Modélisation et impression 3D</a>                    <span>
                            <svg width="8" height="13" viewBox="0 0 8 13" fill="current" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.17168 6.50023L0.22168 1.55023L1.63568 0.13623L7.99968 6.50023L1.63568 12.8642L0.22168 11.4502L5.17168 6.50023Z" fill="current"/>
                            </svg>
                        </span>
                    </li>
                    <li>
                        <a class="tab--link" href="http://">Scanner 3D</a>                    <span>
                            <svg width="8" height="13" viewBox="0 0 8 13" fill="current" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.17168 6.50023L0.22168 1.55023L1.63568 0.13623L7.99968 6.50023L1.63568 12.8642L0.22168 11.4502L5.17168 6.50023Z" fill="current"/>
                            </svg>
                        </span>
                    </li>
                    <li>
                        <a class="tab--link" href="http://">Découpe laser</a>                    <span>
                            <svg width="8" height="13" viewBox="0 0 8 13" fill="current" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.17168 6.50023L0.22168 1.55023L1.63568 0.13623L7.99968 6.50023L1.63568 12.8642L0.22168 11.4502L5.17168 6.50023Z" fill="current"/>
                            </svg>
                        </span>
                    </li>
                    <li>
                        <a class="tab--link active" href="http://">Fraiseuse CNC</a>                    <span>
                            <svg width="8" height="13" viewBox="0 0 8 13" fill="current" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.17168 6.50023L0.22168 1.55023L1.63568 0.13623L7.99968 6.50023L1.63568 12.8642L0.22168 11.4502L5.17168 6.50023Z" fill="current"/>
                            </svg>
                        </span>
                    </li>
                    <li>
                        <a class="tab--link" href="http://">Découpe vynil</a>                    <span>
                            <svg width="8" height="13" viewBox="0 0 8 13" fill="current" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.17168 6.50023L0.22168 1.55023L1.63568 0.13623L7.99968 6.50023L1.63568 12.8642L0.22168 11.4502L5.17168 6.50023Z" fill="current"/>
                            </svg>
                        </span>
                    </li>
                    <li>
                        <a class="tab--link" href="http://">Broderie numérique</a>                    <span>
                            <svg width="8" height="13" viewBox="0 0 8 13" fill="current" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.17168 6.50023L0.22168 1.55023L1.63568 0.13623L7.99968 6.50023L1.63568 12.8642L0.22168 11.4502L5.17168 6.50023Z" fill="current"/>
                            </svg>
                        </span>
                    </li>
                    <li>
                        <a class="tab--link" href="http://">Electroniqude et IoT</a>                    <span>
                            <svg width="8" height="13" viewBox="0 0 8 13" fill="current" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.17168 6.50023L0.22168 1.55023L1.63568 0.13623L7.99968 6.50023L1.63568 12.8642L0.22168 11.4502L5.17168 6.50023Z" fill="current"/>
                            </svg>
                        </span>
                    </li>
                    <li>
                        <a class="tab--link" href="http://">Robotique</a>
                        <span>
                            <svg width="8" height="13" viewBox="0 0 8 13" fill="current" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.17168 6.50023L0.22168 1.55023L1.63568 0.13623L7.99968 6.50023L1.63568 12.8642L0.22168 11.4502L5.17168 6.50023Z" fill="current"/>
                            </svg>
                        </span>
                    </li>
                </ul> 
            </nav>
            <div class="description">
                <img src="images/H-FabLab-Abidjan-Slide-2.jpg" alt="">
                <p>Lorem ipsum dolor sit amet, cLorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan  onsectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan  </p>
                <div class="btn--wrapper">
                    <a class="btn btn--primary" href="">Nous contacter</a>
                    <a class="btn btn--bordered" href="">Nous contacter</a>
                </div>
            </div>
        </div>
    </div>
<div class="dark--separator"></div>    
</section>

{{> latest__news}}
{{> main__footer}}