<section class="inner--hero section--margin workshop"> 
    {{>header}}
    <div class="content">
         <div class="hero--banner">
                <img src="images/{{{banner__image}}}" alt="" srcset="">
                <div class="dark--separator">
            </div>
     </div>
        <div class="header--text__container">
            <span class="pastille--label pastille--label__black">{{{hero__label}}}</span>
            <h1>{{{hero__title}}}</h1>
            <div class="flex--container">
                <div class="col--unit__6">
                    Ensemble, donnons aux jeunes ivoiriens le pouvoir de créer, d'apprendre et d'innover ! H-FABLAB, un laboratoire de fabrication numérique, est un véritable catalyseur du changement. Nous offrons des formations qualifiantes inclusives, ouvertes aux jeunes hommes
                </div>

                 <div class="col--unit__6">
                    et femmes scolarisés ou non, alphabétisés ou non en français. Vous souhaitez vous former, rejoignez-nous dans notre quête de faire éclore des projets innovants, de favoriser la réorientation professionnelle et de résoudre les problématiques locales. 

                </div>
            </div>
     </div> 
    
    </div> 
</section>


<section class="section--wrapper our--workshop">
    <div class="container">
        <div class="upper--content">
            <div class="col--unit__5 flex--container some__numbers">
                <div class="col--unit__6">
                    <h2>20+</h2>
                    <p>Lorem ipsum dolor </p>
                </div>
                  <div class="col--unit__6">
                    <h2>5+</h2>
                    <p>Lorem ipsum dolor </p>
                </div>
            </div>
            <div class="col--unit__7 pargraph">
                <p>Nous proposons des ateliers d’apprentissage de nouvelles technologies et nous veillons à ce que les activités soient accessibles au plus grand nombre.</p>
            </div>
        </div>

        <div class="workshop--list mb-5">
            <nav class="inner--nav">
                <ul class="">
                    <li>
                        <a class="tab--link tab_button active" data-id="mod-imp-3d">Modélisation et impression 3D</a>                    <span>
                            <svg width="8" height="13" viewBox="0 0 8 13" fill="current" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.17168 6.50023L0.22168 1.55023L1.63568 0.13623L7.99968 6.50023L1.63568 12.8642L0.22168 11.4502L5.17168 6.50023Z" fill="current"/>
                            </svg>
                        </span>
                    </li>
                    <li>
                        <a class="tab--link tab_button" data-id="scan-3d">Scanner 3D</a>                    <span>
                            <svg width="8" height="13" viewBox="0 0 8 13" fill="current" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.17168 6.50023L0.22168 1.55023L1.63568 0.13623L7.99968 6.50023L1.63568 12.8642L0.22168 11.4502L5.17168 6.50023Z" fill="current"/>
                            </svg>
                        </span>
                    </li>
                    <li>
                        <a class="tab--link tab-button" href="http://">Découpe laser</a>                    <span>
                            <svg width="8" height="13" viewBox="0 0 8 13" fill="current" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.17168 6.50023L0.22168 1.55023L1.63568 0.13623L7.99968 6.50023L1.63568 12.8642L0.22168 11.4502L5.17168 6.50023Z" fill="current"/>
                            </svg>
                        </span>
                    </li>
                    <li>
                        <a class="tab--link tab-button" href="http://">Fraiseuse CNC</a>                    <span>
                            <svg width="8" height="13" viewBox="0 0 8 13" fill="current" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.17168 6.50023L0.22168 1.55023L1.63568 0.13623L7.99968 6.50023L1.63568 12.8642L0.22168 11.4502L5.17168 6.50023Z" fill="current"/>
                            </svg>
                        </span>
                    </li>
                    <li>
                        <a class="tab--link tab-button" href="http://">Découpe vynil</a>                    <span>
                            <svg width="8" height="13" viewBox="0 0 8 13" fill="current" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.17168 6.50023L0.22168 1.55023L1.63568 0.13623L7.99968 6.50023L1.63568 12.8642L0.22168 11.4502L5.17168 6.50023Z" fill="current"/>
                            </svg>
                        </span>
                    </li>
                    <li>
                        <a class="tab--link tab-button" href="http://">Broderie numérique</a>                    <span>
                            <svg width="8" height="13" viewBox="0 0 8 13" fill="current" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.17168 6.50023L0.22168 1.55023L1.63568 0.13623L7.99968 6.50023L1.63568 12.8642L0.22168 11.4502L5.17168 6.50023Z" fill="current"/>
                            </svg>
                        </span>
                    </li>
                    <li>
                        <a class="tab--link tab-button" href="http://">Electroniqude et IoT</a>                    <span>
                            <svg width="8" height="13" viewBox="0 0 8 13" fill="current" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.17168 6.50023L0.22168 1.55023L1.63568 0.13623L7.99968 6.50023L1.63568 12.8642L0.22168 11.4502L5.17168 6.50023Z" fill="current"/>
                            </svg>
                        </span>
                    </li>
                    <li>
                        <a class="tab--link tab-button" href="http://">Robotique</a>
                        <span>
                            <svg width="8" height="13" viewBox="0 0 8 13" fill="current" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.17168 6.50023L0.22168 1.55023L1.63568 0.13623L7.99968 6.50023L1.63568 12.8642L0.22168 11.4502L5.17168 6.50023Z" fill="current"/>
                            </svg>
                        </span>
                    </li>
                </ul> 
            </nav>
            <div class="description">
                <div class="tab_content active" id="mod-imp-3d">
                    <h3 class="title">Fraisseuse CNC</h3>
                    <img src="images/H-FabLab-Abidjan-Slide-2.jpg" alt="">
                    <h4 class="sub--title">Présentation</h4>
                    <p>LLorem ipsum dolor sit amet, cLorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan  onsectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan   Lorem ipsum dolor sit amet, cLorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan  onsectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus </p>
                    <h4 class="sub--title">Activités</h4>
                    <p>Lorem ipsum dolor sit amet, cLorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan  onsectetur adipiscing elit</p>
                    <ul class="ul--listing flex--listing disc--list">
                        <li>Lorem ipsum dolor sit amet, cLorem ipsum </li>
                        <li>Lorem ipsum dolor sit amet, cLorem ipsum </li>
                        <li>Lorem ipsum dolor sit amet, cLorem ipsum </li>
                        <li>Lorem ipsum dolor sit amet, cLorem ipsum </li>
                        <li>Lorem ipsum dolor sit amet, cLorem ipsum </li>
                        <li>Lorem ipsum dolor sit amet, cLorem ipsum </li>
                        <li>Lorem ipsum dolor sit amet, cLorem ipsum </li>
                        <li>Lorem ipsum dolor sit amet, cLorem ipsum </li>
                    </ul>
                    <p>Lorem ipsum dolor sit amet, cLorem ipsum dolor sit amet <a class="content--link" href="#">consectetur adipiscing elit.</a> Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan  onsectetur adipiscing elit</p>
                    <h4 class="sub--title">Activités</h4>
                    <p>Lorem ipsum dolor sit amet, cLorem ipsum dolor Lorem ipsum dolor sit amet, cLorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan  onsectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan   Lorem ipsum dolor sit amet, cLorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan  onsectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus  sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan  onsectetur adipiscing elit</p>
                    <h4 class="sub--title">Activités</h4>

                    <ul class="ul--listing flex--listing check--list">
                        <li>Lorem ipsum dolor sit amet, cLorem ipsum </li>
                        <li>Lorem ipsum dolor sit amet, cLorem ipsum </li>
                        <li>Lorem ipsum dolor sit amet, cLorem ipsum </li>
                        <li>Lorem ipsum dolor sit amet, cLorem ipsum </li>
                        <li>Lorem ipsum dolor sit amet, cLorem ipsum </li>
                        <li>Lorem ipsum dolor sit amet, cLorem ipsum </li>
                        <li>Lorem ipsum dolor sit amet, cLorem ipsum </li>
                        <li>Lorem ipsum dolor sit amet, cLorem ipsum </li>
                    </ul>
                    <h4 class="sub--title">Activités</h4>
                    <p>Lorem ipsum dolor sit amet, cLorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan  onsectetur adipiscing elit</p>
                    <div class="dec--list">
                        <p class="bold">1- Lorem ipsum</p>
                        <p class="bold">2- Lorem ipsum</p>
                        <p class="bold">3- Lorem ipsum</p>
                        <p class="bold">4- Lorem ipsum</p>
                    </div>
                    <div class="btn--wrapper">
                        <a class="btn btn--bordered" href=""> <span class="icon"> <svg width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11 7H16L10 13L4 7H9V0H11V7ZM2 16H18V9H20V17C20 17.2652 19.8946 17.5196 19.7071 17.7071C19.5196 17.8946 19.2652 18 19 18H1C0.734784 18 0.48043 17.8946 0.292893 17.7071C0.105357 17.5196 0 17.2652 0 17V9H2V16Z" fill="#1C1C1E"/>
                        </svg> </span> Télécharger la brochure</a>
                        <a class="btn btn--primary" href="">S'inscrire à l'atelier</a>
                    </div>
                </div>
                <div class="tab_content" id="scan-3d">
                      <div class="dec--list">
                        <p class="bold">1- Lorem ipsum</p>
                        <p class="bold">2- Lorem ipsum</p>
                        <p class="bold">3- Lorem ipsum</p>
                        <p class="bold">4- Lorem ipsum</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="dark--separator"></div>    
</section>

{{> latest__news}}
{{> main__footer}}