<section class="inner--hero section--margin">
    <nav class="main--nav ">
       <div class="logo--wrapper">
            <a href="/"><img src="images/logo.png" alt="" srcset=""></a>
       </div> 
       <div class="nav-items">
           <ul>
            <li><a href="http://">Solution</a></li>
            <li><a href="http://">Activités</a></li>
            <li><a href="http://">L'organisation</a></li>
            <li><a href="http://">Blog</a></li>
           </ul>
       </div>
       <div class="nav--button__group">
            <div class="language--box">
                <img class="lang--icon" src="images/icons/eng-flag.svg" alt="" srcset="">ENG 
                <span class="drop--down__icon">
                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.00056 7.68144L9.88806 4.79395L10.7129 5.61878L7.00056 9.33111L3.28823 5.61878L4.11306 4.79395L7.00056 7.68144Z" fill="#505050" fill-opacity="0.55"/>
                        </svg>
                    </span>

            </div>

            <a class="btn btn--primary" href="">Nous contacter</a>
       </div>
    </nav>

    <div class="header--text__container">
      <span class="pastille--label pastille--label__black">Blog</span>
            <h1>Nos actualités</h1>
            <p>Lorem ipsum dolor sit amet, consectetur  adipiscing elit. Etiam <br class="blog--xxl__separator"> eu turpis molestie, dictum es</p>
     </div>

</section>


<section class="section--wrapper blog--page">
    <div class="container">
       
        <div class="blog--posts__wrapper flex--container">
           <div class="col--unit__4 post--item">
                <div class="img--box ">
                    <img src="images/H-Fablab_image-2.jpg" alt="" srcset="">
                    <div class="date--card__wrapper">
                       <div class="date--card">
                             <span class="day">12</span>
                        <span class="month ">MAi</span>
                       </div>
                    </div>
                </div>

                <div class="post--body">
                    <div class="cat--labels">
                        <span class="category--label">Business</span>
                        <span class="category--label">IoT</span>
                    </div>

                    <h4 class="post--title">
                        La couveuse open so pour lutter contre la mortalité  urce et...
                    </h4>

                    <a class="underlined--btn" href="http://">Découvrir</a>
                </div>
             </div>
              <div class="col--unit__4 post--item">
                <div class="img--box ">
                    <img src="images/H-Fablab_image-2.jpg" alt="" srcset="">
                    <div class="date--card__wrapper">
                       <div class="date--card">
                             <span class="day">12</span>
                        <span class="month ">MAi</span>
                       </div>
                    </div>
                </div>

                <div class="post--body">
                    <div class="cat--labels">
                        <span class="category--label">Business</span>
                        <span class="category--label">IoT</span>
                    </div>

                    <h4 class="post--title">
                        La couveuse open so pour lutter contre la mortalité  urce et...
                    </h4>

                    <a class="underlined--btn" href="http://">Découvrir</a>
                </div>
            </div>

            <div class="col--unit__4 post--item">
                <div class="img--box ">
                    <img src="images/H-Fablab_image-2.jpg" alt="" srcset="">
                    <div class="date--card__wrapper">
                       <div class="date--card">
                             <span class="day">12</span>
                        <span class="month ">MAi</span>
                       </div>
                    </div>
                </div>

                <div class="post--body">
                    <div class="cat--labels">
                        <span class="category--label">Business</span>
                        <span class="category--label">IoT</span>
                    </div>

                    <h4 class="post--title">
                        La couveuse open so pour lutter contre la mortalité  urce et...
                    </h4>

                    <a class="underlined--btn" href="http://">Découvrir</a>
                </div>
            </div>

              <div class="col--unit__4 post--item">
                <div class="img--box ">
                    <img src="images/H-Fablab_image-2.jpg" alt="" srcset="">
                    <div class="date--card__wrapper">
                       <div class="date--card">
                             <span class="day">12</span>
                        <span class="month ">MAi</span>
                       </div>
                    </div>
                </div>

                <div class="post--body">
                    <div class="cat--labels">
                        <span class="category--label">Business</span>
                        <span class="category--label">IoT</span>
                    </div>

                    <h4 class="post--title">
                        La couveuse open so pour lutter contre la mortalité  urce et...
                    </h4>

                    <a class="underlined--btn" href="http://">Découvrir</a>
                </div>
             </div>
              <div class="col--unit__4 post--item">
                <div class="img--box ">
                    <img src="images/H-Fablab_image-2.jpg" alt="" srcset="">
                    <div class="date--card__wrapper">
                       <div class="date--card">
                             <span class="day">12</span>
                        <span class="month ">MAi</span>
                       </div>
                    </div>
                </div>

                <div class="post--body">
                    <div class="cat--labels">
                        <span class="category--label">Business</span>
                        <span class="category--label">IoT</span>
                    </div>

                    <h4 class="post--title">
                        La couveuse open so pour lutter contre la mortalité  urce et...
                    </h4>

                    <a class="underlined--btn" href="http://">Découvrir</a>
                </div>
            </div>

            <div class="col--unit__4 post--item">
                <div class="img--box ">
                    <img src="images/H-Fablab_image-2.jpg" alt="" srcset="">
                    <div class="date--card__wrapper">
                       <div class="date--card">
                             <span class="day">12</span>
                        <span class="month ">MAi</span>
                       </div>
                    </div>
                </div>

                <div class="post--body">
                    <div class="cat--labels">
                        <span class="category--label">Business</span>
                        <span class="category--label">IoT</span>
                    </div>

                    <h4 class="post--title">
                        La couveuse open so pour lutter contre la mortalité  urce et...
                    </h4>

                    <a class="underlined--btn" href="http://">Découvrir</a>
                </div>
            </div>
        </div>
    </div>

</section>

