<section class="inner--hero section--margin workshop"> 
    {{>header}}
    <div class="content">
        <div class="header--text__container">
      <span class="pastille--label pastille--label__black">{{{hero__label}}}</span>
            <h1>{{{hero__title}}}</h1>
              <p>{{{hero__subtitle}}}</p>
     </div> 
     <div class="hero--banner">
                <div class="dark--separator">
            </div>
     </div>
    </div> 
</section>

<section class="section--wrapper blog--page">
    <div class="container">
       
        <div class="blog--posts__wrapper flex--container">
           <div class="col--unit__4 post--item">
                <div class="img--box ">
                    <img src="images/H-Fablab_image-2.jpg" alt="" srcset="">
                    <div class="date--card__wrapper">
                       <div class="date--card">
                             <span class="day">12</span>
                        <span class="month ">Juin</span>
                       </div>
                    </div>
                </div>

                <div class="post--body">
                    <div class="cat--labels">
                        <span class="category--label">Business</span>
                        <span class="category--label">IoT</span>
                    </div>

                    <h4 class="post--title">
                        La couveuse open so pour lutter contre la mortalité  urce et...
                    </h4>

                    <a class="underlined--btn" href="/post--xx--xx">Découvrir</a>
                </div>
             </div>
              <div class="col--unit__4 post--item">
                <div class="img--box ">
                    <img src="images/H-Fablab_image-2.jpg" alt="" srcset="">
                    <div class="date--card__wrapper">
                       <div class="date--card">
                             <span class="day">12</span>
                        <span class="month ">MAi</span>
                       </div>
                    </div>
                </div>

                <div class="post--body">
                    <div class="cat--labels">
                        <span class="category--label">Business</span>
                        <span class="category--label">IoT</span>
                    </div>

                    <h4 class="post--title">
                        La couveuse open so pour lutter contre la mortalité  urce et...
                    </h4>

                    <a class="underlined--btn" href="/post--xx--xx">Découvrir</a>
                </div>
            </div>

            <div class="col--unit__4 post--item">
                <div class="img--box ">
                    <img src="images/H-Fablab_image-2.jpg" alt="" srcset="">
                    <div class="date--card__wrapper">
                       <div class="date--card">
                             <span class="day">12</span>
                        <span class="month ">MAi</span>
                       </div>
                    </div>
                </div>

                <div class="post--body">
                    <div class="cat--labels">
                        <span class="category--label">Business</span>
                        <span class="category--label">IoT</span>
                    </div>

                    <h4 class="post--title">
                        La couveuse open so pour lutter contre la mortalité  urce et...
                    </h4>

                    <a class="underlined--btn" href="/post--xx--xx">Découvrir</a>
                </div>
            </div>

              <div class="col--unit__4 post--item">
                <div class="img--box ">
                    <img src="images/H-Fablab_image-2.jpg" alt="" srcset="">
                    <div class="date--card__wrapper">
                       <div class="date--card">
                             <span class="day">12</span>
                        <span class="month ">MAi</span>
                       </div>
                    </div>
                </div>

                <div class="post--body">
                    <div class="cat--labels">
                        <span class="category--label">Business</span>
                        <span class="category--label">IoT</span>
                    </div>

                    <h4 class="post--title">
                        La couveuse open so pour lutter contre la mortalité  urce et...
                    </h4>

                    <a class="underlined--btn" href="/post--xx--xx">Découvrir</a>
                </div>
             </div>
              <div class="col--unit__4 post--item">
                <div class="img--box ">
                    <img src="images/H-Fablab_image-2.jpg" alt="" srcset="">
                    <div class="date--card__wrapper">
                       <div class="date--card">
                             <span class="day">12</span>
                        <span class="month ">MAi</span>
                       </div>
                    </div>
                </div>

                <div class="post--body">
                    <div class="cat--labels">
                        <span class="category--label">Business</span>
                        <span class="category--label">IoT</span>
                    </div>

                    <h4 class="post--title">
                        La couveuse open so pour lutter contre la mortalité  urce et...
                    </h4>

                    <a class="underlined--btn" href="/post--xx--xx">Découvrir</a>
                </div>
            </div>

            <div class="col--unit__4 post--item">
                <div class="img--box ">
                    <img src="images/H-Fablab_image-2.jpg" alt="" srcset="">
                    <div class="date--card__wrapper">
                       <div class="date--card">
                             <span class="day">12</span>
                        <span class="month ">MAi</span>
                       </div>
                    </div>
                </div>

                <div class="post--body">
                    <div class="cat--labels">
                        <span class="category--label">Business</span>
                        <span class="category--label">IoT</span>
                    </div>

                    <h4 class="post--title">
                        La couveuse open so pour lutter contre la mortalité  urce et...
                    </h4>

                    <a class="underlined--btn" href="/post--xx--xx">Découvrir</a>
                </div>
            </div>
        </div>
    </div>

</section>

{{> main__footer}}
