<section class="inner--hero contact--us section--margin">
{{>header}}

<div class="content">
    <div class="header--text__container">
      <span class="pastille--label pastille--label__black">{{{hero__label}}}</span>
            <h1>{{{hero__title}}}</h1>

            <div class="contact--box">
               <div class="item--group address--box">
                    <a href="mailto:hello@hventuregroup.com">contact@h-fablab.org</a>
                   <div class="link--wrapper">
                        <a href="tel:+">+225 0170793131</a> 
                        <span>|</span>
                        <a href="tel:+">+225 0170793131</a>
                   </div>
                    <a href="tel:+">+225 0170793131</a>
               </div>
               
                <svg width="12" height="60" viewBox="0 0 12 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.5 0.5L10.5 30.5L0.5 59" stroke="#D9D9D9"/>
                </svg>

               <div class="item--group">
                    <a href="http://"> Bingerville, Akouai Santai, derrière jardin botanique, Abidjan, Côte d’Ivoire</a>
               </div>
            </div>
     </div>
</div>
    
<div class="dark--separator"></div> 
</section>

<section class="section--wrapper main--contact__section mt-1 mb-3">
    <div class="container flex--container">
        <div class="col--unit__6 form--wrapper">
            <h2 >Nous laisser un message</h2> 
            <form  action="">
                <div class="flex--container">
                    <div class="input--wrapper col--unit__6">
                        <label for="">Nom complet </label>
                        <input type="text" name="" id="">
                    </div>

                    <div class="input--wrapper col--unit__6">
                        <label for="">Nom complet </label>
                        <input type="text" name="" id="">
                    </div>
                </div>

                <div class="input--wrapper">
                        <label for="">Sujet </label>
                        <input type="text" name="" id="">
                </div>

                <div class="input--wrapper ">
                        <label for="">Votre message </label>
                        <textarea name="" id="" cols="30" rows="6"></textarea>
                </div>

                <input class="btn btn--primary" type="submit" value="Submit">
            </form>
        </div>
        <div class="col--unit__6 map__wrapper bg--clay">

        </div>
    </div>
</section>


{{> main__footer}}