<%- include('../partials/project__details__header') %>


<section class="section--wrapper project--desc mt-5">
         <div class="container">
            <%- include(`../projects_posts/${locals.project_id}`) %>
           </div>   
</section>

<%- include('../partials/main__footer') %>