
{{> main__nav}}
<section class="inner--hero inner--hero__bloc inner--hero_section section--margin mt-7">
         <div class="hero--banner">
                <img src="images/{{{locals.banner__image}}}" alt="" srcset="">
                 <div class="header--text__container">
                       <span class="pastille--label pastille--label__black">{{{locals.hero__label}}}</span>
                       <h1>{{{locals.hero__title}}}</h1>
                       <p>{{{locals.hero__subtitle}}}</p>
                    </div>
                 <div class="dark--separator"></div>
        </div>  
</section>


<section class="section section--wrapper donate">
    <div class="container">
          <div class="title--content mb-3">
                 <h3>Changez des vies grâce à l'apprentissage pratique et l'innovation locale !</h3>
           </div>
        <div class="flex--container donate--box">
              <div class="content--wrapper col--unit__6">
                     <p >
                Changez des vies grâce à l'apprentissage pratique et l'innovation locale ! 
                    H-FABLAB, offre des opportunités uniques aux jeunes scolarisés ou non, alphabétisés ou non en français.
                    Avec votre soutien, nous créons un espace de recherche appliquée où les jeunes peuvent prototyper, tester et mettre en œuvre des solutions locales. 
                 </p>
              </div>
         
            <div class="content--wrapper col--unit__6">
             
                <p>
               Rejoignez-nous dans notre mission de formation inclusive, de réorientation professionnelle et de développement de projets qui répondent aux défis de notre communauté. 
                Faites un don aujourd'hui et contribuez à façonner l'avenir de l'éducation, de l'agriculture et d'autres secteurs en Côte d'Ivoire et toute Afrique !"

                </p>
            </div>
        </div>
    </div>
</section>
   <section class="section--wrapper donnation--form bg--light">
     <div class="container flex--container">
       
        <div class="col--unit__6 form--wrapper form--donation">
             <div class="title--group">
                        <h3>Don financier</h3>
                    </div>
            <form action="">
                <div class="input--wrapper">
                        <label for="">Nom complet </label>
                        <input type="text" name="" id="">
                    </div>
                    
                <div class="flex--container">
                     <div class="input--wrapper col--unit__6">
                        <label for="">Email</label>
                        <input type="text" name="" id="">
                    </div>

                    <div class="input--wrapper col--unit__6">
                        <label for="">Téléphone </label>
                        <input type="text" name="" id="">
                    </div>
                </div>

                  <div class="flex--container">
                     <div class="input--wrapper col--unit__6">
                        <label for="">Ville</label>
                        <input type="text" name="" id="">
                    </div>

                    <div class="input--wrapper col--unit__6">
                        <label for="">Adresse</label>
                        <input type="text" name="" id="">
                    </div>
                </div>

                 <div class="input--wrapper col--unit__6">
                        <label for="">Montant </label>
                        <input type="number" name="" id="">
                    </div>

                <input class="btn btn--primary" type="submit" value="Valider">
            </form>
        </div>

           <div class="col--unit__6 form--wrapper form--donation">
             <div class="title--group">
                        <h3>Don en nature</h3>
                    </div>
                <form action="">
                    <div class="input--wrapper">
                            <label for="">Nom complet </label>
                            <input type="text" name="" id="">
                        </div>
                        
                    <div class="flex--container">
                        <div class="input--wrapper col--unit__6">
                            <label for="">Email</label>
                            <input type="text" name="" id="">
                        </div>

                        <div class="input--wrapper col--unit__6">
                            <label for="">Téléphone </label>
                            <input type="text" name="" id="">
                        </div>
                    </div>

                    <div class="flex--container">
                        <div class="input--wrapper col--unit__6">
                            <label for="">Ville</label>
                            <input type="text" name="" id="">
                        </div>

                        <div class="input--wrapper col--unit__6">
                            <label for="">Adresse</label>
                            <input type="text" name="" id="">
                        </div>
                    </div>

                    <div class="input--wrapper col--unit__6">
                            <label for="">Description de votre don</label>
                            <textarea name="" id="" cols="30" rows="6"></textarea>
                        </div>

                    <input class="btn btn--primary" type="submit" value="Valider">
                </form>
        </div>
    </div>
    </section>


{{> main__footer}}