<section class="inner--hero section--margin workshop"> 
    {{>header}}
    <div class="content">
        <div class="header--text__container">
      <span class="pastille--label pastille--label__black">{{{locals.hero__label}}}</span>
            <h1>{{{locals.hero__title}}}</h1>
              <p>{{{locals.hero__subtitle}}}</p>
     </div> 
     <div class="hero--banner">
                <img src="images/{{{locals.banner__image}}}" alt="" srcset="">
                <div class="dark--separator">
            </div>
     </div>
    </div> 
</section>

<section class="section section--wrapper donate">
    <div class="container">
        <div class="flex--container donate--box">
           <div class="title--content col--unit__6">
                 <h3>Changez des vies grâce à l'apprentissage pratique et l'innovation locale !</h3>
           </div>
            <div class="content--wrapper col--unit__6">
                <p >
                Changez des vies grâce à l'apprentissage pratique et l'innovation locale ! 
                    H-FABLAB, offre des opportunités uniques aux jeunes scolarisés ou non, alphabétisés ou non en français.
                    Avec votre soutien, nous créons un espace de recherche appliquée où les jeunes peuvent prototyper, tester et mettre en œuvre des solutions locales. 
                 </p>
                <p>
               Rejoignez-nous dans notre mission de formation inclusive, de réorientation professionnelle et de développement de projets qui répondent aux défis de notre communauté. 
                Faites un don aujourd'hui et contribuez à façonner l'avenir de l'éducation, de l'agriculture et d'autres secteurs en Côte d'Ivoire et toute Afrique !"

                </p>
                 <div class="button--group btn--wrapper flex--container">
                        <a class="btn btn--primary" href="/form-donation">Faire un don financier </a>
                         <a class="btn btn--bordered" href="/form-donation-materiel">Faire un don en nature </a>
            </div>
            </div>
        </div>
    </div>
</section>


{{> main__footer}}