{{> inner--hero}}

<section class="section--wrapper expertise mt-8 ">
    <div class="container flex--container">
        
        <div class="col--unit__5 intro--wrapper">
            <div class="title--group">
                <h2>Domaines d’expertise</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam turpis molestie, dictum est a, mattis tell</p>
                <img src="images/Rectangle 5979.png" alt="Expertise">
            </div>
        </div>

        <div class="item--wrapper col--unit__7">
            <div class="col--unit__6 item--box">
                <span class="icon--group">
                    
                    <svg width="39" height="37" viewBox="0 0 39 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0H33.515V5.07088H31.3527V2.02835H2.16226V25.3544H25.2844V27.3827H0V0ZM32.4339 13.1843C33.2941 13.1843 34.119 12.8637 34.7273 12.2931C35.3355 11.7226 35.6773 10.9487 35.6773 10.1418C35.6773 9.33482 35.3355 8.56095 34.7273 7.99036C34.119 7.41978 33.2941 7.09923 32.4339 7.09923C31.5737 7.09923 30.7487 7.41978 30.1404 7.99036C29.5322 8.56095 29.1905 9.33482 29.1905 10.1418C29.1905 10.9487 29.5322 11.7226 30.1404 12.2931C30.7487 12.8637 31.5737 13.1843 32.4339 13.1843ZM34.6296 15.2228C36.034 15.2228 37.1454 15.815 37.873 16.7298C38.5531 17.5868 38.8406 18.6466 38.9055 19.6253C38.969 20.6292 38.8233 21.6351 38.4763 22.5867C38.152 23.469 37.6038 24.3818 36.7584 25.0075V34.989C36.7592 35.3713 36.6065 35.7397 36.3309 36.0212C36.0552 36.3027 35.6767 36.4765 35.2706 36.508C34.8646 36.5396 34.4607 36.4266 34.1394 36.1916C33.8181 35.9566 33.6029 35.6167 33.5366 35.2395L32.142 27.3827H31.8198L30.2435 35.269C30.1686 35.6412 29.9485 35.9738 29.626 36.2018C29.3036 36.4298 28.9021 36.5367 28.5001 36.5017C28.098 36.4667 27.7243 36.2923 27.4521 36.0125C27.1799 35.7328 27.0288 35.3678 27.0282 34.989V20.5198C26.812 20.8287 26.5987 21.1394 26.3882 21.4518L26.3039 21.5766L26.2822 21.609L26.2768 21.6182C26.1311 21.8376 25.9282 22.0186 25.6872 22.1441C25.4462 22.2695 25.1751 22.3353 24.8995 22.3352H19.4938C19.0637 22.3352 18.6513 22.1749 18.3471 21.8896C18.043 21.6043 17.8721 21.2174 17.8721 20.8139C17.8721 20.4105 18.043 20.0235 18.3471 19.7382C18.6513 19.4529 19.0637 19.2927 19.4938 19.2927H24.0097C24.2724 18.9113 24.6184 18.4164 24.9816 17.9195C25.36 17.4012 25.7774 16.8526 26.1493 16.4225C26.3298 16.2126 26.532 15.9935 26.7352 15.814C26.8347 15.7258 26.9731 15.6112 27.1417 15.5098C27.4394 15.3265 27.7869 15.2272 28.1429 15.2238L34.6296 15.2228Z" fill="white"/>
                    </svg>
                </span>

                <h4>Formations</h4>

                <p class="item--body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam turpis molestie, dictum est a, mattis tellus. Sed dignissim Curabitur
                </p>
                <ul class="list">
                    <li>Lorem ipsum dolor sit ame conse</li>
                    <li>Lorem ipsum dolor sit ame</li>
                    <li>Lorem ipsum dolor sit</li>
                </ul>
            </div>

            <div class="col--unit__6 item--box">
                <span class="icon--group">
                    <svg width="39" height="37" viewBox="0 0 39 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0H33.515V5.07088H31.3527V2.02835H2.16226V25.3544H25.2844V27.3827H0V0ZM32.4339 13.1843C33.2941 13.1843 34.119 12.8637 34.7273 12.2931C35.3355 11.7226 35.6773 10.9487 35.6773 10.1418C35.6773 9.33482 35.3355 8.56095 34.7273 7.99036C34.119 7.41978 33.2941 7.09923 32.4339 7.09923C31.5737 7.09923 30.7487 7.41978 30.1404 7.99036C29.5322 8.56095 29.1905 9.33482 29.1905 10.1418C29.1905 10.9487 29.5322 11.7226 30.1404 12.2931C30.7487 12.8637 31.5737 13.1843 32.4339 13.1843ZM34.6296 15.2228C36.034 15.2228 37.1454 15.815 37.873 16.7298C38.5531 17.5868 38.8406 18.6466 38.9055 19.6253C38.969 20.6292 38.8233 21.6351 38.4763 22.5867C38.152 23.469 37.6038 24.3818 36.7584 25.0075V34.989C36.7592 35.3713 36.6065 35.7397 36.3309 36.0212C36.0552 36.3027 35.6767 36.4765 35.2706 36.508C34.8646 36.5396 34.4607 36.4266 34.1394 36.1916C33.8181 35.9566 33.6029 35.6167 33.5366 35.2395L32.142 27.3827H31.8198L30.2435 35.269C30.1686 35.6412 29.9485 35.9738 29.626 36.2018C29.3036 36.4298 28.9021 36.5367 28.5001 36.5017C28.098 36.4667 27.7243 36.2923 27.4521 36.0125C27.1799 35.7328 27.0288 35.3678 27.0282 34.989V20.5198C26.812 20.8287 26.5987 21.1394 26.3882 21.4518L26.3039 21.5766L26.2822 21.609L26.2768 21.6182C26.1311 21.8376 25.9282 22.0186 25.6872 22.1441C25.4462 22.2695 25.1751 22.3353 24.8995 22.3352H19.4938C19.0637 22.3352 18.6513 22.1749 18.3471 21.8896C18.043 21.6043 17.8721 21.2174 17.8721 20.8139C17.8721 20.4105 18.043 20.0235 18.3471 19.7382C18.6513 19.4529 19.0637 19.2927 19.4938 19.2927H24.0097C24.2724 18.9113 24.6184 18.4164 24.9816 17.9195C25.36 17.4012 25.7774 16.8526 26.1493 16.4225C26.3298 16.2126 26.532 15.9935 26.7352 15.814C26.8347 15.7258 26.9731 15.6112 27.1417 15.5098C27.4394 15.3265 27.7869 15.2272 28.1429 15.2238L34.6296 15.2228Z" fill="white"/>
                    </svg>
                </span>

                <h4>Formations</h4>

                <p class="item--body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam turpis molestie, dictum est a, mattis tellus. Sed dignissim Curabitur
                </p>
                <ul class="list">
                    <li>Lorem ipsum dolor sit ame olor sit ame conse</li>
                    <li>Lorem ipsum dolor sit ame</li>
                    <li>Lorem ipsum dolor sit</li>
                </ul>
            </div>

            <div class="col--unit__6 item--box">
                <span class="icon--group">
                    
                    <svg width="39" height="37" viewBox="0 0 39 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0H33.515V5.07088H31.3527V2.02835H2.16226V25.3544H25.2844V27.3827H0V0ZM32.4339 13.1843C33.2941 13.1843 34.119 12.8637 34.7273 12.2931C35.3355 11.7226 35.6773 10.9487 35.6773 10.1418C35.6773 9.33482 35.3355 8.56095 34.7273 7.99036C34.119 7.41978 33.2941 7.09923 32.4339 7.09923C31.5737 7.09923 30.7487 7.41978 30.1404 7.99036C29.5322 8.56095 29.1905 9.33482 29.1905 10.1418C29.1905 10.9487 29.5322 11.7226 30.1404 12.2931C30.7487 12.8637 31.5737 13.1843 32.4339 13.1843ZM34.6296 15.2228C36.034 15.2228 37.1454 15.815 37.873 16.7298C38.5531 17.5868 38.8406 18.6466 38.9055 19.6253C38.969 20.6292 38.8233 21.6351 38.4763 22.5867C38.152 23.469 37.6038 24.3818 36.7584 25.0075V34.989C36.7592 35.3713 36.6065 35.7397 36.3309 36.0212C36.0552 36.3027 35.6767 36.4765 35.2706 36.508C34.8646 36.5396 34.4607 36.4266 34.1394 36.1916C33.8181 35.9566 33.6029 35.6167 33.5366 35.2395L32.142 27.3827H31.8198L30.2435 35.269C30.1686 35.6412 29.9485 35.9738 29.626 36.2018C29.3036 36.4298 28.9021 36.5367 28.5001 36.5017C28.098 36.4667 27.7243 36.2923 27.4521 36.0125C27.1799 35.7328 27.0288 35.3678 27.0282 34.989V20.5198C26.812 20.8287 26.5987 21.1394 26.3882 21.4518L26.3039 21.5766L26.2822 21.609L26.2768 21.6182C26.1311 21.8376 25.9282 22.0186 25.6872 22.1441C25.4462 22.2695 25.1751 22.3353 24.8995 22.3352H19.4938C19.0637 22.3352 18.6513 22.1749 18.3471 21.8896C18.043 21.6043 17.8721 21.2174 17.8721 20.8139C17.8721 20.4105 18.043 20.0235 18.3471 19.7382C18.6513 19.4529 19.0637 19.2927 19.4938 19.2927H24.0097C24.2724 18.9113 24.6184 18.4164 24.9816 17.9195C25.36 17.4012 25.7774 16.8526 26.1493 16.4225C26.3298 16.2126 26.532 15.9935 26.7352 15.814C26.8347 15.7258 26.9731 15.6112 27.1417 15.5098C27.4394 15.3265 27.7869 15.2272 28.1429 15.2238L34.6296 15.2228Z" fill="white"/>
                    </svg>
                </span>

                <h4>Formations</h4>

                <p class="item--body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam turpis molestie, dictum est a, mattis tellus. Sed dignissim Curabitur
                </p>
                <ul class="list">
                    <li>Lorem ipsum dolor sit ame conse</li>
                    <li>Lorem ipsum dolor sit ame</li>
                    <li>Lorem ipsum dolor sit</li>
                </ul>
            </div>

            <div class="col--unit__6 item--box">
                <span class="icon--group">
                    
                    <svg width="39" height="37" viewBox="0 0 39 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0H33.515V5.07088H31.3527V2.02835H2.16226V25.3544H25.2844V27.3827H0V0ZM32.4339 13.1843C33.2941 13.1843 34.119 12.8637 34.7273 12.2931C35.3355 11.7226 35.6773 10.9487 35.6773 10.1418C35.6773 9.33482 35.3355 8.56095 34.7273 7.99036C34.119 7.41978 33.2941 7.09923 32.4339 7.09923C31.5737 7.09923 30.7487 7.41978 30.1404 7.99036C29.5322 8.56095 29.1905 9.33482 29.1905 10.1418C29.1905 10.9487 29.5322 11.7226 30.1404 12.2931C30.7487 12.8637 31.5737 13.1843 32.4339 13.1843ZM34.6296 15.2228C36.034 15.2228 37.1454 15.815 37.873 16.7298C38.5531 17.5868 38.8406 18.6466 38.9055 19.6253C38.969 20.6292 38.8233 21.6351 38.4763 22.5867C38.152 23.469 37.6038 24.3818 36.7584 25.0075V34.989C36.7592 35.3713 36.6065 35.7397 36.3309 36.0212C36.0552 36.3027 35.6767 36.4765 35.2706 36.508C34.8646 36.5396 34.4607 36.4266 34.1394 36.1916C33.8181 35.9566 33.6029 35.6167 33.5366 35.2395L32.142 27.3827H31.8198L30.2435 35.269C30.1686 35.6412 29.9485 35.9738 29.626 36.2018C29.3036 36.4298 28.9021 36.5367 28.5001 36.5017C28.098 36.4667 27.7243 36.2923 27.4521 36.0125C27.1799 35.7328 27.0288 35.3678 27.0282 34.989V20.5198C26.812 20.8287 26.5987 21.1394 26.3882 21.4518L26.3039 21.5766L26.2822 21.609L26.2768 21.6182C26.1311 21.8376 25.9282 22.0186 25.6872 22.1441C25.4462 22.2695 25.1751 22.3353 24.8995 22.3352H19.4938C19.0637 22.3352 18.6513 22.1749 18.3471 21.8896C18.043 21.6043 17.8721 21.2174 17.8721 20.8139C17.8721 20.4105 18.043 20.0235 18.3471 19.7382C18.6513 19.4529 19.0637 19.2927 19.4938 19.2927H24.0097C24.2724 18.9113 24.6184 18.4164 24.9816 17.9195C25.36 17.4012 25.7774 16.8526 26.1493 16.4225C26.3298 16.2126 26.532 15.9935 26.7352 15.814C26.8347 15.7258 26.9731 15.6112 27.1417 15.5098C27.4394 15.3265 27.7869 15.2272 28.1429 15.2238L34.6296 15.2228Z" fill="white"/>
                    </svg>
                </span>

                <h4>Formations</h4>

                <p class="item--body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam turpis molestie, dictum est a, mattis tellus. Sed dignissim Curabitur
                </p>
                <ul class="list">
                    <li>Lorem ipsum dolor sit ame conse</li>
                    <li>Lorem ipsum dolor sit ame</li>
                    <li>Lorem ipsum dolor sit</li>
                </ul>
            </div>
        </div>
    </div> 
</section>


<section class="section--wrapper main--equipments mt-3">
    <div class="container">
        <div class="card flex--container">
           <div class="title--group">
                 <h2>Décrouvrez et réservez
                    nos équipements</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam turpis molestie, dictum est a, mattis tell</p>
            </div>

            <div class="button--group">
                        <a class="btn btn--white btn--icon" href="http://">Découvrir<span class="icon"> <svg width="20" height="18" viewBox="0 0 20 18" fill="current" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16.172 8.00014L10.101 1.92914L11.515 0.515137L20 9.00014L19.293 9.70714L11.515 17.4851L10.101 16.0711L16.172 10.0001L0 10.0001L0 8.00014L16.172 8.00014Z" fill="current"/>
                            </svg></span>
                    </a>
            </div>
        </div>
        <img src="images/Rectangle 5982.png" alt="" srcset="">
    </div>
</section>

{{> latest__news}}
{{> main__footer}}