<section class="full-hero home--hero">
        {{> header}}

        <div class="slider">
		<!-- fade css -->
		<div class="myslide fade">
			<div class="txt">
				<h1>IMAGE 1</h1>
				<p>Web Devoloper<br>Subscribe To My Channel For More Videos</p>
			</div>
			<img src="images/slider/slider-1.jpg" style="width: 100%; height: 100%;">
		</div>
		
		<div class="myslide fade">
			<div class="txt">
				<h1>IMAGE 2</h1>
				<p>Web Devoloper<br>Subscribe To My Channel For More Videos</p>
			</div>
			<img src="images/slider/slider-2.jpeg" style="width: 100%; height: 100%;">
		</div>
		
		<div class="myslide fade">
			<div class="txt">
				<div class="hero--content">
                    <h1> En avant garde  <br class="xxl--bacspacer"> de la revolution  <br class="xxl--bacspacer"> numérique</h1>
                    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br class="xxl--bacspacer">  Corrupti ratione consequatur fugiat cum dolorem aperiam  <br class="xxl--bacspacer"> voluptatum iusto nam.</p>
                    <a class="btn btn--white" href="http://">En savoir plus</a>
                </div>
			</div>
			<img src="images/img3.jpg" style="width: 100%; height: 100%;">
		</div>
		
		
		<!-- /fade css -->
		 <!-- onclick js -->
		
		<div class="dotsbox" style="text-align:center">
			<span class="dot" onclick="currentSlide(1)"></span>
			<span class="dot" onclick="currentSlide(2)"></span>
			<span class="dot" onclick="currentSlide(3)"></span>
		</div>
		<!-- /onclick js -->
	   </div>

    <div class="our__nombers section--padding">
        <div class="item--box">
            <h3>150</h3>
            <p>Ateliers organisés</p>
        </div>
        <div class="item--box">
            <h3>80</h3>
            <p>Personnes formées</p>
        </div>
        <div class="item--box">
            <h3>+250</h3>
            <p>Nombre de femmes</p>
        </div>
        <div class="item--box">
            <h3>+950</h3>
            <p>Nombre d’hommes</p>
        </div>
    </div>
</section> 


 <section class="section overlay--box">
    <div class="container">
       <div class="col--unit__6 box--content">
            <span class="pastille--label pastille--label__white">Nos domaines d'activités</span>
            <h2>Nous rendons les Technologies accessibles pour tous les Âges</h2>
       </div>
       <div class="col--unit__6 back--overlay"></div>
    </div>
</section>

<section  class=" section section--wrapper">
    <div class="container our--activites flex--container">
        <div class="col--unit__3 activity--item">
            <h4>Education (ODD4)</h4>
            <p>Mettre en plusieurs blocs chaque équipement avec une brief description avec de bottons ( 1 vers la page des formation</p>
            <img src="images/education.png" alt="ODD4" srcset="">
        </div>

         <div class="col--unit__3 activity--item">
            <h4>Education (ODD4)</h4>
            <p>Mettre en plusieurs blocs chaque équipement avec une brief description avec de bottons ( 1 vers la page des formation</p>
            <img src="images/agriculture.png" alt="ODD4" srcset="">
        </div>

         <div class="col--unit__3 activity--item">
            <h4>Education (ODD4)</h4>
            <p>Mettre en équipement avec une brief description avec de bottons ( 1 vers la page des formation</p>
            <img src="images/technologie.png" alt="ODD4" srcset="">
        </div>

         <div class="col--unit__3 activity--item">
            <h4>Education (ODD4)</h4>
            <p>Mettre en plusieurs blocs chaque équipement avec une brief description avec de bottons ( 1 vers la page des formation</p>
            <img src="images/sante.png" alt="ODD4" srcset="">
        </div>
    </div>
</section>

<section class="section--wrapper bg--light our--projects__home">
    <div class="container">
        <div class="container--title__group">
           <div class="title--content">
                 <span class="pastille--label pastille--label__black">Nos Projets</span>
                 <h2>Nos projets</h2>
           </div>
            <a class="btn btn--primary" href="http://">Voir plus <svg width="8" height="13" viewBox="0 0 8 13" fill="current" xmlns="http://www.w3.org/2000/svg">
            <path d="M5.17168 6.50023L0.22168 1.55023L1.63568 0.13623L7.99968 6.50023L1.63568 12.8642L0.22168 11.4502L5.17168 6.50023Z" fill="current"/>
            </svg> </a>
        </div>

        <div class="home--project__items">
            <div class="col--unit__4 project-item">
                <img src="images/H-Fablab_image-2.jpg" alt="Project image">
                <div class="content">
                    <span class="project-category"> Sous catégorie </span>
                    <h3>Couveuse Open Source</h3>
                    <p>La couveuse open source et connectée pour lutter contre la mortalité infantile dans les hôpitaux, un projet de recherche appliqué en collaboration avec les spécialistes locaux en santé...</p>
                    <a class="underlined--btn" href="http://">Découvrir</a>
                </div>
            </div>

             <div class="col--unit__4 project-item">
                <img src="images/Rectangle 12 (2).png" alt="Project image">
                <div class="content">
                    <span class="project-category"> Sous catégorie </span>
                    <h3>Couveuse Open Source</h3>
                    <p>La couveuse open source et connectée pour lutter contre la mortalité infantile dans les hôpitaux, un projet de recherche appliqué en collaboration avec les spécialistes locaux en santé...</p>
                    <a class="underlined--btn" href="http://">Découvrir</a>
                </div>
            </div>

             <div class="col--unit__4 project-item">
                <img src="images/Rectangle 6004 (1).png" alt="Project image">
                <div class="content">
                    <span class="project-category"> Sous catégorie </span>
                    <h3>Couveuse Open Source</h3>
                    <p>La couveuse open source et connectée pour lutter contre la mortalité infantile dans les hôpitaux, un projet de recherche appliqué en collaboration avec les spécialistes locaux en santé...</p>
                    <a class="underlined--btn" href="http://">Découvrir</a>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="section--wrapper our--partners">
 <div class="container--title__group">
           <div class="title--content">
                 <span class="pastille--label pastille--label__black">Partenaires</span>
                 <h2>Des partenaires <br class="xxl--bacspacer">engagés pour soutenir nos projets...</h2>
           </div>
            <div class="partners--content">
                <p>Afin de donner toutes les chances de réussite aux projets écologiques, solidaires et culturels qu'elle accompagne, Zeste s'entoure de partenaires engagés qui partagent ses valeurs</p>
                <div class="partners--logo flex--container">
                    <img src="images/partners/kujalink-logo.svg" alt="" srcset="">
                    <img src="images/partners/gig_logo.png" alt="" srcset="">
                    <img src="images/partners/Logo-BloLab.png" alt="" srcset="">
                    <img src="images/partners/LOGO-Jokkolabs.jpg" alt="" srcset="">
                    <img src="images/partners/Logo-MboaLab.png" alt="" srcset="">
                    <img src="images/partners/orange-dc.png" alt="" srcset="">
                    <img src="images/partners/ReFFAO_logo_Jepeg.jpg" alt="" srcset="">
                    <img src="images/partners/tic4ed.jpg" alt="" srcset="">
                    <img src="images/partners/ucs.png" alt="" srcset=""> 
                </div>
            </div>
        </div>

    <div class="partners--overlay__box">
       <div class="title">
         <h2>A higher and movements th an impactful email </h2>
       </div>
        <div class="bottom--box">
            <div class="icon"><img src="images/icons/hexagons.svg" alt="" srcset=""></div>
            <h4>20 years</h4>
            <p>Lorem ipsum dolor sit</p>
        </div>
   
    </div>
</section>
{{> latest__news}}
{{> main__footer}}  
