<section class="inner--hero section--margin mid--content"> 
    {{>header}}
    <div class="content">
        <div class="header--text__container">
        <span class="pastille--label pastille--label__black">{{{hero__label}}}</span>
            <h1>{{{hero__title}}}</h1>
            <p>{{{hero__subtitle}}}</p>
         </div> 
     <div class="hero--banner">
                <img src="images/{{{banner__image}}}" alt="" srcset="">
            </div>
     </div>
    </div> 
</section>

<section class="section--wrapper  equipment mb-5">
    <div class="container equipments--container">

      <div class="nav--tabs">
          <div class="scroll--controllers__wrap">
              <span id="slideLeft"><i class="arrow left"></i></span>
              <span id="slideRight"><i class="arrow right"></i></span>
          </div>

          <div class="nav--tabs--container">
            <a class="nav--tabs__links active">Impression 3D</a>
            <a class="nav--tabs__links">Fraiseuse numérique</a>
            <a class="nav--tabs__links">Découpe Laser</a>
            <a class="nav--tabs__links">Découpe Vinyle</a>
            <a class="nav--tabs__links">Presse à chaud pour transfert</a>
             <a class="nav--tabs__links" Brodeuse numérique</a>
            <a class="nav--tabs__links">Perceuse à colonne</a>
            <a class="nav--tabs__links">Scie Éélectrique</a>
            <a class="nav--tabs__links">Électronique et IoT</a>
          </div>
      </div>

        <div class="equipment__description--wrapper">
                  <div class="equipment__description active">
                      <div class="equipment__description--container">
                          <div class="col--unit__6 img--wrapper">
                            <img src="images/Rectangle 34624141.png" alt="" srcset="">
                          </div>

                          <div class="col--unit__6 description--wrapper">
                                <h3 class="equipment--title">Impression 3D</h3>
                                <p class="about__description">Lorem ipsum dLorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsanolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan</p>
                                <div class="desc--bottom btn--wrapper">
                                    <a class="btn btn--primary" href="">Reserver la machine</a>
                                    <a class="btn btn--bordered" href="">Se former</a>
                                </div>
                          </div>
                      </div>
                      
                      <div class="model--list__wrapper">

                          <div class="title--wrapper">
                            
                            <div class="col--unit__4">
                                Modèle
                            </div>
                            <div class="col--unit__8 desc--title">
                                Description
                            </div>
                          </div>

                          <div class="model--item active">
                              <div class="collapse--btn">
                                <svg class="svg--open" width="24" height="3" viewBox="0 0 24 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 1.75L23.5 1.75" stroke="white" stroke-width="2"/>
                                </svg>

                                <svg class="svg--closed" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M11.75 0V23.5" stroke="white" stroke-width="2"/>
                                <path d="M0 11.75L23.5 11.75" stroke="white" stroke-width="2"/>
                                </svg>

                              </div>

                            <div class="col--unit__4">
                                <h4 class="modele--type">Creality CR-30: The 3DPrintMill,Infinite-Z, Belt 3D Printer</h4>
                            </div>
                            <div class="col--unit__8 model--content ">
                                <img src="images/61heffQr4cS._AC_UF894,1000_QL80_.jpg" alt="" class="model--img">
                                  <h4 class="modele--caracteristic__title">Caractéristiques</h4>
                                <ul class="ul--listing dash--list">
                                        <li><span class="entitled">Technologie:</span><span class="entitled--desc">FDM</span></li>
                                        <li><span class="entitled">Dimensions de la machine:</span><span class="entitled--desc">535 mm x 656 mm x 410 mm</span></li>
                                        <li><span class="entitled">Poids de la Machine:</span><span class="entitled--desc"> 16,5 kg</span></li>
                                        <li><span class="entitled">Poids du colis:</span><span class="entitled--desc"> 20,5 kg</span></li>
                                        <li><span class="entitled">Slicer: </span><span class="entitled--desc">CrealityBelt (exclusif CR-30)</span></li>
                                        <li><span class="entitled"> Mode de fonctionnement: </span><span class="entitled--desc">En ligne (câble USB fourni) / Carte SD</span></li>
                                    </ul>
                            </div>
                          </div>
                          
                          <div class="model--item">
                            <div class="col--unit__4">
                                <h4 class="modele--type">Creality CR-30: The 3DPrintMill,Infinite-Z, Belt 3D Printer</h4>
                            </div>
                            <div class="collapse--btn">
                              <svg class="svg--open" width="24" height="3" viewBox="0 0 24 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 1.75L23.5 1.75" stroke="white" stroke-width="2"/>
                                </svg>

                                <svg class="svg--closed" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M11.75 0V23.5" stroke="white" stroke-width="2"/>
                                <path d="M0 11.75L23.5 11.75" stroke="white" stroke-width="2"/>
                                </svg>
                            </div>
                            <div class="col--unit__8 model--content">
                                <img src="images/61heffQr4cS._AC_UF894,1000_QL80_.jpg" alt="" class="model--img">
                                <ul class="ul--listing dash--list">
                                        <li><span class="entitled">Technologie:</span><span class="entitled--desc">FDM</span></li>
                                        <li><span class="entitled">Dimensions de la machine:</span><span class="entitled--desc">535 mm x 656 mm x 410 mm</span></li>
                                        <li><span class="entitled">Poids de la Machine:</span><span class="entitled--desc"> 16,5 kg</span></li>
                                        <li><span class="entitled">Poids du colis:</span><span class="entitled--desc"> 20,5 kg</span></li>
                                        <li><span class="entitled">Slicer: </span><span class="entitled--desc">CrealityBelt (exclusif CR-30)</span></li>
                                        <li><span class="entitled"> Mode de fonctionnement: </span><span class="entitled--desc">En ligne (câble USB fourni) / Carte SD</span></li>
                                    </ul>
                            </div>
                          </div>
                     </div>

                  </div>

                  <div class="equipment__description" >
                      <div class="equipment__description--container">
                            <div class="col--unit__6 img--wrapper">
                              <img src="images/Rectangle 34624141.png" alt="" srcset="">
                            </div>

                            <div class="col--unit__6 description--wrapper">
                                    <h3 class="equipment--title">Fraiseuse numérique</h3>
                                    <p class="about__description">La machine outil à commande numérique (CNC) ou computer numerical control en anglais est une machine-outil dotée d'une commande numérique assurée par un ordinateur. De nos jours,elle est très utilisée dans le domaine de la fabrication mécanique, menuiserie et bien d’autres.</p>
                                   {{>eauipments-regist_link}}
                            </div>

                      </div>
                  </div>
                   <div class="equipment__description" >
                      <div class="equipment__description--container">
                          <div class="col--unit__6 img--wrapper">
                            <img src="images/Rectangle 34624141.png" alt="" srcset="">
                          </div>
                          <div class="col--unit__6 description--wrapper">
                                <h3 class="equipment--title">Découpe Laser</h3>
                                <p class="about__description">La découpe laser est un procédé de fabrication qui consiste à découper la matière grâce à une grande quantité d'énergie générée par un laser et concentrée sur une très faible surface. Cette technologie est majoritairement destinée aux chaînes de production industrielles, mais peut également convenir aux boutiques, aux établissements professionnels…</p>
                                <h4 class="modele--caracteristic__title">Caractéristiques</h4>
                                  <ul class="ul--listing dash--list">
                                    <li><span class="entitled">Marque</span><span class="entitled--desc"> HITECCNC</span></li>
                                    <li><span class="entitled">Modèle du produit</span><span class="entitled--desc"> HTJ1390</span></li>
                                    <li><span class="entitled">Zone de travail maximale(mm)</span><span class="entitled--desc"> 1300×900</span></li>
                                    <li><span class="entitled">Puissance laser</span><span class="entitled--desc"> Tube laser 100w Reci</span></li>
                                    <li><span class="entitled">Type laser</span><span class="entitled--desc"> Tube de CO2 hermétique et détaché</span></li>
                                    <li><span class="entitled">Vitesse de gravure(mm/min)</span><span class="entitled--desc"> 0-75000</span></li>
                                    <li><span class="entitled">Vitesse de coupe(mm/min)</span><span class="entitled--desc"> 0-40 000</span></li>
                                    <li><span class="entitled">Lettre minimale</span><span class="entitled--desc"> Anglais 1 x 1 mm</span></li>
                                    <li><span class="entitled">Précision de localisation</span><span class="entitled--desc"> ≤0.01mm</span></li>
                                    <li><span class="entitled">Système de conduite</span><span class="entitled--desc"> Pas à pas</span></li>
                                    <li><span class="entitled">Logiciel</span><span class="entitled--desc"> RDworks V8</span></li>
                                    <li><span class="entitled">Logiciels compatibles</span><span class="entitled--desc"> CorelDraw, AutoCAD, Photoshop</span></li>
                                    <li><span class="entitled">Gravure de pente à 360°</span><span class="entitled--desc"> Oui</span></li>
                                    <li><span class="entitled">Source de courant</span><span class="entitled--desc"> AC 220V/50Hz~60HZ (110V est également disponible)</span></li>
                                    <li><span class="entitled">Contrôle de la sortie laser</span><span class="entitled--desc"> Panneau de commande 1-100 % et réglage du logiciel</span></li>
                                    <li><span class="entitled">Précision de numérisation la plus élevée</span><span class="entitled--desc"> 50-1000 DPI</span></li>
                                    <li><span class="entitled">Mode de refroidissement </span><span class="entitled--desc">Système de refroidissement par eau et de protection</span></li>
                                     <li><span class="entitled">Format graphique pris en charge </span><span class="entitled--desc"></span> BMP, CIF, JPEG, TGA, TIFF, PLT, AI, DXF, DST (logiciel de broderie TIANDAO), DWG, CDR, etc.</span></li>
                                     <li><span class="entitled">Accessoires </span><span class="entitled--desc"></span> Ventilateur d'extraction, tuyau d'échappement, pompe à air, refroidisseur CW3000, roue universelle et fondation</span></li>
                                  </ul>
                                {{> eauipments-regist_link}}
                          </div>
                      </div>
                  </div>

                  <div class="equipment__description" >
                      <div class="equipment__description--container">
                          <div class="col--unit__6 img--wrapper">
                            <img src="images/Rectangle 34624141.png" alt="" srcset="">
                          </div>

                          <div class="col--unit__6 description--wrapper">
                                <h3 class="equipment--title">Découpe Vinyle</h3>
                                <p class="about__description">Une découpe vinyle est une machine, contrôlée par ordinateur, qui découpe différentes formes et lettres dans de fines feuilles plastifiées autocollantes, selon une image vectorielle du résultat attendu. Nous disposons de deux modèles.</p>
                                {{> eauipments-regist_link}}
                          </div>
                      </div>
                      
                      <div class="model--list__wrapper">

                          <div class="title--wrapper">
                            
                            <div class="col--unit__4">
                                Modèle
                            </div>
                            <div class="col--unit__8 desc--title">
                                Description
                            </div>
                          </div>

                          <div class="model--item active">
                              <div class="collapse--btn">
                                <svg class="svg--open" width="24" height="3" viewBox="0 0 24 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 1.75L23.5 1.75" stroke="white" stroke-width="2"/>
                                </svg>

                                <svg class="svg--closed" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M11.75 0V23.5" stroke="white" stroke-width="2"/>
                                <path d="M0 11.75L23.5 11.75" stroke="white" stroke-width="2"/>
                                </svg>

                              </div>

                            <div class="col--unit__4">
                                <h4 class="modele--type">Cameo silhouette 4</h4>
                            </div>
                            <div class="col--unit__8 model--content ">
                                <img src="images/61heffQr4cS._AC_UF894,1000_QL80_.jpg" alt="" class="model--img">
                                  <h4 class="modele--caracteristic__title">Caractéristiques</h4>
                                <ul class="ul--listing dash--list">
                                    <li><span class="entitled">Largeur de coupe 30,4 cm.</span></li>
                                    <li><span class="entitled">Profondeur (support de rouleau fermé) :</span><span class="entitled--desc"></span> 16 cm.</span></li>
                                    <li><span class="entitled">Hauteur :</span><span class="entitled--desc"></span> 17 cm.</span></li>
                                    <li><span class="entitled">Longueur :</span><span class="entitled--desc"></span> 54 cm.</span></li>
                                    <li><span class="entitled">Poids :</span><span class="entitled--desc"></span> 4,3 kg.</span></li>
                                    <li><span class="entitled">1 x Tapis de coupe :</span><span class="entitled--desc"></span> 30,5 cm x 30,5 cm</span></li>
                                    <li><span class="entitled">1 x Adaptateur de lame Kraft 2 mm</span></li>
                                    <li><span class="entitled">1 x Adaptateur de lame à coupe profonde (silh-blade-deep)</span></li>
                                    <li><span class="entitled">1 x Adaptateur de lame Silhouette (silh-blade-3 ou silh-blade-prem)</span></li>
                                  </ul>
                            </div>
                          </div>
                          
                          <div class="model--item">
                            <div class="col--unit__4">
                                <h4 class="modele--type">Traceur Découpe Vinyle signmaster</h4>
                            </div>
                            <div class="collapse--btn">
                              <svg class="svg--open" width="24" height="3" viewBox="0 0 24 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 1.75L23.5 1.75" stroke="white" stroke-width="2"/>
                                </svg>

                                <svg class="svg--closed" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M11.75 0V23.5" stroke="white" stroke-width="2"/>
                                <path d="M0 11.75L23.5 11.75" stroke="white" stroke-width="2"/>
                                </svg>
                            </div>
                            <div class="col--unit__8 model--content">
                                <img src="images/61heffQr4cS._AC_UF894,1000_QL80_.jpg" alt="" class="model--img">
                                <ul class="ul--listing dash--list">
                                          <li><span class="entitled">Taille : </span><span class="entitled--desc">24" (720 mm)M</span></li>
                                          <li><span class="entitled">Types de lames :</span><span class="entitled--desc"> lames Roland standard et lames compatiblesM</span></li>
                                          <li><span class="entitled">Méthode de conduite : </span><span class="entitled--desc">moteur pas à pas.M</span></li>
                                          <li><span class="entitled">Articles inclus : </span><span class="entitled--desc">coupe-vinyle, lames, porte-lame, accessoire pour stylo, câble série, câble USB, câble d'alimentation, logiciel ArtcutM</span></li>
                                          <li><span class="entitled">Interface : </span><span class="entitled--desc">port série et USB 2.0M</span></li>
                                          <li><span class="entitled">Largeur de coupe maximale : </span><span class="entitled--desc">24,80" (630 mm)M</span></li>
                                          <li><span class="entitled">Largeur d'alimentation maximale : </span><span class="entitled--desc">28,3" (720 mm)M</span></li>
                                          <li><span class="entitled">Pression maximale : </span><span class="entitled--desc">500 grammesM</span></li>
                                          <li><span class="entitled">Vitesse maximale : </span><span class="entitled--desc">48 pouces/secondeM</span></li>
                                          <li><span class="entitled">Mémoire : </span><span class="entitled--desc">1 Mo - RecyclableM</span></li>
                                          <li><span class="entitled">Nombre de rouleaux pinceurs : </span><span class="entitled--desc">deux (2)M</span></li>
                                          <li><span class="entitled">Alimentation : </span><span class="entitled--desc">100-220 V AC 50/60 Hz Commutation automatique (dans le monde entier)M</span></li>
                                          <li><span class="entitled">Précision de répétition : </span><span class="entitled--desc">0,005 pouces (0,127 MM)M</span></li>
                                          <li><span class="entitled">Résolution : </span><span class="entitled--desc">0,001 pouce/pas (0,0254 mm/st)M</span></li>
                                    </ul>
                            </div>
                          </div>
                     </div>
                  </div>
                     <div class="equipment__description" >
                      <div class="equipment__description--container">
                          <div class="col--unit__6 img--wrapper">
                            <img src="images/Rectangle 34624141.png" alt="" srcset="">
                          </div>

                          <div class="col--unit__6 description--wrapper">
                                <h3 class="equipment--title">Presse à chaud pour transfert</h3>
                                <p class="about__description">Une presse à chaud ou presse à transfert permet d'imprimer un texte, des logos ou des images sur divers supports. Cette machine fonctionne avec la pression et la chaleur, ce qui permet de transférer sur des supports comme les t-shirt, tasses, assiettes, mugs et bien d’autres.</p>
                                {{> eauipments-regist_link}}
                          </div>
                      </div>
                  </div>
                   <div class="equipment__description" >
                      <div class="equipment__description--container">
                          <div class="col--unit__6 img--wrapper">
                            <img src="images/Rectangle 34624141.png" alt="" srcset="">
                          </div>

                          <div class="col--unit__6 description--wrapper">
                                <h3 class="equipment--title"> Brodeuse numérique</h3>
                                <p class="about__description">L'impression 3D ou fabrication additive regroupe les procédés de fabrication de pièces en volume par ajout ou agglomération de matière, par empilement de couches successives. L'impression 3D permet de réaliser un objet réel : un concepteur dessine l'objet 3D grâce à un outil de conception assistée par ordinateur (CAO). Le fichier 3D obtenu est traité par un logiciel spécifique qui organise le découpage en tranches des différentes couches nécessaires à la réalisation de la pièce. Le découpage est envoyé à l'imprimante 3D qui dépose ou solidifie la matière couche par couche jusqu'à obtenir la pièce finale.</p>
                                {{> eauipments-regist_link}}
                          </div>
                      </div>
                      
                      <div class="model--list__wrapper">

                          <div class="title--wrapper">
                            
                            <div class="col--unit__4">
                                Modèle
                            </div>
                            <div class="col--unit__8 desc--title">
                                Description
                            </div>
                          </div>

                          <div class="model--item active">
                              <div class="collapse--btn">
                                <svg class="svg--open" width="24" height="3" viewBox="0 0 24 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 1.75L23.5 1.75" stroke="white" stroke-width="2"/>
                                </svg>

                                <svg class="svg--closed" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M11.75 0V23.5" stroke="white" stroke-width="2"/>
                                <path d="M0 11.75L23.5 11.75" stroke="white" stroke-width="2"/>
                                </svg>

                              </div>

                            <div class="col--unit__4">
                                <h4 class="modele--type">BROTHER Innovis M240</h4>
                            </div>
                            <div class="col--unit__8 model--content ">
                                <img src="images/61heffQr4cS._AC_UF894,1000_QL80_.jpg" alt="" class="model--img">
                                  <h4 class="modele--caracteristic__title">Caractéristiques</h4>
                                   <p class="about__description">Machine  à broder, elle dispose de 10 superbe alphabets, 125 motifs de broderie dont 45 personnages de Disney, elle est capable de broder dans un cadre de 100 mm x 100 mm, elle peut être connectée à une clé USB  et utiliser les cartes de broderie standard et Disney de Brother (via un lecteur de carte optionnel), une qualité de broderie exceptionnelle à ce prix.</p>
                                  <p><strong>Points forts:</strong></p>
                                <ul class="ul--listing dash--list">
                                   <li><span class="entitled">Ecran LCD tactile 9,4 cm Haute Définition couleur</span></li>
                                   <li><span class="entitled">Système d’enfilage automatique</span></li>
                                   <li><span class="entitled">Eclairage par LED</span></li>
                                   <li><span class="entitled">Plateau d’extension</span></li>
                                   <li><span class="entitled">125 motifs de broderie dont 45 personnages Disney</span></li>
                                   <li><span class="entitled">Combinaison de plusieurs motifs de broderie possible</span></li>
                                   <li><span class="entitled">Champ de broderie de 100 x 100 mm</span></li>
                                   <li><span class="entitled">10 styles de polices de caractères intégrées</span></li>
                                   <li><span class="entitled">Port USB pour clé USB</span></li>
                                    </ul>
                            </div>
                          </div>
                          
                          <div class="model--item">
                            <div class="col--unit__4">
                                <h4 class="modele--type">BAI Mirror 1501 </h4>
                            </div>
                            <div class="collapse--btn">
                              <svg class="svg--open" width="24" height="3" viewBox="0 0 24 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 1.75L23.5 1.75" stroke="white" stroke-width="2"/>
                                </svg>

                                <svg class="svg--closed" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M11.75 0V23.5" stroke="white" stroke-width="2"/>
                                <path d="M0 11.75L23.5 11.75" stroke="white" stroke-width="2"/>
                                </svg>
                            </div>
                            <div class="col--unit__8 model--content">
                                <img src="images/61heffQr4cS._AC_UF894,1000_QL80_.jpg" alt="" class="model--img">
                                <ul class="ul--listing dash--list">
                                    <li><span class="entitled">Application : </span><span class="entitled--desc">casquettes/chapeaux ; tee-shirts;; chandails à capuchon; patchs ; sacs; jeans; chaussures; chaussettes; cuirs; logotypes ; uniformes; etc.</span></li>
                                    <li><span class="entitled">Modèle : </span><span class="entitled--desc">MIROIR-1201/1501(350*500mm)</span></li>
                                    <li><span class="entitled">Marque : </span><span class="entitled--desc">BAI</span></li>
                                    <li><span class="entitled">Têtes : </span><span class="entitled--desc">1</span></li>
                                    <li><span class="entitled">Aiguilles : </span><span class="entitled--desc">15</span></li>
                                    <li><span class="entitled">Application : </span><span class="entitled--desc">Casquettes / T-shirts / Appartements / etc.</span></li>
                                    <li><span class="entitled">Zone de broderie : </span><span class="entitled--desc">350mm*500mm</span></li>
                                    <li><span class="entitled">Zone de broderie du bonnet : </span><span class="entitled--desc">270°</span></li>
                                    <li><span class="entitled">Max. Vitesse : </span><span class="entitled--desc">1200 s/min</span></li>
                                    <li><span class="entitled">Ordinateur : </span><span class="entitled--desc">Top Wisdom 510</span></li>
                                    <li><span class="entitled">Moteur :</span><span class="entitled--desc"> servomoteur</span></li>
                                    <li><span class="entitled">Dispositif facultatif : </span><span class="entitled--desc">cordons/paillettes/perles</span></li>
                                    <li><span class="entitled">Langue : </span><span class="entitled--desc">16 types de langues</span></li>
                                    <li><span class="entitled">Accessoires : </span><span class="entitled--desc">Casquette / T-shirt / Fixation plate / etc.</span></li>
                                    </ul>
                            </div>
                          </div>
                     </div>

                  </div>
                   <div class="equipment__description" >
                      <div class="equipment__description--container">
                          <div class="col--unit__6 img--wrapper">
                            <img src="images/Rectangle 34624141.png" alt="" srcset="">
                          </div>

                          <div class="col--unit__6 description--wrapper">
                                <h3 class="equipment--title">SCIE ÉLECTRIQUES</h3>
                                <p class="about__description">Description</p>
                                {{> eauipments-regist_link}}
                          </div>
                      </div>
                      
                      <div class="model--list__wrapper">

                          <div class="title--wrapper">
                            
                            <div class="col--unit__4">
                                Modèle
                            </div>
                            <div class="col--unit__8 desc--title">
                                Description
                            </div>
                          </div>

                          <div class="model--item active">
                              <div class="collapse--btn">
                                <svg class="svg--open" width="24" height="3" viewBox="0 0 24 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 1.75L23.5 1.75" stroke="white" stroke-width="2"/>
                                </svg>

                                <svg class="svg--closed" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M11.75 0V23.5" stroke="white" stroke-width="2"/>
                                <path d="M0 11.75L23.5 11.75" stroke="white" stroke-width="2"/>
                                </svg>

                              </div>

                            <div class="col--unit__4">
                                <h4 class="modele--type">SCIE CIRCULAIRE 2200W</h4>
                            </div>
                            <div class="col--unit__8 model--content ">
                                <img src="images/61heffQr4cS._AC_UF894,1000_QL80_.jpg" alt="" class="model--img">
                                  <h4 class="modele--caracteristic__title">Caractéristiques</h4>
                                <ul class="ul--listing dash--list">
                                        <li><span class="entitled"> Tension:</span><span class="entitled--desc"> 220-240V ~ 50  / 60Hz</span></li>
                                        <li><span class="entitled">Puissance d'entrée:</span><span class="entitled--desc"> 2200W </span></li>
                                        <li><span class="entitled">Vitesse à vide:</span><span class="entitled--desc"> : 3800 rpm</span></li>
                                        <li><span class="entitled"> Capacité de coupe:</span><span class="entitled--desc"> 45 degrés: 65mm 90 degrés: 80mm </span></li>
                                        <li><span class="entitled">Diamètre de la lame: </span><span class="entitled--desc"> 235 mm </span></li>
                                        <li><span class="entitled">Boîtier en aluminium</span></li>
                                        <li><span class="entitled"> Profondeur de coupe réglable</span></li>
                                        <li><span class="entitled">Coupe biseautée réglable Avec lame 1CT 60T</span></li>
                                    </ul>
                            </div>
                          </div>
                          
                          <div class="model--item">
                            <div class="col--unit__4">
                                <h4 class="modele--type">SCIE À ONGLET</h4>
                            </div>
                            <div class="collapse--btn">
                              <svg class="svg--open" width="24" height="3" viewBox="0 0 24 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 1.75L23.5 1.75" stroke="white" stroke-width="2"/>
                                </svg>

                                <svg class="svg--closed" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M11.75 0V23.5" stroke="white" stroke-width="2"/>
                                <path d="M0 11.75L23.5 11.75" stroke="white" stroke-width="2"/>
                                </svg>
                            </div>
                            <div class="col--unit__8 model--content">
                                <img src="images/61heffQr4cS._AC_UF894,1000_QL80_.jpg" alt="" class="model--img">
                                <p>La scie à onglet aussi très souvent appelée scie radiale, permet de couper précisément et d'une manière efficace des angles de 45 ou 90° sur des pièces peu larges, ainsi que de réaliser des coupes transversales propres. Ce type de scie est indispensable par exemple pour couper des plinthes, des tasseaux, des lambourdes ou encore du lambris.</p>
                            </div>
                          </div>
                     </div>

                  </div>
                <div class="equipment__description" >
                      <div class="equipment__description--container">
                          <div class="col--unit__6 img--wrapper">
                            <img src="images/Rectangle 34624141.png" alt="" srcset="">
                          </div>

                          <div class="col--unit__6 description--wrapper">
                                <h3 class="equipment--title">PERCEUSE À COLONNE 750W ZJ5120</h3>
                                <p class="about__description">Caractéristiques:</p>
                                  <ul class="ul--listing dash--list">
                                      <li><span class="entitled">Puissance</span><span class="entitled--desc"> 750W </li>
                                       <li><span class="entitled">Longueur de câble</span><span class="entitled--desc"> 1,8 m </li>
                                       <li><span class="entitled">Mandrin</span><span class="entitled--desc"> 20 mm </li>
                                       <li><span class="entitled">Table de travail</span><span class="entitled--desc"> 290 x 290mm </li>
                                       <li><span class="entitled">Tension</span><span class="entitled--desc"> 230V/50Hz </li>
                                       <li><span class="entitled">Taille</span><span class="entitled--desc"> de la base 460 x 272mm </li>
                                       <li><span class="entitled">Moteur</span><span class="entitled--desc"> Magnétique, fil d'aluminium</li>
                                  </ul>
                                {{> eauipments-regist_link}}
                          </div>
                      </div>

                  </div>
                  <div class="equipment__description" >
                      <div class="equipment__description--container">
                            <div class="col--unit__6 img--wrapper">
                              <img src="images/Rectangle 34624141.png" alt="" srcset="">
                            </div>

                            <div class="col--unit__6 description--wrapper">
                                    <h3 class="equipment--title">Électronique et IoT</h3>
                                    <p class="about__description">Nous disposons de nombreux équipements électroniques pouvant servir au prototypage ou la réalisation de tout type de projets. Cela comprend des composants électroniques classiques,les carte micro contrôleur ESP3, Arduino (Uno, Mega, Nano, Pro micro…), Raspberry ( Pi 3, Pi4, Pico etc).</p>
                                   {{> eauipments-regist_link}}
                            </div>

                      </div>
                  </div>
        </div>
    </div>
</section>
   
{{> main__footer}}