<section class="inner--hero section--margin mid--content"> 
    {{>header}}
    <div class="content">
        <div class="header--text__container">
        <span class="pastille--label pastille--label__black">{{{locals.hero__label}}}</span>
            <h1>{{{locals.hero__title}}}</h1>
            <p>{{{locals.hero__subtitle}}}</p>
         </div> 
         <div class="hero--banner">
              <img src="images/{{{locals.banner__image}}}" alt="" srcset="">
          </div>
     </div>
    </div> 
</section>

<section class="section--wrapper  equipment mb-5">
    <div class="container equipments--container">

      <div class="nav--tabs">
          <div class="scroll--controllers__wrap">
              <span id="slideLeft"><i class="arrow left"></i></span>
              <span id="slideRight"><i class="arrow right"></i></span>
          </div>

          <div class="nav--tabs--container">
            <a class="nav--tabs__links active">Impression 3D</a>
            <a class="nav--tabs__links">Fraiseuse numérique</a>
            <a class="nav--tabs__links">Découpe Laser</a>
            <a class="nav--tabs__links">Découpe Vinyle</a>
            <a class="nav--tabs__links">Presse à chaud pour transfert</a>
            <a class="nav--tabs__links"> Brodeuse numérique</a>
            <a class="nav--tabs__links">Perceuse à colonne</a>
            <a class="nav--tabs__links">Scie Éélectrique</a>
            <a class="nav--tabs__links">Électronique et IoT</a>
          </div>
      </div>

        <div class="equipment__description--wrapper">
           <div class="equipment__description active">
                      <div class="equipment__description--container">
                          <div class="col--unit__6 img--wrapper">
                            <img src="images/equipments/imprimante-3D.jpeg" alt="imprimante-3D" srcset="">
                          </div>

                          <div class="col--unit__6 description--wrapper">
                                <h3 class="equipment--title">Impression 3D</h3>
                                <p class="about__description">L'impression 3D ou fabrication additive regroupe les procédés de fabrication de pièces en volume par ajout ou agglomération de matière, par empilement de couches successives. L'impression 3D permet de réaliser un objet réel : un concepteur dessine l'objet 3D grâce à un outil de conception assistée par ordinateur (CAO). Le fichier 3D obtenu est traité par un logiciel spécifique qui organise le découpage en tranches des différentes couches nécessaires à la réalisation de la pièce. Le découpage est envoyé à l'imprimante 3D qui dépose ou solidifie la matière couche par couche jusqu'à obtenir la pièce finale.</p>
                                <div class="desc--bottom btn--wrapper">
                                    <a class="btn btn--primary" href="">Reserver la machine</a>
                                    <a class="btn btn--bordered" href="">Se former</a>
                                </div>
                          </div>
                      </div>
                      
                      <div class="model--list__wrapper">

                          <div class="title--wrapper">
                            
                            <div class="col--unit__4">
                                Modèle
                            </div>
                            <div class="col--unit__8 desc--title">
                                Description
                            </div>
                          </div>

                          <div class="model--item active">
                              <div class="collapse--btn">
                                <svg class="svg--open" width="24" height="3" viewBox="0 0 24 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 1.75L23.5 1.75" stroke="white" stroke-width="2"/>
                                </svg>

                                <svg class="svg--closed" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M11.75 0V23.5" stroke="white" stroke-width="2"/>
                                <path d="M0 11.75L23.5 11.75" stroke="white" stroke-width="2"/>
                                </svg>

                              </div>

                            <div class="col--unit__4">
                                <h4 class="modele--type">Creality CR-30: The 3DPrintMill,Infinite-Z, Belt 3D Printer</h4>
                            </div>
                            <div class="col--unit__8 model--content ">
                                <img src="images/equipments/Creality-CR-30-Printmill.jpg" alt="" class="model--img">
                                  <h4 class="modele--caracteristic__title">Caractéristiques</h4>
                                <ul class="ul--listing dash--list">
                                        <li><span class="entitled">Technologie:</span><span class="entitled--desc">FDM</span></li>
                                        <li><span class="entitled">Dimensions de la machine:</span><span class="entitled--desc">535 mm x 656 mm x 410 mm</span></li>
                                        <li><span class="entitled">Poids de la Machine:</span><span class="entitled--desc"> 16,5 kg</span></li>
                                        <li><span class="entitled">Poids du colis:</span><span class="entitled--desc"> 20,5 kg</span></li>
                                        <li><span class="entitled">Slicer: </span><span class="entitled--desc">CrealityBelt (exclusif CR-30)</span></li>
                                        <li><span class="entitled">Mode de fonctionnement: </span><span class="entitled--desc">En ligne (câble USB fourni) / Carte SD</span></li>
                                        <li><span class="entitled">Filaments Imprimables </span><span class="entitled--desc">PLA, TPU, bois, cuivre, TPE, PETG</span></li>
                                        <li><span class="entitled">Volume d'impression </span><span class="entitled--desc">200 x 170 x ∞ mm</span></li>
                                        <li><span class="entitled">Épaisseur de canapés </span><span class="entitled--desc">0.1 - 0.4 mm</span></li>
                                        <li><span class="entitled">Précision d'impression </span><span class="entitled--desc">±0,1 mm</span></li>
                                        <li><span class="entitled">Température d'extrusion max </span><span class="entitled--desc">240°C</span></li>
                                        <li><span class="entitled">Température Du Plateau max </span><span class="entitled--desc">100°C</span></li>

                                    </ul>
                            </div>
                          </div>
                          
                          <div class="model--item">
                            <div class="col--unit__4">
                                <h4 class="modele--type">Prusa Mendel MKS3</h4>
                            </div>
                            <div class="collapse--btn">
                              <svg class="svg--open" width="24" height="3" viewBox="0 0 24 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 1.75L23.5 1.75" stroke="white" stroke-width="2"/>
                                </svg>

                                <svg class="svg--closed" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M11.75 0V23.5" stroke="white" stroke-width="2"/>
                                <path d="M0 11.75L23.5 11.75" stroke="white" stroke-width="2"/>
                                </svg>
                            </div>
                            <div class="col--unit__8 model--content">
                                <img src="images/equipments/prusa-i3-mks.jpg" alt="" class="model--img">
                                <p><strong>Paramètres techniques</strong></p>
                                <ul class="ul--listing dash--list">
                                    
                                         <li><span class="entitled">Volume d'impression</span><span class="entitled--desc"> 25×21×21 cm (9,84"×8,3"×8,3")</span></li>
                                         <li><span class="entitled">Hauteur de couche</span><span class="entitled--desc"> 0,05 - 0,35 mm</span></li>
                                         <li><span class="entitled">Buse</span><span class="entitled--desc"> 0,4 mm par défaut, large gamme d'autres diamètres/buses prise en charge</span></li>
                                         <li><span class="entitled">Diamètre du filament</span><span class="entitled--desc"> 1.75 mm</span></li>
                                         <li><span class="entitled">Matériaux supportés</span><span class="entitled--desc"> Large gamme de thermoplastiques, y compris PLA, PETG, ASA, ABS, PC (Polycarbonate), CPE, PVA/BVOH, PVB, HIPS, PP (Polypropylène), Flex, nGen, Nylon, Carbon filled, Woodfill et autres matériaux enrichit.</span></li>
                                         <li><span class="entitled">Vitesse de déplacement maximale</span><span class="entitled--desc"> 200+ mm/s</span></li>
                                         <li><span class="entitled">Température maximale de la buse</span><span class="entitled--desc"> 300 °C / 572 °F</span></li>
                                         <li><span class="entitled">Température maximale du plateau chauffant</span><span class="entitled--desc"> 120 °C / 248 °F</span></li>
                                         <li><span class="entitled">Extrudeur</span><span class="entitled--desc"> Entraînement direct, engrenages Bondtech, hotend E3D V6</span></li>
                                         <li><span class="entitled">Surface d'impression</span><span class="entitled--desc"> Plaques d'acier magnétiques amovibles avec finitions différentes de surface, plateau chauffant avec compensation des pièces froides</span></li>
                                         <li><span class="entitled">Dimensions de l'imprimante</span><span class="entitled--desc"> (sans bobine) 7 kg, 500×550×400 mm ; 19,6×21,6×15,7 pouces (X×Y×Z)</span></li>
                                         <li><span class="entitled">Consommation électrique</span><span class="entitled--desc"> Paramètres PLA : 80W / Paramètres ABS : 120W</span></li>
                                    </ul>
                            </div>
                          </div>

                          <div class="model--item">
                            <div class="col--unit__4">
                                <h4 class="modele--type">Creality Ender 3 Max</h4>
                            </div>
                            <div class="collapse--btn">
                              <svg class="svg--open" width="24" height="3" viewBox="0 0 24 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 1.75L23.5 1.75" stroke="white" stroke-width="2"/>
                                </svg>

                                <svg class="svg--closed" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M11.75 0V23.5" stroke="white" stroke-width="2"/>
                                <path d="M0 11.75L23.5 11.75" stroke="white" stroke-width="2"/>
                                </svg>
                            </div>
                            <div class="col--unit__8 model--content">
                                <img src="images/equipments/Ender-3-max-3.png" alt="" class="model--img">
                                <ul class="ul--listing dash--list">
                                     <li><span class="entitled">Créalité</span><span class="entitled--desc"> Ender 3 Max</span></li>
                                     <li><span class="entitled">Marque</span><span class="entitled--desc"> CREALITY</span></li>
                                     <li><span class="entitled">référence</span><span class="entitled--desc"> Ender 3 Max</span></li>
                                     <li><span class="entitled">Dimensions</span><span class="entitled--desc"> 513 X 563 X 590 mm</span></li>
                                     <li><span class="entitled">Volume d'impression</span><span class="entitled--desc"> 300 X 300 X 340 mm</span></li>
                                     <li><span class="entitled">Type de filament</span><span class="entitled--desc"> PLA, TPU, PETG</span></li>
                                     <li><span class="entitled">Diamètre du filament</span><span class="entitled--desc"> 1,75 mm</span></li>
                                     <li><span class="entitled">Nombre d'extrudeurs </span><span class="entitled--desc">1</span></li>
                                     <li><span class="entitled">Diamètre de la buse</span><span class="entitled--desc"> 0,4 mm</span></li>
                                     <li><span class="entitled">Température max d'extrusion</span><span class="entitled--desc"> 260°</span></li>
                                     <li><span class="entitled">Température max plateau</span><span class="entitled--desc"> 100°</span></li>
                                     <li><span class="entitled">précision</span><span class="entitled--desc"> +/- 0,1 mm</span></li>
                                     <li><span class="entitled">Épaisseurs couches</span><span class="entitled--desc"> 0,1 mm - 0,4 mm</span></li>
                                     <li><span class="entitled">Vitesse d'impression</span><span class="entitled--desc"> <= 180 mm/s</span></li>
                                     <li><span class="entitled">Connectivité</span><span class="entitled--desc"> Carte SD, Ethernet</span></li>
                                     <li><span class="entitled">Poids</span><span class="entitled--desc"> 9,5 kg</span></li>
                                     <li><span class="entitled">Formats de fichiers</span><span class="entitled--desc"> STL, AMF, OBJ</span></li>
                                    </ul>
                            </div>
                          </div>

                           <div class="model--item">
                            <div class="col--unit__4">
                                <h4 class="modele--type">Anet ET4</h4>
                            </div>
                            <div class="collapse--btn">
                              <svg class="svg--open" width="24" height="3" viewBox="0 0 24 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 1.75L23.5 1.75" stroke="white" stroke-width="2"/>
                                </svg>

                                <svg class="svg--closed" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M11.75 0V23.5" stroke="white" stroke-width="2"/>
                                <path d="M0 11.75L23.5 11.75" stroke="white" stroke-width="2"/>
                                </svg>
                            </div>
                            <div class="col--unit__8 model--content">
                                <img src="images/equipments/Anet-ET4.jpg" alt="" class="model--img">
                                <ul class="ul--listing dash--list">
                                     <li><span class="entitled">Type:</span><span class="entitled--desc"> Particulier/bureau</span></li>
                                     <li><span class="entitled">Technologie:</span><span class="entitled--desc">    Fused Deposition Modelling (FDM )</span></li>
                                     <li><span class="entitled">Matières:</span><span class="entitled--desc">    ABS, PLA, HIPS, Bois</span></li>
                                     <li><span class="entitled">Performances:Volume d'impression maximal:</span><span class="entitled--desc">    220 mm x 220 mm x 250 mm</span></li>
                                     <li><span class="entitled">Hauteur de couche minimale: </span><span class="entitled--desc">   100 µm</span></li>
                                     <li><span class="entitled">Hauteur de couche maximale: </span><span class="entitled--desc">   300 µm</span></li>
                                     <li><span class="entitled">Précision horizontale: </span><span class="entitled--desc">   12 µm</span></li>
                                     <li><span class="entitled">Précision verticale: </span><span class="entitled--desc">   4 µm</span></li>
                                     <li><span class="entitled">Vitesse d'impression minimale:</span><span class="entitled--desc">    20 mm/s</span></li>
                                     <li><span class="entitled">Vitesse d'impression maximale:</span><span class="entitled--desc">    150 mm/s</span></li>
                                     <li><span class="entitled">Nombre d'extrudeur(s):</span><span class="entitled--desc">    1</span></li>
                                     <li><span class="entitled">Diamètre buse (par défaut):</span><span class="entitled--desc">    0.4 mm</span></li>
                                     <li><span class="entitled">Diamètre du filament:</span><span class="entitled--desc">    1.75 mm</span></li>
                                     <li><span class="entitled">Lit d'impression: </span><span class="entitled--desc">   verre chauffant</span></li>
                                     <li><span class="entitled">Filtre à particules: </span><span class="entitled--desc">   Non</span></li>
                                     <li><span class="entitled">Dimensions:</span><span class="entitled--desc">    44 cm x 34 cm x 48 cm</span></li>
                                     <li><span class="entitled">Poids:</span><span class="entitled--desc">    7.3 kg</span></li>
                                     <li><span class="entitled">Alimentation: </span><span class="entitled--desc">   110/220V</span></li>
                                     <li><span class="entitled">Connectivité:</span><span class="entitled--desc">    USB, Micro SD Card</span></li>
                                     <li><span class="entitled">Écran de contrôle:</span><span class="entitled--desc">    Couleurs tactile</span></li>
                                     <li><span class="entitled">Système d'exploitation: </span><span class="entitled--desc">   Linux, Mac, Windows</span></li>
                                     <li><span class="entitled">Logiciel: </span><span class="entitled--desc">   Cura, Repetier, Simplify3D, etc.</span></li>
                                     <li><span class="entitled">Format(s) de fichier: </span><span class="entitled--desc">  OBJ, STL, GCODE</span></li>
                                    </ul>
                            </div>
                          </div>
                           <div class="model--item">
                            <div class="col--unit__4">
                                <h4 class="modele--type">Creality Halot One Plus ( imprimante Résine )</h4>
                            </div>
                            <div class="collapse--btn">
                              <svg class="svg--open" width="24" height="3" viewBox="0 0 24 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 1.75L23.5 1.75" stroke="white" stroke-width="2"/>
                                </svg>

                                <svg class="svg--closed" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M11.75 0V23.5" stroke="white" stroke-width="2"/>
                                <path d="M0 11.75L23.5 11.75" stroke="white" stroke-width="2"/>
                                </svg>
                            </div>
                            <div class="col--unit__8 model--content">
                                <img src="images/equipments/Halot-One-Plus.png" alt="" class="model--img">
                                <ul class="ul--listing dash--list">
                                     <li><span class="entitled">Spécifications techniques</span><span class="entitled--desc">  Imprimante 3D Creality Halot Oneplus Résine - Imprimante en résine</span></li>
                                     <li><span class="entitled">Marque :</span><span class="entitled--desc">  Creality3</span></li>
                                     <li><span class="entitled">Modèle :</span><span class="entitled--desc">  Halot One Plu</span></li>
                                     <li><span class="entitled">Technologie d'impression :</span><span class="entitled--desc">  Résin</span></li>
                                     <li><span class="entitled">Imprimer :</span><span class="entitled--desc"> 
                                    Écran LCD monochrome de 7,9 pouces
                                    Résolution LCD (axes XY) : 4320 x 2560 px (4K)
                                    Précision de l'axe XY : 0,04 mm
                                    Espace d'impression : 172 x 102 x 160 mm
                                    Vitesse d'impression : 1-4 s/couche
                                    Hauteur de couche : 0,01 ~ 0,2 m</span></li>
                                     <li><span class="entitled">Caractéristiques :</span><span class="entitled--desc"> 
                                    Écran tactile couleur 5 pouces
                                    Source de lumière intégrale UV de 4 500 uw/cm2
                                    Langues : anglais, français, allemand, espagnol, portugais, japonais, coréen, turc, italien, russe, néerlandais, polonais, chinois simplifi</span></li>
                                     <li><span class="entitled">Matériau :</span><span class="entitled--desc">  résine UV 405 n</span></li>
                                     <li><span class="entitled">Logiciel :</span><span class="entitled--desc"> 
                                    Slicer : HaloBOX, Lychee Slicer, CHITU BO</span></li>
                                     <li><span class="entitled">Méthode de transmission des données :</span><span class="entitled--desc"> 
                                    Clé USB
                                    Application Creality Cloud
                                    Halot Box Wi-F</span></li>
                                     <li><span class="entitled">Énergie :</span><span class="entitled--desc"> 
                                    Puissance : 100 W
                                    Tension : 100-240 V, 50/60 H</span></li>
                                     <li><span class="entitled">Dimensions :</span><span class="entitled--desc">  236 x 243 x 418 m</span></li>
                                     <li><span class="entitled">Poids :</span><span class="entitled--desc">  6,8 k</span></li>
                                     <li><span class="entitled">Couleur :</span><span class="entitled--desc">  Noir/Ble</span></li>

                                     <li><span class="entitled">Créalité</span><span class="entitled--desc"> Ender 3 Max</span></li>
                                     <li><span class="entitled">Marque</span><span class="entitled--desc"> CREALITY</span></li>
                                     <li><span class="entitled">référence</span><span class="entitled--desc"> Ender 3 Max</span></li>
                                     <li><span class="entitled">Dimensions</span><span class="entitled--desc"> 513 X 563 X 590 mm</span></li>
                                     <li><span class="entitled">Volume d'impression</span><span class="entitled--desc"> 300 X 300 X 340 mm</span></li>
                                     <li><span class="entitled">Type de filament</span><span class="entitled--desc"> PLA, TPU, PETG</span></li>
                                     <li><span class="entitled">Diamètre du filament</span><span class="entitled--desc"> 1,75 mm</span></li>
                                     <li><span class="entitled">Nombre d'extrudeurs </span><span class="entitled--desc">1</span></li>
                                     <li><span class="entitled">Diamètre de la buse</span><span class="entitled--desc"> 0,4 mm</span></li>
                                     <li><span class="entitled">Température max d'extrusion</span><span class="entitled--desc"> 260°</span></li>
                                     <li><span class="entitled">Température max plateau</span><span class="entitled--desc"> 100°</span></li>
                                     <li><span class="entitled">précision</span><span class="entitled--desc"> +/- 0,1 mm</span></li>
                                     <li><span class="entitled">Épaisseurs couches</span><span class="entitled--desc"> 0,1 mm - 0,4 mm</span></li>
                                     <li><span class="entitled">Vitesse d'impression</span><span class="entitled--desc"> <= 180 mm/s</span></li>
                                     <li><span class="entitled">Connectivité</span><span class="entitled--desc"> Carte SD, Ethernet</span></li>
                                     <li><span class="entitled">Poids</span><span class="entitled--desc"> 9,5 kg</span></li>
                                     <li><span class="entitled">Formats de fichiers</span><span class="entitled--desc"> STL, AMF, OBJ</span></li>
                                    </ul>
                            </div>
                          </div>

                            <div class="model--item">
                            <div class="col--unit__4">
                                <h4 class="modele--type">Large UW-02 Washing and Curing Machine( 10.1 Inches)</h4>
                            </div>
                            <div class="collapse--btn">
                              <svg class="svg--open" width="24" height="3" viewBox="0 0 24 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 1.75L23.5 1.75" stroke="white" stroke-width="2"/>
                                </svg>

                                <svg class="svg--closed" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M11.75 0V23.5" stroke="white" stroke-width="2"/>
                                <path d="M0 11.75L23.5 11.75" stroke="white" stroke-width="2"/>
                                </svg>
                            </div>
                            <div class="col--unit__8 model--content">
                                <img src="images/equipments/creality-uw-02-washing-curing-machine.png" alt="" class="model--img">
                                <p> Caractéristiques </p>
                                <p>Machine de lavage et de séchage tout-en-un. Grand espace pour le lavage et le durcissement. Nettoyage automatique intégré de votre modèle imprimé en 3d. Séchage des pièces imprimées en 3D en contrôlant avec précision la lumière, la vitesse et le temps.</p>
                                <p> Dimensions de nettoyage du panier de lavage : 240 x160x200mm.
                                    Polymérisation complète à 360° : plate-forme rotative de polymérisation par réflexions spéculaires à 360° avec perles LED bi-bande 385 nm et 405 nm, polymérisation complète sans bande morte.
                                    Paramètres de vitesse/durée prise en charge.</p>
                                    <p>Paramètre de produit :</p>
                                <ul class="ul--listing dash--list">
                                    <li><span class="entitled">Taille de la machine entièrement fermée :</span><span class="entitled--desc">  325*295*584mm</span></li>
                                    <li><span class="entitled">Taille de lavage :</span><span class="entitled--desc">  240*160*200 mm</span></li>
                                    <li><span class="entitled">Poids maximal du modèle :</span><span class="entitled--desc">  2,5 kg</span></li>
                                    <li><span class="entitled">Longueur d'onde SLA :</span><span class="entitled--desc">  385 nm et 405 nm</span></li>
                                    <li><span class="entitled">Type de boîte :</span><span class="entitled--desc">  Entièrement fermée</span></li>
                                </ul>
                            </div>
                          </div>
                        <div class="model--item">
                            <div class="col--unit__4">
                                <h4 class="modele--type"> Scanner 3D  Scanner 3D CREALITY Scan</h4>
                            </div>
                            <div class="collapse--btn">
                              <svg class="svg--open" width="24" height="3" viewBox="0 0 24 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 1.75L23.5 1.75" stroke="white" stroke-width="2"/>
                                </svg>

                                <svg class="svg--closed" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M11.75 0V23.5" stroke="white" stroke-width="2"/>
                                <path d="M0 11.75L23.5 11.75" stroke="white" stroke-width="2"/>
                                </svg>
                            </div>
                            <div class="col--unit__8 model--content">
                                <img src="images/equipments/Scanner-3D-creality-Lizad.jpg" alt="" class="model--img">
                                <p>Un scanner 3D (tridimensionnel) est un appareil de numérisation et d'acquisition 3D. Un scanner tridimensionnel est un appareil qui analyse les objets ou leur environnement proche pour recueillir des informations précises sur la forme et éventuellement sur l'apparence de ceux-ci.</p>
                                <p>Nous disposons d' un ( 01) Scanner 3D CREALITY Scan Lizard, jusqu'à 0,05 mm de précision, numérisation 10 FPS.</p>
                               
                            </div>
                          </div>
                     </div>

                  </div>

                  <div class="equipment__description" >
                      <div class="equipment__description--container">
                            <div class="col--unit__6 img--wrapper">
                              <img src="images/equipments/ULTIMATE-Bee-004.png" alt="" srcset="">
                            </div>

                            <div class="col--unit__6 description--wrapper">
                                    <h3 class="equipment--title">Fraiseuse numérique</h3>
                                    <p class="about__description">La machine outil à commande numérique (CNC) ou computer numerical control en anglais est une machine-outil dotée d'une commande numérique assurée par un ordinateur. De nos jours,elle est très utilisée dans le domaine de la fabrication mécanique, menuiserie et bien d’autres.</p>
                                   <div class="desc--bottom btn--wrapper">
                                    <a class="btn btn--primary" href="">Reserver la machine</a>
                                    <a class="btn btn--bordered" href="">Se former</a>
                                </div>
                            </div>

                      </div>
                  </div>
                   <div class="equipment__description" >
                      <div class="equipment__description--container">
                          <div class="col--unit__6 img--wrapper">
                            <img src="images/equipments/hTEC-dECOUPE-LASER-CO2-100-Watt.jpg" alt="" srcset="">
                          </div>
                          <div class="col--unit__6 description--wrapper">
                                <h3 class="equipment--title">Découpe Laser</h3>
                                <p class="about__description">La découpe laser est un procédé de fabrication qui consiste à découper la matière grâce à une grande quantité d'énergie générée par un laser et concentrée sur une très faible surface. Cette technologie est majoritairement destinée aux chaînes de production industrielles, mais peut également convenir aux boutiques, aux établissements professionnels…</p>
                                <h4 class="modele--caracteristic__title">Caractéristiques</h4>
                                  <ul class="ul--listing dash--list">
                                    <li><span class="entitled">Marque</span><span class="entitled--desc"> HITECCNC</span></li>
                                    <li><span class="entitled">Modèle du produit</span><span class="entitled--desc"> HTJ1390</span></li>
                                    <li><span class="entitled">Zone de travail maximale(mm)</span><span class="entitled--desc"> 1300×900</span></li>
                                    <li><span class="entitled">Puissance laser</span><span class="entitled--desc"> Tube laser 100w Reci</span></li>
                                    <li><span class="entitled">Type laser</span><span class="entitled--desc"> Tube de CO2 hermétique et détaché</span></li>
                                    <li><span class="entitled">Vitesse de gravure(mm/min)</span><span class="entitled--desc"> 0-75000</span></li>
                                    <li><span class="entitled">Vitesse de coupe(mm/min)</span><span class="entitled--desc"> 0-40 000</span></li>
                                    <li><span class="entitled">Lettre minimale</span><span class="entitled--desc"> Anglais 1 x 1 mm</span></li>
                                    <li><span class="entitled">Précision de localisation</span><span class="entitled--desc"> ≤0.01mm</span></li>
                                    <li><span class="entitled">Système de conduite</span><span class="entitled--desc"> Pas à pas</span></li>
                                    <li><span class="entitled">Logiciel</span><span class="entitled--desc"> RDworks V8</span></li>
                                    <li><span class="entitled">Logiciels compatibles</span><span class="entitled--desc"> CorelDraw, AutoCAD, Photoshop</span></li>
                                    <li><span class="entitled">Gravure de pente à 360°</span><span class="entitled--desc"> Oui</span></li>
                                    <li><span class="entitled">Source de courant</span><span class="entitled--desc"> AC 220V/50Hz~60HZ (110V est également disponible)</span></li>
                                    <li><span class="entitled">Contrôle de la sortie laser</span><span class="entitled--desc"> Panneau de commande 1-100 % et réglage du logiciel</span></li>
                                    <li><span class="entitled">Précision de numérisation la plus élevée</span><span class="entitled--desc"> 50-1000 DPI</span></li>
                                    <li><span class="entitled">Mode de refroidissement </span><span class="entitled--desc">Système de refroidissement par eau et de protection</span></li>
                                     <li><span class="entitled">Format graphique pris en charge </span><span class="entitled--desc"></span> BMP, CIF, JPEG, TGA, TIFF, PLT, AI, DXF, DST (logiciel de broderie TIANDAO), DWG, CDR, etc.</span></li>
                                     <li><span class="entitled">Accessoires </span><span class="entitled--desc"></span> Ventilateur d'extraction, tuyau d'échappement, pompe à air, refroidisseur CW3000, roue universelle et fondation</span></li>
                                  </ul>
                               <div class="desc--bottom btn--wrapper">
                                    <a class="btn btn--primary" href="">Reserver la machine</a>
                                    <a class="btn btn--bordered" href="">Se former</a>
                                </div>
                          </div>
                      </div>
                  </div>

                  <div class="equipment__description" >
                      <div class="equipment__description--container">
                          <div class="col--unit__6 img--wrapper">
                            <img src="images/equipments/decoupe-vinyle.jpg" alt="" srcset="">
                          </div>

                          <div class="col--unit__6 description--wrapper">
                                <h3 class="equipment--title">Découpe Vinyle</h3>
                                <p class="about__description">Une découpe vinyle est une machine, contrôlée par ordinateur, qui découpe différentes formes et lettres dans de fines feuilles plastifiées autocollantes, selon une image vectorielle du résultat attendu. Nous disposons de deux modèles.</p>
                              <div class="desc--bottom btn--wrapper">
                                    <a class="btn btn--primary" href="">Reserver la machine</a>
                                    <a class="btn btn--bordered" href="">Se former</a>
                                </div>
                          </div>
                      </div>
                      
                      <div class="model--list__wrapper">

                          <div class="title--wrapper">
                            
                            <div class="col--unit__4">
                                Modèle
                            </div>
                            <div class="col--unit__8 desc--title">
                                Description
                            </div>
                          </div>

                          <div class="model--item active">
                              <div class="collapse--btn">
                                <svg class="svg--open" width="24" height="3" viewBox="0 0 24 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 1.75L23.5 1.75" stroke="white" stroke-width="2"/>
                                </svg>

                                <svg class="svg--closed" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M11.75 0V23.5" stroke="white" stroke-width="2"/>
                                <path d="M0 11.75L23.5 11.75" stroke="white" stroke-width="2"/>
                                </svg>

                              </div>

                            <div class="col--unit__4">
                                <h4 class="modele--type">Cameo silhouette 4</h4>
                            </div>
                            <div class="col--unit__8 model--content ">
                              <img src="images/equipments/Decoupe-Vinyle-silhouette-cameo-4.jpg" alt="" class="model--img">
                                  <h4 class="modele--caracteristic__title">Caractéristiques</h4>
                                <ul class="ul--listing dash--list">
                                    <li><span class="entitled">Largeur de coupe 30,4 cm.</span></li>
                                    <li><span class="entitled">Profondeur (support de rouleau fermé) :</span><span class="entitled--desc"></span> 16 cm.</span></li>
                                    <li><span class="entitled">Hauteur :</span><span class="entitled--desc"></span> 17 cm.</span></li>
                                    <li><span class="entitled">Longueur :</span><span class="entitled--desc"></span> 54 cm.</span></li>
                                    <li><span class="entitled">Poids :</span><span class="entitled--desc"></span> 4,3 kg.</span></li>
                                    <li><span class="entitled">1 x Tapis de coupe :</span><span class="entitled--desc"></span> 30,5 cm x 30,5 cm</span></li>
                                    <li><span class="entitled">1 x Adaptateur de lame Kraft 2 mm</span></li>
                                    <li><span class="entitled">1 x Adaptateur de lame à coupe profonde (silh-blade-deep)</span></li>
                                    <li><span class="entitled">1 x Adaptateur de lame Silhouette (silh-blade-3 ou silh-blade-prem)</span></li>
                                  </ul>
                            </div>
                          </div>
                          
                          <div class="model--item">
                            <div class="col--unit__4">
                                <h4 class="modele--type">Traceur Découpe Vinyle signmaster</h4>
                            </div>
                            <div class="collapse--btn">
                              <svg class="svg--open" width="24" height="3" viewBox="0 0 24 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 1.75L23.5 1.75" stroke="white" stroke-width="2"/>
                                </svg>

                                <svg class="svg--closed" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M11.75 0V23.5" stroke="white" stroke-width="2"/>
                                <path d="M0 11.75L23.5 11.75" stroke="white" stroke-width="2"/>
                                </svg>
                            </div>
                            <div class="col--unit__8 model--content">
                                <img src="images/equipments/Decoupe-Vinyle-Plotter.jpg" alt="" class="model--img">
                                <ul class="ul--listing dash--list">
                                          <li><span class="entitled">Taille : </span><span class="entitled--desc">24" (720 mm)M</span></li>
                                          <li><span class="entitled">Types de lames :</span><span class="entitled--desc"> lames Roland standard et lames compatiblesM</span></li>
                                          <li><span class="entitled">Méthode de conduite : </span><span class="entitled--desc">moteur pas à pas.M</span></li>
                                          <li><span class="entitled">Articles inclus : </span><span class="entitled--desc">coupe-vinyle, lames, porte-lame, accessoire pour stylo, câble série, câble USB, câble d'alimentation, logiciel ArtcutM</span></li>
                                          <li><span class="entitled">Interface : </span><span class="entitled--desc">port série et USB 2.0M</span></li>
                                          <li><span class="entitled">Largeur de coupe maximale : </span><span class="entitled--desc">24,80" (630 mm)M</span></li>
                                          <li><span class="entitled">Largeur d'alimentation maximale : </span><span class="entitled--desc">28,3" (720 mm)M</span></li>
                                          <li><span class="entitled">Pression maximale : </span><span class="entitled--desc">500 grammesM</span></li>
                                          <li><span class="entitled">Vitesse maximale : </span><span class="entitled--desc">48 pouces/secondeM</span></li>
                                          <li><span class="entitled">Mémoire : </span><span class="entitled--desc">1 Mo - RecyclableM</span></li>
                                          <li><span class="entitled">Nombre de rouleaux pinceurs : </span><span class="entitled--desc">deux (2)M</span></li>
                                          <li><span class="entitled">Alimentation : </span><span class="entitled--desc">100-220 V AC 50/60 Hz Commutation automatique (dans le monde entier)M</span></li>
                                          <li><span class="entitled">Précision de répétition : </span><span class="entitled--desc">0,005 pouces (0,127 MM)M</span></li>
                                          <li><span class="entitled">Résolution : </span><span class="entitled--desc">0,001 pouce/pas (0,0254 mm/st)M</span></li>
                                    </ul>
                            </div>
                          </div>
                     </div>
                  </div>
                     <div class="equipment__description" >
                      <div class="equipment__description--container">
                          <div class="col--unit__6 img--wrapper">
                            <img src="images/equipments/Presse-chaud-21x29-cm.png" alt="" srcset="">
                          </div>

                          <div class="col--unit__6 description--wrapper">
                                <h3 class="equipment--title">Presse à chaud pour transfert</h3>
                                <p class="about__description">Une presse à chaud ou presse à transfert permet d'imprimer un texte, des logos ou des images sur divers supports. Cette machine fonctionne avec la pression et la chaleur, ce qui permet de transférer sur des supports comme les t-shirt, tasses, assiettes, mugs et bien d’autres.</p>
                               <div class="desc--bottom btn--wrapper">
                                    <a class="btn btn--primary" href="">Reserver la machine</a>
                                    <a class="btn btn--bordered" href="">Se former</a>
                                </div>
                          </div>
                      </div>
                  </div>
                   <div class="equipment__description" >
                      <div class="equipment__description--container">
                          <div class="col--unit__6 img--wrapper">
                            <img src="images/equipments/brodeuse-numerique.png" alt="" srcset="">
                          </div>

                          <div class="col--unit__6 description--wrapper">
                                <h3 class="equipment--title"> Brodeuse numérique</h3>
                               <p class="about__description">Une brodeuse numérique est une machine-outil dotée d’une commande numérique, qui va permettre d’effectuer des travaux de broderie au moyen d’un outil automatisé. Cette machine permet de broder des motifs sur du tissu, mais elle est commandée de manière numérique. </p>
                                <div class="desc--bottom btn--wrapper">
                                    <a class="btn btn--primary" href="">Reserver la machine</a>
                                    <a class="btn btn--bordered" href="">Se former</a>
                                </div>
                          </div>
                      </div>
                      
                      <div class="model--list__wrapper">

                          <div class="title--wrapper">
                            
                            <div class="col--unit__4">
                                Modèle
                            </div>
                            <div class="col--unit__8 desc--title">
                                Description
                            </div>
                          </div>

                          <div class="model--item active">
                              <div class="collapse--btn">
                                <svg class="svg--open" width="24" height="3" viewBox="0 0 24 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 1.75L23.5 1.75" stroke="white" stroke-width="2"/>
                                </svg>

                                <svg class="svg--closed" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M11.75 0V23.5" stroke="white" stroke-width="2"/>
                                <path d="M0 11.75L23.5 11.75" stroke="white" stroke-width="2"/>
                                </svg>

                              </div>

                            <div class="col--unit__4">
                                <h4 class="modele--type">BROTHER Innovis M240</h4>
                            </div>
                            <div class="col--unit__8 model--content ">
                                <img src="images/equipments/brother-innov-is-m240ed.jpg" alt="" class="model--img">
                                  <h4 class="modele--caracteristic__title">Caractéristiques</h4>
                                   <p class="about__description">Machine  à broder, elle dispose de 10 superbe alphabets, 125 motifs de broderie dont 45 personnages de Disney, elle est capable de broder dans un cadre de 100 mm x 100 mm, elle peut être connectée à une clé USB  et utiliser les cartes de broderie standard et Disney de Brother (via un lecteur de carte optionnel), une qualité de broderie exceptionnelle à ce prix.</p>
                                  <p><strong>Points forts:</strong></p>
                                <ul class="ul--listing dash--list">
                                   <li><span class="entitled">Ecran LCD tactile 9,4 cm Haute Définition couleur</span></li>
                                   <li><span class="entitled">Système d’enfilage automatique</span></li>
                                   <li><span class="entitled">Eclairage par LED</span></li>
                                   <li><span class="entitled">Plateau d’extension</span></li>
                                   <li><span class="entitled">125 motifs de broderie dont 45 personnages Disney</span></li>
                                   <li><span class="entitled">Combinaison de plusieurs motifs de broderie possible</span></li>
                                   <li><span class="entitled">Champ de broderie de 100 x 100 mm</span></li>
                                   <li><span class="entitled">10 styles de polices de caractères intégrées</span></li>
                                   <li><span class="entitled">Port USB pour clé USB</span></li>
                                    </ul>
                            </div>
                          </div>
                          
                          <div class="model--item">
                            <div class="col--unit__4">
                                <h4 class="modele--type">BAI Mirror 1501 </h4>
                            </div>
                            <div class="collapse--btn">
                              <svg class="svg--open" width="24" height="3" viewBox="0 0 24 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 1.75L23.5 1.75" stroke="white" stroke-width="2"/>
                                </svg>

                                <svg class="svg--closed" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M11.75 0V23.5" stroke="white" stroke-width="2"/>
                                <path d="M0 11.75L23.5 11.75" stroke="white" stroke-width="2"/>
                                </svg>
                            </div>
                            <div class="col--unit__8 model--content">
                                <img src="images/equipments/Machine-a-broder-BAI.jpg.jpg" alt="" class="model--img">
                                <ul class="ul--listing dash--list">
                                    <li><span class="entitled">Application : </span><span class="entitled--desc">casquettes/chapeaux ; tee-shirts;; chandails à capuchon; patchs ; sacs; jeans; chaussures; chaussettes; cuirs; logotypes ; uniformes; etc.</span></li>
                                    <li><span class="entitled">Modèle : </span><span class="entitled--desc">MIROIR-1201/1501(350*500mm)</span></li>
                                    <li><span class="entitled">Marque : </span><span class="entitled--desc">BAI</span></li>
                                    <li><span class="entitled">Têtes : </span><span class="entitled--desc">1</span></li>
                                    <li><span class="entitled">Aiguilles : </span><span class="entitled--desc">15</span></li>
                                    <li><span class="entitled">Application : </span><span class="entitled--desc">Casquettes / T-shirts / Appartements / etc.</span></li>
                                    <li><span class="entitled">Zone de broderie : </span><span class="entitled--desc">350mm*500mm</span></li>
                                    <li><span class="entitled">Zone de broderie du bonnet : </span><span class="entitled--desc">270°</span></li>
                                    <li><span class="entitled">Max. Vitesse : </span><span class="entitled--desc">1200 s/min</span></li>
                                    <li><span class="entitled">Ordinateur : </span><span class="entitled--desc">Top Wisdom 510</span></li>
                                    <li><span class="entitled">Moteur :</span><span class="entitled--desc"> servomoteur</span></li>
                                    <li><span class="entitled">Dispositif facultatif : </span><span class="entitled--desc">cordons/paillettes/perles</span></li>
                                    <li><span class="entitled">Langue : </span><span class="entitled--desc">16 types de langues</span></li>
                                    <li><span class="entitled">Accessoires : </span><span class="entitled--desc">Casquette / T-shirt / Fixation plate / etc.</span></li>
                                    </ul>
                            </div>
                          </div>
                     </div>

                  </div>
                                  <div class="equipment__description" >
                      <div class="equipment__description--container">
                          <div class="col--unit__6 img--wrapper">
                            <img src="images/equipments/PERCEUSE-A-COLONNE.png" alt="" srcset="">
                          </div>

                          <div class="col--unit__6 description--wrapper">
                                <h3 class="equipment--title">PERCEUSE À COLONNE 750W ZJ5120</h3>
                                <p class="about__description">Caractéristiques:</p>
                                  <ul class="ul--listing dash--list">
                                      <li><span class="entitled">Puissance</span><span class="entitled--desc"> 750W </li>
                                       <li><span class="entitled">Longueur de câble</span><span class="entitled--desc"> 1,8 m </li>
                                       <li><span class="entitled">Mandrin</span><span class="entitled--desc"> 20 mm </li>
                                       <li><span class="entitled">Table de travail</span><span class="entitled--desc"> 290 x 290mm </li>
                                       <li><span class="entitled">Tension</span><span class="entitled--desc"> 230V/50Hz </li>
                                       <li><span class="entitled">Taille</span><span class="entitled--desc"> de la base 460 x 272mm </li>
                                       <li><span class="entitled">Moteur</span><span class="entitled--desc"> Magnétique, fil d'aluminium</li>
                                  </ul>
                               <div class="desc--bottom btn--wrapper">
                                    <a class="btn btn--primary" href="">Reserver la machine</a>
                                    <a class="btn btn--bordered" href="">Se former</a>
                                </div>
                          </div>
                      </div>

                  </div>
                   <div class="equipment__description" >
                      <div class="equipment__description--container">
                          <div class="col--unit__6 img--wrapper">
                            <img src="images/equipments/coupe-scie-electrique.jpg" alt="" srcset="">
                          </div>

                          <div class="col--unit__6 description--wrapper">
                                <h3 class="equipment--title">SCIE ÉLECTRIQUES</h3>
                                <p class="about__description">Description</p>
                              <div class="desc--bottom btn--wrapper">
                                    <a class="btn btn--primary" href="">Reserver la machine</a>
                                    <a class="btn btn--bordered" href="">Se former</a>
                                </div>
                          </div>
                      </div>
                      
                      <div class="model--list__wrapper">

                          <div class="title--wrapper">
                            
                            <div class="col--unit__4">
                                Modèle
                            </div>
                            <div class="col--unit__8 desc--title">
                                Description
                            </div>
                          </div>

                          <div class="model--item active">
                              <div class="collapse--btn">
                                <svg class="svg--open" width="24" height="3" viewBox="0 0 24 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 1.75L23.5 1.75" stroke="white" stroke-width="2"/>
                                </svg>

                                <svg class="svg--closed" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M11.75 0V23.5" stroke="white" stroke-width="2"/>
                                <path d="M0 11.75L23.5 11.75" stroke="white" stroke-width="2"/>
                                </svg>

                              </div>

                            <div class="col--unit__4">
                                <h4 class="modele--type">SCIE CIRCULAIRE 2200W</h4>
                            </div>
                            <div class="col--unit__8 model--content ">
                                <img src="images/equipments/SCIE-CIRCULAIRE-2200W.png" alt="" class="model--img">
                                  <h4 class="modele--caracteristic__title">Caractéristiques</h4>
                                <ul class="ul--listing dash--list">
                                        <li><span class="entitled"> Tension:</span><span class="entitled--desc"> 220-240V ~ 50  / 60Hz</span></li>
                                        <li><span class="entitled">Puissance d'entrée:</span><span class="entitled--desc"> 2200W </span></li>
                                        <li><span class="entitled">Vitesse à vide:</span><span class="entitled--desc"> : 3800 rpm</span></li>
                                        <li><span class="entitled"> Capacité de coupe:</span><span class="entitled--desc"> 45 degrés: 65mm 90 degrés: 80mm </span></li>
                                        <li><span class="entitled">Diamètre de la lame: </span><span class="entitled--desc"> 235 mm </span></li>
                                        <li><span class="entitled">Boîtier en aluminium</span></li>
                                        <li><span class="entitled"> Profondeur de coupe réglable</span></li>
                                        <li><span class="entitled">Coupe biseautée réglable Avec lame 1CT 60T</span></li>
                                    </ul>
                            </div>
                          </div>
                          
                          <div class="model--item">
                            <div class="col--unit__4">
                                <h4 class="modele--type">SCIE À ONGLET</h4>
                            </div>
                            <div class="collapse--btn">
                              <svg class="svg--open" width="24" height="3" viewBox="0 0 24 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 1.75L23.5 1.75" stroke="white" stroke-width="2"/>
                                </svg>

                                <svg class="svg--closed" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M11.75 0V23.5" stroke="white" stroke-width="2"/>
                                <path d="M0 11.75L23.5 11.75" stroke="white" stroke-width="2"/>
                                </svg>
                            </div>
                            <div class="col--unit__8 model--content">
                                <img src="images/equipments/scie-a-onglet-radiale-tacklife-pms01x.jpg" alt="" class="model--img">
                                <p>La scie à onglet aussi très souvent appelée scie radiale, permet de couper précisément et d'une manière efficace des angles de 45 ou 90° sur des pièces peu larges, ainsi que de réaliser des coupes transversales propres. Ce type de scie est indispensable par exemple pour couper des plinthes, des tasseaux, des lambourdes ou encore du lambris.</p>
                            </div>
                          </div>
                     </div>

                  </div>

                  <div class="equipment__description" >
                      <div class="equipment__description--container">
                            <div class="col--unit__6 img--wrapper">
                              <img src="images/equipments/IoT.jpg" alt="" srcset="">
                            </div>

                            <div class="col--unit__6 description--wrapper">
                                    <h3 class="equipment--title">Électronique et IoT</h3>
                                    <p class="about__description">Nous disposons de nombreux équipements électroniques pouvant servir au prototypage ou la réalisation de tout type de projets. Cela comprend des composants électroniques classiques,les carte micro contrôleur ESP3, Arduino (Uno, Mega, Nano, Pro micro…), Raspberry ( Pi 3, Pi4, Pico etc).</p>
                                   <div class="desc--bottom btn--wrapper">
                                    <a class="btn btn--primary" href="">Reserver la machine</a>
                                    <a class="btn btn--bordered" href="">Se former</a>
                                </div>
                            </div>

                      </div>
                  </div>
        </div>
    </div>
</section>
   
{{> main__footer}}