<section class="inner--hero section--margin mid--content"> 
    {{>header}}
    <div class="content">
        <div class="header--text__container">
        <span class="pastille--label pastille--label__black">{{{hero__label}}}</span>
            <h1>{{{hero__title}}}</h1>
            <p>{{{hero__subtitle}}}</p>
         </div> 
     <div class="hero--banner">
                <img src="images/{{{banner__image}}}" alt="" srcset="">
            </div>
     </div>
    </div> 
</section>

<section class="section--wrapper  equipment mb-5">
    <div class="container">


<div class="wrapper">
  <h1>Quick and Simple Tabs</h1>
  <p>A quick and easy method for tabs that supports multiple tab groups on one page.</p>
<ul class="tabs clearfix" data-tabgroup="first-tab-group">
  <li><a href="#tab1" class="active">Tab 1</a></li>
  <li><a href="#tab2">Tab 2</a></li>
  <li><a href="#tab3">Tab 3</a></li>
  <li><a href="#tab4">Tab 4</a></li>
  <li><a href="#tab5">Tab 5</a></li>
</ul>
<section id="first-tab-group" class="tabgroup">
  <div id="tab1">
    <h2>Heading 1</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla deserunt consectetur ratione id tempore laborum laudantium facilis reprehenderit beatae dolores ipsum nesciunt alias iusto dicta eius itaque blanditiis modi velit.</p>
  </div>
  <div id="tab2">
    <h2>Heading 2</h2>
    <p>Adipisci autem obcaecati velit natus quos beatae explicabo at tempora minima voluptates deserunt eum consectetur reiciendis placeat dolorem repellat in nam asperiores impedit voluptas iure repellendus unde eveniet accusamus ex.</p>
  </div>
  <div id="tab3">
    <h2>Heading 3</h2>
    <p>Atque ratione soluta laboriosam illo inventore amet ipsum aliquam assumenda harum provident nam accusantium neque debitis obcaecati maxime officia saepe ad ducimus in quam libero vero quasi. Saepe sit nisi?</p>
  </div>
  <div id="tab4">
    <h2>Heading 4</h2>
    <p>Quidem perferendis id sapiente cumque ullam repellendus dolorum odit rerum quibusdam tempora voluptatibus ipsum. Maiores laborum velit aperiam dicta quisquam assumenda at esse exercitationem culpa sequi porro minus ipsa aut.</p>
  </div>
  <div id="tab5">
    <h2>Heading 5</h2>
    <p>Iste eligendi ratione libero impedit quos necessitatibus labore corporis deserunt quo porro hic eius delectus ea ad amet dolore officiis debitis! Libero officia magnam consequuntur dignissimos molestias quia modi repellat.</p>
  </div>
</section>
</div>

<div class="wrapper">
<ul class="tabs clearfix" data-tabgroup="second-tab-group">
  <li><a href="#tab6" class="active">Tab 1</a></li>
  <li><a href="#tab7">Tab 2</a></li>
  <li><a href="#tab8">Tab 3</a></li>
  <li><a href="#tab9">Tab 4</a></li>
  <li><a href="#tab10">Tab 5</a></li>
</ul>
<section id="second-tab-group" class="tabgroup">
  <div id="tab6">
    <h2>Heading 1</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla deserunt consectetur ratione id tempore laborum laudantium facilis reprehenderit beatae dolores ipsum nesciunt alias iusto dicta eius itaque blanditiis modi velit.</p>
  </div>
  <div id="tab7">
    <h2>Heading 2</h2>
    <p>Adipisci autem obcaecati velit natus quos beatae explicabo at tempora minima voluptates deserunt eum consectetur reiciendis placeat dolorem repellat in nam asperiores impedit voluptas iure repellendus unde eveniet accusamus ex.</p>
  </div>
  <div id="tab8">
    <h2>Heading 3</h2>
    <p>Atque ratione soluta laboriosam illo inventore amet ipsum aliquam assumenda harum provident nam accusantium neque debitis obcaecati maxime officia saepe ad ducimus in quam libero vero quasi. Saepe sit nisi?</p>
  </div>
  <div id="tab9">
    <h2>Heading 4</h2>
    <p>Quidem perferendis id sapiente cumque ullam repellendus dolorum odit rerum quibusdam tempora voluptatibus ipsum. Maiores laborum velit aperiam dicta quisquam assumenda at esse exercitationem culpa sequi porro minus ipsa aut.</p>
  </div>
  <div id="tab10">
    <h2>Heading 5</h2>
    <p>Iste eligendi ratione libero impedit quos necessitatibus labore corporis deserunt quo porro hic eius delectus ea ad amet dolore officiis debitis! Libero officia magnam consequuntur dignissimos molestias quia modi repellat.</p>
  </div>
</section>
</div>

      <div class="nav--tabs">
         <div class="scroll--controllers__wrap">
            <span id="slideLeft"><i class="arrow left"></i></span>
            <span id="slideRight"><i class="arrow right"></i></span>
         </div>
          <div class="nav--tabs--container">
            <a class="nav--tabs__links active" data-id="1">Impression 3D</a>
            <a class="nav--tabs__links">Fraiseuse numérique</a>
            <a class="nav--tabs__links">Découpe Laser</a>
            <a class="nav--tabs__links">Impression 3D</a>
            <a class="nav--tabs__links">Impression 3D</a>
             <a class="nav--tabs__links active" data-id="1">Impression 3D</a>
            <a class="nav--tabs__links">Fraiseuse numérique</a>
            <a class="nav--tabs__links">Découpe Laser</a>
            <a class="nav--tabs__links">Impression 3D</a>
            <a class="nav--tabs__links">Impression 3D</a>
             <a class="nav--tabs__links active" data-id="1">Impression 3D</a>
            <a class="nav--tabs__links">Fraiseuse numérique</a>
            <a class="nav--tabs__links">Découpe Laser</a>
            <a class="nav--tabs__links">Impression 3D</a>
            <a class="nav--tabs__links">Impression 3D</a>
          </div>
      </div>

        <div class="equipment__description">
           <div class="col--unit__6 img--wrapper">
               <img src="images/Rectangle 34624141.png" alt="" srcset="">
           </div>

           <div class="col--unit__6 description--wrapper">
                <h3 class="equipment--title">Impression 3D</h3>
                <p class="about__description">Lorem ipsum dLorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsanolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan</p>
                <div class="desc--bottom btn--wrapper">
                    <a class="btn btn--primary" href="">Reserver la machine</a>
                    <a class="btn btn--bordered" href="">Se former</a>
                </div>
           </div>
        </div>

        <div class="model--list__wrapper">
          <div class="title--wrapper">
            
            <div class="col--unit__4">
                Modèle
            </div>
            <div class="col--unit__8">
                Description
            </div>
          </div>

          <div class="model--item">
              <div class="collapse--btn" data-id="a">
                <svg width="24" height="3" viewBox="0 0 24 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 1.75L23.5 1.75" stroke="white" stroke-width="2"/>
                </svg>

              </div>

            <div class="col--unit__4">
                <h4 class="modele--type">Creality CR-30: The 3DPrintMill,Infinite-Z, Belt 3D Printer</h4>
            </div>
            <div class="col--unit__8 model--content ">
                <img src="images/61heffQr4cS._AC_UF894,1000_QL80_.jpg" alt="" class="model--img">
                  <h4 class="modele--caracteristic__title">Caractéristiques</h4>
                 <ul class="ul--listing dash--list">
                        <li><span class="entitled">Technologie:</span><span class="entitled--desc">FDM</span></li>
                        <li><span class="entitled">Dimensions de la machine:</span><span class="entitled--desc">535 mm x 656 mm x 410 mm</span></li>
                        <li><span class="entitled">Poids de la Machine:</span><span class="entitled--desc"> 16,5 kg</span></li>
                        <li><span class="entitled">Poids du colis:</span><span class="entitled--desc"> 20,5 kg</span></li>
                        <li><span class="entitled">Slicer: </span><span class="entitled--desc">CrealityBelt (exclusif CR-30)</span></li>
                        <li><span class="entitled"> Mode de fonctionnement: </span><span class="entitled--desc">En ligne (câble USB fourni) / Carte SD</span></li>
                    </ul>
            </div>
          </div>
            <div class="model--item">
              <div class="col--unit__4">
                  <h4 class="modele--type">Creality CR-30: The 3DPrintMill,Infinite-Z, Belt 3D Printer</h4>
              </div>
              <div class="collapse--btn" data-id="b">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M11.75 0V23.5" stroke="white" stroke-width="2"/>
                <path d="M0 11.75L23.5 11.75" stroke="white" stroke-width="2"/>
                </svg>
              </div>
              <div class="col--unit__8 model--content">
                  <img src="images/61heffQr4cS._AC_UF894,1000_QL80_.jpg" alt="" class="model--img">
                  <ul class="ul--listing dash--list">
                          <li><span class="entitled">Technologie:</span><span class="entitled--desc">FDM</span></li>
                          <li><span class="entitled">Dimensions de la machine:</span><span class="entitled--desc">535 mm x 656 mm x 410 mm</span></li>
                          <li><span class="entitled">Poids de la Machine:</span><span class="entitled--desc"> 16,5 kg</span></li>
                          <li><span class="entitled">Poids du colis:</span><span class="entitled--desc"> 20,5 kg</span></li>
                          <li><span class="entitled">Slicer: </span><span class="entitled--desc">CrealityBelt (exclusif CR-30)</span></li>
                          <li><span class="entitled"> Mode de fonctionnement: </span><span class="entitled--desc">En ligne (câble USB fourni) / Carte SD</span></li>
                      </ul>
              </div>
          </div>
        </div>
    </div>
</section>
   
{{> main__footer}}