<section class="inner--hero section--margin mid--content"> 
    {{>header}}
</section>

<div class="connexion--form main--wrapper section--margin">


            <div class="col--unit__6 login__form">
                <div class="form--content">
                    <div class="title--group">
                        <h3>Se connecter</h3>
                    </div>
                    <form action="">
                            <div class="input--wrapper">
                                    <label for="">Email</label>
                                    <input type="text" name="" id="">
                                </div>
                            <div class="input--wrapper">
                                    <label for="">Mot de pass</label>
                                    <input type="password" name="" id="">
                            </div>
                            <input class="btn btn--primary" type="submit" value="Se connecter">
                    </form>
                </div>
            </div>


                 <div class="col--unit__6 signup__form">
                     <div class="form--content">
                            <div class="title--group">
                                <h3>S'inscrire</h3>
                            </div>
                            <form action="">
                                <div class="input--wrapper">
                                        <label for="">Nom et prénom </label>
                                        <input type="text" name="" id="">
                                    </div>
                                    
                                <div class="input--wrapper col--unit__6">
                                        <label for="">Email</label>
                                        <input type="text" name="" id="">
                                    </div>
                                <div class="input--wrapper">
                                        <label for="">Mot de pass</label>
                                        <input type="password" name="" id="">
                                </div>

                                <div class="input--wrapper ">
                                        <label for="">Confirmez le mot de pass</label>
                                        <input type="password" name="" id="">
                                </div>


                                <input class="btn btn--primary" type="submit" value="S'inscrire">
                            </form>
                    </div>
                </div>
</div>