{{> inner--hero}}

<section class="section--wrapper projects--list bg--light mt-8">
    <div class="container">
         <div class="container--title__group">
           <div class="title--content">
                 <h2>Découvrez nos projets</h2>
                 <p class="pt-2">Les projets mises en œuvre par H-Fablab, avec et au bénéfice des communautés, contribuent au renforcement de la qualité de la formation, de la recherche et de la technologie</p>
           </div>
        </div>

        <div class="project--list__wrapper">
            <div class="col--unit__6 project--item flex--container">
                    <div class="image-box col--unit__6">
                        <img src="images/Rectangle 12 (1).png" alt="" srcset="">
                    </div>

                    <div class="content--box col--unit__6">
                       <div class="title--group">
                             <h4 class="project--title">Couveuse open source</h4>
                       </div>

                         <div class="dark--separator"></div>

                        <p class="pt-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam...</p>
                       <a class="underlined--btn" href="http://">Découvrir</a>
                    </div>
            </div>

             <div class="col--unit__6 project--item flex--container">
                    <div class="image-box col--unit__6">
                        <img src="images/Rectangle 12 (1).png" alt="" srcset="">
                    </div>

                    <div class="content--box col--unit__6">
                       <div class="title--group">
                             <h4 class="project--title">Couveuse open source</h4>
                       </div>

                         <div class="dark--separator"></div>

                        <p class="pt-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis...</p>
                         <a class="underlined--btn" href="http://">Découvrir</a>
                    </div>
            </div>

             <div class="col--unit__6 project--item flex--container">
                    <div class="image-box col--unit__6">
                        <img src="images/Rectangle 12 (1).png" alt="" srcset="">
                    </div>

                    <div class="content--box col--unit__6">
                       <div class="title--group">
                             <h4 class="project--title">Couveuse open source</h4>
                       </div>

                         <div class="dark--separator"></div>

                        <p class="pt-1">Lorem ipsum dolor sit amet, consectetur adipiscing...</p>
                        <a class="underlined--btn" href="http://">Découvrir</a>
                    </div>
            </div>

             <div class="col--unit__6 project--item flex--container">
                    <div class="image-box col--unit__6">
                        <img src="images/Rectangle 12 (1).png" alt="" srcset="">
                    </div>

                    <div class="content--box col--unit__6">
                       <div class="title--group">
                             <h4 class="project--title">Couveuse open source</h4>
                       </div>

                         <div class="dark--separator"></div>

                        <p class="pt-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis</p>
                         <a class="underlined--btn" href="http://">Découvrir</a>
                    </div>
            </div>

             <div class="col--unit__6 project--item flex--container">
                    <div class="image-box col--unit__6">
                        <img src="images/Rectangle 12 (1).png" alt="" srcset="">
                    </div>

                    <div class="content--box col--unit__6">
                       <div class="title--group">
                             <h4 class="project--title">Couveuse open source</h4>
                        
                       </div>

                         <div class="dark--separator"></div>

                        <p class="pt-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis san</p>
                        <a class="underlined--btn" href="http://">Découvrir</a>
                    </div>
            </div>

             <div class="col--unit__6 project--item flex--container">
                    <div class="image-box col--unit__6">
                        <img src="images/Rectangle 12 (1).png" alt="" srcset="">
                    </div>

                    <div class="content--box col--unit__6">
                       <div class="title--group">
                             <h4 class="project--title">Couveuse open source</h4>
                       </div>

                         <div class="dark--separator"></div>

                        <p class="pt-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ccumsan</p>
                         <a class="underlined--btn" href="http://">Découvrir</a>
                    </div>
            </div>
        </div>
    </div>
</section>

{{> latest__news}}
{{> main__footer}}
