{{> main__nav}}
<section class="inner--hero inner--hero__bloc section--margin mt-7">
         <div class="hero--banner">
                <img src="images/{{{locals.banner__image}}}" alt="" srcset="">
                 <div class="header--text__container">
                        <h1>{{{locals.hero__title}}}</h1>
                        <p>{{{locals.hero__subtitle}}}</p>
                    </div>
                 <div class="dark--separator"></div>
        </div>  
</section>

    <section class="section--wrapper mt-5 mb-5">
          <div class="container flex--container">
       
        <div class="col--unit__6  centered--box form--wrapper">
            <form action="">
                <div class="input--wrapper">
                        <label for="">Nom complet </label>
                        <input type="text" name="" id="">
                    </div>
                    
                <div class="flex--container">
                     <div class="input--wrapper col--unit__6">
                        <label for="">Email</label>
                        <input type="text" name="" id="">
                    </div>

                    <div class="input--wrapper col--unit__6">
                        <label for="">Téléphone </label>
                        <input type="text" name="" id="">
                    </div>
                </div>

                 <div class="input--wrapper">
                        <label for="">Choix des équipements</label>
                         <div class="select">
                            <select>
                           <option value="1">Imprimante 3D</option>
                            <option value="2">Découpe laser</option>
                            <option value="3">Découpe vinyle</option>
                            </select>
                        </div>
                </div>

                <input class="btn btn--primary" type="submit" value="Réserver">
            </form>
        </div>
    </div>
    </section>

{{> main__footer}}