<div class="connexion--form main--wrapper">
    <div class="cover--section">
        <img src="images/cover.jpg" alt="" srcset="">

        <div class="back--icon">
           <a class="content" href="">
             <span>
                <svg width="14" height="9" viewBox="0 0 14 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0.792969 4.5L5.14597 0.146004L5.85397 0.853004L2.70697 4L14 4V5L2.70697 5L5.85397 8.146L5.14597 8.854L0.792969 4.5Z" fill="#1C1C1E"/>
                </svg>
            </span>
            <p>Retour sur le site</p>
           </a>
        </div>
    </div>
    <div class="main--content">
        <div class="upper--content">
            <p>Vous avez déja un compte?</p>
            <a class="btn btn--bordered" href="/connexion">Se connecter</a>
        </div>

        <div class="form--content">
            <div class="title--group">
                <h3>S'inscrire</h3>
            </div>
         <form action="">
                <div class="input--wrapper">
                        <label for="">Nom et prénom </label>
                        <input type="text" name="" id="">
                    </div>
                    
                 <div class="input--wrapper col--unit__6">
                        <label for="">Email</label>
                        <input type="text" name="" id="">
                    </div>
                <div class="input--wrapper">
                        <label for="">Mot de pass</label>
                        <input type="password" name="" id="">
                </div>

                <div class="input--wrapper ">
                        <label for="">Confirmez le mot de pass</label>
                        <input type="password" name="" id="">
                </div>


                <input class="btn btn--primary" type="submit" value="S'inscrire">
            </form>
        </div>
    </div>
</div>