{{> main__nav}}
<section class="inner--hero inner--hero__bloc section--margin mt-7">
         <div class="hero--banner">
                <img src="images/{{{locals.banner__image}}}" alt="" srcset="">
                 <div class="header--text__container">
                        <h1>{{{locals.hero__title}}}</h1>
                        <p>{{{locals.hero__subtitle}}}</p>
                    </div>
                 <div class="dark--separator"></div>
        </div>  
</section>

    <section class="section--wrapper mt-5 mb-5">
          <div class="container flex--container">
       
        <div class="col--unit__6  centered--box form--wrapper">
            <form action="" enctype="multipart/form-data">
                <div class="input--wrapper">
                        <label for="">Nom complet </label>
                        <input type="text" name="" id="">
                    </div>
                     <div class="input--wrapper">
                        <label for="">Pays</label>
                        <input type="text" name="" id="">
                    </div>
                     <div class="input--wrapper ">
                        <label for="">Adresse</label>
                        <input type="text" name="" id="">
                    </div>
                <div class="flex--container">
                     <div class="input--wrapper col--unit__6">
                        <label for="">Email</label>
                        <input type="text" name="" id="">
                    </div>

                    <div class="input--wrapper col--unit__6">
                        <label for="">Téléphone </label>
                        <input type="text" name="" id="">
                    </div>
                </div>

                <div class="input--wrapper">
                        <label for="">Titre du projet </label>
                        <input type="text" name="" id="">
                </div>

                <div class="input--wrapper ">
                        <label for="">Résumé du projet </label>
                        <textarea name="" id="" cols="30" rows="6"></textarea>
                </div>

                <div class="input--wrapper ">
                        <label for="">Besoin en matériel</label>
                        <textarea name="" id="" cols="15" rows="6"></textarea>
                </div>

                 <div class="input--wrapper">
                        <label for="">Niveau d'avancement </label>
                         <div class="select">
                            <select>
                            <option value="1">Idéation</option>
                            <option value="2">Prototype</option>
                            <option value="3">Avancé</option>
                            <option value="3">Autres</option>
                            </select>
                        </div>
                </div>

                 <div class="input--wrapper ">
                        <label for="">Ajouter un fichier </label>
                           <input type="file" id="profile_pic" name="profile_pic" accept="application/pdf" />
                </div>


                <input class="btn btn--primary" type="submit" value="Soumettre">
            </form>
        </div>
    </div>
    </section>

{{> main__footer}}