{{> main__nav}}
{{> inner--hero__bloc}}

    <section class="section--wrapper mt-5 mb-5">
          <div class="container flex--container">
       
        <div class="col--unit__6  centered--box form--wrapper">
            <form action="">
                <div class="input--wrapper">
                        <label for="">Nom complet </label>
                        <input type="text" name="" id="">
                    </div>
                     <div class="input--wrapper">
                        <label for="">Pays</label>
                        <input type="text" name="" id="">
                    </div>
                     <div class="input--wrapper ">
                        <label for="">Adresse</label>
                        <input type="text" name="" id="">
                    </div>
                <div class="flex--container">
                     <div class="input--wrapper col--unit__6">
                        <label for="">Email</label>
                        <input type="text" name="" id="">
                    </div>

                    <div class="input--wrapper col--unit__6">
                        <label for="">Téléphone </label>
                        <input type="text" name="" id="">
                    </div>
                </div>

                <div class="input--wrapper">
                        <label for="">Titre du projet </label>
                        <input type="text" name="" id="">
                </div>

                <div class="input--wrapper ">
                        <label for="">Résumé du projet </label>
                        <textarea name="" id="" cols="30" rows="6"></textarea>
                </div>

                <div class="input--wrapper ">
                        <label for="">Besoin en matériel</label>
                        <textarea name="" id="" cols="15" rows="6"></textarea>
                </div>

                 <div class="input--wrapper">
                        <label for="">Niveau d'avancement </label>
                        <input type="text" name="" id="">
                </div>

                 <div class="input--wrapper ">
                        <label for="">Ajouter un fichier </label>
                        <textarea name="" id="" cols="30" rows="6"></textarea>
                </div>


                <input class="btn btn--primary" type="submit" value="Submit">
            </form>
        </div>
    </div>
    </section>

{{> main__footer}}