
            <div class="main--content post--padding">
                <h3 class="post--title title--content">De l'Idée à la Réalité : Mise en Place d'une Couveuse Hybride Écologique par l'Équipe H-FABLAB</h2>
                <p class="paragraph">Dans le cadre du challenge "I Make 4 My City" organisé par la Fondation Orange, l'équipe de H-FABLAB s'est engagée dans une mission d'envergure : former et accompagner 15 participants à la conception et à la réalisation d'une couveuse hybride éco-responsable. Cet article vous emmène dans les coulisses de cette aventure créative et éducative.</p>
                
                <p class="paragraph">L'équipe H-FABLAB s'est associée à la Fondation Orange pour une mission ambitieuse : former 15 participants à la conception et à la réalisation d'une couveuse hybride éco-responsable. Au cœur de cette aventure, la modélisation 3D a été un élément clé, avec l'utilisation du logiciel Fusion 360. Guidés par l'équipe H-FABLAB, les participants ont exploré la conception industrielle et mécanique, créant des modèles 3D et acquérant des compétences essentielles.</p>

                <p class="paragraph">La journée inaugurale a plongé les participants dans la conception 3D. Ils ont utilisé Fusion 360 pour créer des modèles, dont un cube en 3D, sous la supervision attentive de l'équipe H-FABLAB. La coordination a été primordiale, avec des échanges entre les groupes pour déterminer le positionnement optimal des éléments du système.</p>

                <p class="paragraph">À la fin de chaque journée, des bilans étaient dressés, permettant aux participants de partager leurs apprentissages et de discuter des défis rencontrés. L'implication de l'équipe H-FABLAB a créé une dynamique d'apprentissage stimulante et collective. Grâce à cette formation, les participants ont acquis des compétences cruciales en modélisation 3D et ont progressé dans la réalisation de la couveuse hybride.</p>


                <p class="paragraph">La contribution de l'équipe H-FABLAB en tant qu'association formatrice a été cruciale pour cette aventure. En collaborant avec la Fondation Orange, elle a jeté les bases d'une agriculture moderne et durable, tout en formant une nouvelle génération de concepteurs et d'innovateurs. Cette couveuse hybride représente l'union de l'expertise et de la passion pour un avenir agricole plus responsable et prometteur.</p>
                    <div class="img--block">
                      <img src="images/blog/couveuse.jpg" alt="" srcset="">
                    <span class="img--legend"> Spring in Japan lasts from about mid </span>
                </div>
            </div>