
            <div class="main--content post--padding">
                <h3 class="post--title title--content">Découvrez les temps forts du TECH CAMP de l'été 2022 !</h2>
                <p class="paragraph">Revivez les moments exceptionnels du TECH CAMP de l'été 2022, où vos enfants ont plongé dans un univers captivant dédié à la technologie. Conçu pour les jeunes âgés de 8 à 16 ans, ce camp technologique a offert une exploration passionnante de la programmation, de l'électronique, de l'impression 3D, de la découpe laser et de la robotique.</p>

                <p class="paragraph">L'édition estivale 2022 du TECH CAMP a été marquée par une immersion totale dans les compétences technologiques. Sous la tutelle de nos experts passionnés, les enfants ont appris tout en s'amusant. Les activités pratiques et les projets concrets ont donné vie à leurs nouvelles connaissances.</p>

                <p class="paragraph">Les sessions se sont déroulées chaque mercredi et samedi de 09h à 12h, du 5 au 29 juillet pour la première session, et du 2 au 30 août pour la deuxième.</p>

                <p class="paragraph">Le TECH CAMP a offert à vos enfants une opportunité unique de développer des compétences technologiques tout en s'amusant. L'été 2022 a été marqué par des moments inoubliables de découvertes, d'apprentissage et de divertissement.</p>

                <div class="video--block">
                    <iframe width="1487" height="717" src="https://www.youtube.com/embed/iizsBKvhzdI" title="TECH CAMP 4 KID - HV FabLab" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>
